[2015-08-24 15:55] joolswills opened #2 "Page up / Page down dont work until a restart"
When configuring controls - page up / page down wont work until a restart.

I may look into this myself, but putting here so it doesn't get forgotten.

[2015-08-25 04:00] MattWatt commented on #2
I'm finding that the left and right shoulder buttons (not the trigger) no longer do the paging.  Unfortunately I discovered that the triggers are mapped to paging.  I'd prefer the behavior I had with 2.6 and would rather have the shoulder buttons mapped to paging.

Perhaps this is an issue with the new somewhat confusing controller configuration in the latest emulation station?  I find the "top" a

[2015-09-14 16:42] joolswills opened #3 "parenthesis removal and other tweaks"
The current behaviour of ES is to remove content in parenthesis in rom names. I believe this is confusing, and would be better to display the full name - especially when you have region info in rom names (or set information as with mame). I believe recalbox fork of ES also has changed this.

it's a one-liner, so wanted to make sure you are happy for me to do this.

I'd like to make other changes t

[2015-09-14 16:44] joolswills commented on #3
Unfortunately it looks like ES is truly dead for now, and is getting fragmented with forks, which is a shame. I hope we can at some point we can push stuff upstream but for now, it looks like we are on our own.

[2015-09-14 16:46] HerbFargus commented on #3
Tis unfortunate but I guess gives us the liberty to customise it for our needs until its picked back up again. The above fixes sound valid to me.

[2015-09-19 00:02] joolswills opened #4 "Need the ability to configure player 2 / 3 / 4"
I know recalbox has this on their fork, although their controller setup is different of course etc, but it would be useful for us to have the ability to configure another controller, and specify it as player 2 / 3 / 4 - that could then be passed to our controller generation and in the case of retroarch keyboard configs, or pifba it would configure the correct player etc.

In the meantime I will im

[2015-09-19 01:32] joolswills opened #6 "reduce hold to skip time even more"
Currently at 2.5 seconds - I think we can reduce it further - even perhaps a second ? It feels too long to me currently. Thoughts ?

[2015-09-19 01:33] joolswills commented on #6
or maybe 1.5 seconds?

[2015-09-19 02:23] HerbFargus commented on #6
1.5 or two should suffice

[2015-09-23 07:13] gizmo98 opened #7 "Skip controller config page if configured controller is plugged in after startup."
If emulationstation starts without any controller configuration screen pops up. If a configured controller is connected (bluetooth or wire) configuration screen stays. It is necessary to reconfigure the controller or restart es. It would be nice if the configuration screen tests if new connected controllers are already configured. It should be only necessary to reconfigure a controller if you open

[2015-09-28 11:56] majerle9 opened #8 "How to disable menu options"
I have a Raspberry Pi 2 B running RetroPie and EmulationStation Simple Theme and it works perfectly. My emulators are all set right, my roms are all scraped, and my PS3 controllers are configured perfectly. My only issue is that allowing a friend or a child to use my system leaves me open to the possibility of them destroying my settings because they accidentally went into a menu and started chang

[2015-09-28 17:35] gizmo98 commented on #7
@petrockblog, @joolswills I modified GUIDetectDevice.cpp to get the right behavior:
https://github.com/gizmo98/EmulationStation/commit/cdda6f6dc1c443dff1345d32e3f1ca3ded130cb5

Tested with a PS3 controller. Skips input config menu if known input devices are connected after startup. Reconfiguration is possible if input configuration is selected from menu.

[2015-09-28 17:52] joolswills commented on #7
nice job - please can you submit it as a pull request and I'll give it a test. thanks.

[2015-09-28 19:55] gizmo98 commented on #7
I just wanted to here your opinion beforehand. ;-)
I will do some more testing and do a PR then.

[2015-09-29 19:26] joolswills commented on #7
Sure thing - looks good to me and thanks :)

[2015-09-29 19:38] joolswills commented on #2
You will need to manually edit the ES configuration to change it (without affecting retroarch) - it all depends on your controller also - on my controller i configure left bottom / right bottom to the two shoulder buttons (I don't have triggers).

No need to be be confused - is it clearly illustrated on the wiki with controller images- https://github.com/RetroPie/RetroPie-Setup/wiki/First-Installa

[2015-09-29 19:39] joolswills commented on #2
I do agree that perhaps the naming is not ideal, but there are no plans to change this currently.

[2015-09-29 20:27] joolswills commented on #2
If you consider the ps3 controller it makes more sense.

[2015-10-03 19:25] joolswills commented on #6
committed.

[2015-10-03 19:25] #6 closed

[2015-10-03 19:26] #3 closed

[2015-10-15 02:40] joolswills opened #10 "gamelists.xml for subfolders support"
@gonzo-the-great wrote:

moved from https://github.com/RetroPie/RetroPie-Setup/issues/950

[2015-11-01 09:09] smartroad opened #11 "Match ES load screen same as splashscreen"
I was wondering if it would be possible to match the ES load screen with the retrofits splashscreen. Having some text saying that emulation station is loading.

Just think it would add some continuity with the retrofit boot sequence. I know that ES loads an SVG for its boot screen so this whole idea may be pointless (or it is just pointless lol)

[2015-11-01 09:29] gizmo98 commented on #8
You could comment out every menu item listed here and recompile:
https://github.com/Aloshi/EmulationStation/blob/646bede3d9ec0acf0ae378415edac136774a66c5/es-app/src/guis/GuiMenu.cpp#L36

Or you could add a option to show up menu item if there config file option is set or button combo is present. I don't think there is a ready to use function atm.

[2015-11-01 09:31] gizmo98 commented on #11
You can convert jpg to svg. I would suggest it does not look good ;-)

[2015-11-01 09:32] gizmo98 commented on #7
@joolswills
Can be closed?!

[2015-11-01 09:53] smartroad commented on #8
Maybe they could be activated by an optional code? Using a gamepad having to press up up down down left right (configurable to the setup obviously ;))

[2015-11-19 14:39] joolswills opened #12 "Adding support for configuration of retroarch hotkey enable button"
Due to problems with retroarch when the hotkey enable button is shared with a configured button (such as select), it would be a good idea to allow configuration of a hotkey button from the ES configuration. Those with controllers with enough extra buttons can easily configure it to something else.

It would need to allow configuration of a button already set (unless the other buttons), but that sh

[2015-12-03 11:11] #7 closed

[2015-12-03 11:20] gizmo98 opened #13 "Add some PRs from upstream"
Upstream was not updated for a while. There are some open PRs we could evaluate and use:
-Symlink support https://github.com/Aloshi/EmulationStation/pull/430
-Code fixes https://github.com/Aloshi/EmulationStation/pull/455
-Proper shutdown https://github.com/Aloshi/EmulationStation/pull/502
-Improve md hashing https://github.com/Aloshi/EmulationStation/pull/422

[2016-01-05 00:43] joolswills opened #15 "Save gameslists with shutdown / restart"
Currently emulationstation gets killed when shutting down / restarting - so gameslists.xml don't get saved

To make it more consistent we could use a trick like recalbox, and just touch a file and quit - the es launch script would then decide whether to restart or shutdown. This would mean it would only have this functionality when launched from a modified launch script though.

Alternatively, we

[2016-01-05 00:49] joolswills opened #16 "add menu item to rescan systems / roms"
as title

[2016-01-21 22:11] dantheman213 opened #18 "Input devices should be supported de facto without need to mapping it buttons on boot"
Keyboard should be supported de facto without need to mapping buttons on boot. If you don't have a controller plugged in to do something other than play (e.g. configuring, setting up, transferring roms, etc) then it should work without a problem.

The same is true to for a controller. Should be able to map in the top 10 most popular USB controllers and map buttons automatically with an option to o

[2016-01-21 22:14] dantheman213 opened #19 "Provide GUI option to run embedded FTP/HTTP servers for easy rom/save transfer"
There should be an option in the Retropie GUI that allows for enabling an embedded web server and/or FTP server that can run quickly to allow for no-nonsense ROM or game save transfer for non-technical people or lazy technical people.

[2016-01-21 22:15] dantheman213 opened #20 "Export game saves to Google Drive or Dropbox"
Export game saves to Google Drive or Dropbox! Allow for easy syncing if you want to play games on another emulator on another device.

[2016-01-21 22:18] dantheman213 opened #21 "Improve settings in GUI"
Settings shouldn't be located as ab "emulator" option in the software. It doesn't make sense to mix apples and oranges in the same UI paradigm.

I think we should split out the settings as a button at the header or footer on the screen.

On that screen the settings should be more streamlined. All options should keep you within the GUI and execute any scripts/programs in the background and return t

[2016-01-22 06:38] Ravian2002 commented on #20
that's quite handy

[2016-01-25 19:02] joolswills opened #22 "Deleting roms via metadata menu causes a crash"
Known ES issue https://github.com/Aloshi/EmulationStation/issues/222

Someone did make a fix so I will look into applying it on our fork https://github.com/Aloshi/EmulationStation/pull/346

[2016-01-28 02:32] turquoise-turtle opened #24 "German Translation"
I'd be fine with doing all the work with finding translations for all the Emulation Station menu items, just need someone to help me find the specific folders and files to translate.

[2016-01-28 06:17] johnjelinek opened #25 "Scraping takes forever"
When I scrape, it takes forever loading the next item, this is the error:
[code]

[2016-01-28 06:23] johnjelinek commented on #25
Note: if I pick `THEARCHIVE` scraper, ES crashes.

[2016-01-28 10:52] smartroad commented on #25
I have been unable to get to http://thegamesdb.net/ so that could be part of the issue? If you browse to the site I get 'Website is offline' errors

[2016-01-28 14:05] joolswills commented on #25
Yeh the website is offline. This would be best posted to the forum first - note that we are unlikely to do any work on the ES scraper - sselph's scraper is a lot quicker so that is recommended (may also be non working is the gamesdb is down)

[2016-01-28 14:07] johnjelinek commented on #25
How do I use sselph's scraper?

—
Sent from Mailbox

On Thu, Jan 28, 2016 at 8:05 AM, Jools Wills <notifications@github.com>
wrote:

[2016-01-28 14:08] joolswills commented on #25
https://github.com/RetroPie/RetroPie-setup/wiki/scraper

[2016-01-28 14:10] johnjelinek commented on #25
Great, thanks.

—
Sent from Mailbox

On Thu, Jan 28, 2016 at 8:08 AM, Jools Wills <notifications@github.com>
wrote:

[2016-01-28 14:10] joolswills commented on #25
I will leave this open for any one else to reference. Hopefully the site will come back soon.

[2016-01-28 14:11] joolswills commented on #24
we we have no plans to support multi language ES currently. You might want to look at the recalbox fork which I believe supports it https://github.com/recalbox/recalbox-emulationstation

[2016-01-28 14:15] joolswills commented on #19
This is the wrong bugtracker - feature requests for RetroPie should be posted https://github.com/RetroPie/RetroPie-Setup - but you would do better to discuss on the forum first. In this case, we already support sftp / samba shares and have a usbmount script, so I don't see why we need additional protocols.

[2016-01-28 14:15] #19 closed

[2016-01-28 14:17] joolswills commented on #18
It takes only a minute or two to configure inputs - our whole system is designed around this - replacing the auto configuration stuff we had before. What you propose sounds like a step backwards imho.

[2016-01-28 14:19] joolswills commented on #21
not sure what you mean exactly, but if you mean the retropie-setup configuration, this will always be separate from ES.

[2016-01-28 14:20] joolswills commented on #16
Didn't get this working, but we can easily restart ES now, so closing.

[2016-01-28 14:20] #16 closed

[2016-01-28 14:23] #15 closed

[2016-01-28 14:27] smartroad commented on #18
The thing I find tedious is the whole 'press and hold any key to skip'. I wish there was a way to skip once you had inputted the basic directions and AB buttons :grin:

[2016-01-28 14:29] smartroad commented on #21
Is there anyway to hide the retropie-setup from the main menu? Just thinking I have some friends and their boy loves playing the old games, I just worry that he could accidentally mess with settings. Not that it is a big issue, just a waste of time setting everything back! lol

[2016-01-28 14:35] joolswills commented on #18
I agree that could be useful

[2016-01-28 14:36] joolswills commented on #18
I would add though, that this only needs to be done once. updating emulationstation should no longer clear out old configs, so as long as you keep your controllers, it shouldn't be too annoying :)

[2016-01-28 14:37] joolswills commented on #21
Did you google it ?

https://www.reddit.com/r/RetroPie/comments/33gz62/retropie_30_hide_retropie_option_menu/

Please use the RetroPie forum for support etc. Cheers.

[2016-01-28 16:47] dantheman213 commented on #21
I'm just saying that it's very peculiar that a) the settings are located in the same exact location as your video game consoles and b) some of the settings execute outside of EmulationStation GUI and even require separate input devices like a keyboard.... none of that is really in the spirit of a classic gaming console. It should all be integrated smoothly into EmulationStation and all controlled

[2016-01-28 16:50] joolswills commented on #21
because it is completely separate from emulationstation - it's not feasible to integrate all our options into ES. If you want a more integrated system, try recalbox.

[2016-01-28 16:51] #21 closed

[2016-01-28 16:53] dantheman213 commented on #18
@joolswills You should really reconsider. The whole point of using an RPi with a USB gaming controller and plugging it into my TV is that I don't want to deal with "desktop-like" qualities. I want to be able to plug-and-play. Remember that the whole spirit of the RetroPie project is to recreate a classic gaming experience. I don't recall having to reconfigure a controller every single time I plug

[2016-01-28 16:54] joolswills commented on #21
Sorry, but this just isn't something we have planned, nor is it really doable currently. I think having the settings at least accessible within ES does work for most. You can remove them from there as needed, if you think it makes it seems more integrated.

[2016-01-28 16:54] dantheman213 commented on #19
@joolswills again I think you fail to see the "convenience" of having plug-and-play support for everything. This should be treated like a console or embedded device. You're treating it like a full Linux workstation.. If I'm gaming on my TV on a controller I don't want to deal with any of that...

[2016-01-28 16:56] joolswills commented on #18
You only have to configure each controller once.

Our current system is far more flexible - we don't want to go back to how things were - there were lots of issues. Based on the controller config we also configure inputs for various systems. Alo, what about cases where you have 6 controllers all with the same ids etc, but different layouts ?

[2016-01-28 16:59] dantheman213 commented on #18
@joolswills It doesn't appear to be that user friendly to me. Every time I unplug one controller and plug in another I have to sit there and do the process over again.... surely these devices have unique device IDs and/or unique properties to help identify them? The top controllers like the Xbox 360 really should be plug and play from the get go. 99% of people using this is going to be using that

[2016-01-28 17:02] dantheman213 commented on #21
@joolswills Why is this not feasible? I'm a senior engineer and I've spent a lot of time writing embedded C++ applications... surely you can execute scripts or commands in the background and provide a clean GUI? You've already done 90% of the work... why not take it the last step to give it that "polished Apple feel"?

[2016-01-28 17:02] joolswills commented on #18
some cheap clones do share device name/ids sometimes - at least we had this problem before afair.

You only have to configure each controller once.

Please use the forum if you wish to discuss this further with other users. You may find that many like it how it is now.

[2016-01-28 17:02] #18 closed

[2016-01-28 17:08] joolswills commented on #21
It's not the direction we want to take. ES development has also stopped upstream so we may include other frontends in the future. it really makes no difference imho to functionality accessing the menu options from the retropie system - and allows users to easily add their own scripts.

[2016-01-28 17:14] dantheman213 commented on #21
@joolswills thanks for letting me know that you're not interested in building quality software; saved me from spending any time on this.

[2016-01-28 17:16] joolswills commented on #21
how rude.

[2016-01-28 17:33] HerbFargus commented on #19
Perhaps you may have better luck checking out recalbox as their emphasis is on user friendliness. Retropie has more of an emphasis on customisation.

[2016-01-28 18:59] joolswills commented on #19
I would add that RetroPie is not just a premade image - it is primarily a et of scripts that installs stuff on top of an existing distribution - ie. it installs on top of Wheey, Jessie, OSMC, Ubuntu etc. Even the code for adjusting autostart has about 3 implementations and doesn't support all cases. If we were a single set system it would be easier to treat it like a console or embedded device, bu

[2016-01-28 20:33] gizmo98 commented on #21
I like the idea moving retropie "system" into emulationstation menu. I already played around with this thought for a while. It makes sense because the current retropie menu looks mixed up. There is no explanation for every item. Audio output settings should be under AUDIO. ASplashscreen should be under VIDEO or SYSTEM. RetroPie-Setup and retropie/retroarch config should be under a RETROPIE item. I

[2016-01-28 21:44] dantheman213 commented on #21
@gizmo98 no murmurs on forking the project with a new team or creating a new frontend project entirely?

[2016-01-31 14:16] KitchUK opened #26 "Font issue"
In noticed that the font within emulation station has jagged edges on random lines and seemingly random letters (this is without any boxart).

Anyone know what is causing this?

[2016-01-31 16:12] HerbFargus commented on #26
Font is defined by the theme, not emulationstation. Post a screenshot to show what you're trying to explain

[2016-01-31 16:24] wraybowling opened #27 "Scraping single games doesn't save to gameslist.xml"
It's taken me a while to figure out what's happening... but essentially as soon as I started to get really selective about which games I was adding and scraping I started noticing that the metadata wouldn't stick. It drove me bonkers because scraping a single game seemed to work, but then after rebooting all the titles I'd put box art on would be blank again

[2016-01-31 16:26] joolswills commented on #26
I guess its just to do with the rendering. We have no plans for overhauling core functionality in ES on this fork btw.

[2016-01-31 16:27] joolswills commented on #27
metadata wasn't saved on rebooting before. It is now with the latest ES with RetroPie 3.4

Are you using RetroPie 3.4 ?

[2016-01-31 16:32] HerbFargus commented on #27
It's also in the documentation: https://github.com/retropie/RetroPie-Setup/wiki/scraper#scraper-not-saving-manual-edits

[2016-01-31 16:53] wraybowling commented on #27
Oh. I'm sorry, I thought that by way of running updates I had the latest version. Apparently I don't.

But anyway, I still don't think that saving on reboot was what I was after. I expected that pressing the "save" button would write to the gameslist.xml — especially as a new user to the Raspberry Pi, it can be surprising when it decides to lose power because of a USB device drawing too much volta

[2016-01-31 16:56] joolswills commented on #27
How did you update?

We can leave this open to perhaps look at that problem in the future - you should also report it to the main ES project (even though it's not currently developed), so it is referenced there.

[2016-01-31 17:10] wraybowling commented on #27
I just was updating retropie-setup via the bash script. I'm sure there's a better place to discuss how i can get up to 3.4 without having to reflash my sd card. Thanks for the information @joolswills

[2016-01-31 17:44] joolswills commented on #27
You can update by following this guide - https://github.com/retropie/RetroPie-Setup/wiki/Updating-RetroPie

Thanks.

[2016-01-31 19:10] #22 closed

[2016-01-31 19:19] joolswills commented on #20
I believe this functionality is outside of the EmulationStation frontend - but can be achieved via some scripting or a fuse mount etc. Pull requests for adding cloud functionality to RetroPie-Setup welcome (we may already have a ticket open).

[2016-01-31 19:19] #20 closed

[2016-01-31 19:24] joolswills commented on #13
https://github.com/Aloshi/EmulationStation/pull/430 looks good. I'll do a PR

https://github.com/Aloshi/EmulationStation/pull/455 has too many whitespace changes for my liking along with code changes and will mess up future merges no doubt.

The Shutdown is sorted, and the md hashing is for the gamesdb branch so we can leave those.

Any others of interest in other forks ? https://github.com/batkin

[2016-01-31 19:24] joolswills commented on #13
(and recalbox - the favourites in recalbox is nice - I think it's a combination of some upstream PR, but they might have added their own changes too)

[2016-01-31 19:35] #11 closed

[2016-01-31 19:37] joolswills commented on #8
Also https://github.com/RetroPie/RetroPie-Setup/pull/1127

Closing as not something we are going to implement.

[2016-01-31 19:37] #8 closed

[2016-01-31 20:56] joolswills commented on #13
Adding these for comment  - not checked the code etc, just ideas of things we could look into merging.

https://github.com/Aloshi/EmulationStation/pull/536 - Add a sort option for the scrapped name

https://github.com/Aloshi/EmulationStation/pull/517 - Hide mouse cursor early

Favourite changes (I guess we need one or the other)
https://github.com/Aloshi/EmulationStation/pull/344 - Add/remove a ga

[2016-01-31 20:56] joolswills commented on #13
https://github.com/recalbox/recalbox-emulationstation/commit/61eafba14a145a89597207da64eac54f245a1f59 - recalbox favourites implementation based on above two patches. not compared it

[2016-01-31 20:58] joolswills commented on #13
(recalbox made a bunch of changes to favourites after that patch too). We are probably best to just look at the upstream ones, as they will be less customised.

[2016-02-05 00:05] #27 closed

[2016-02-05 01:16] joolswills commented on #21
@gizmo98 it still wouldn't be integrated since we manage everything externally, unless you mean we rework like recalbox the functionality into ES completely - things like bluetooth though etc would then require a significant amount of custom code. I was thinking though regarding having more frontends or if we offered another like attractmode, that the way we do it currently is at least flexible an

[2016-02-05 01:23] joolswills commented on #21
@gizmo98 another compromise would be to ditch the retropiemenu system and have a single retropie-setup launcher in the settings, which wouldn't require much work - but it would still exit ES to launch our shell code though, so it's not a fix for anything beauty wise.

[2016-02-05 01:25] joolswills commented on #21
(although some users do use that I think for their own scripts)

[2016-02-05 06:15] gizmo98 commented on #21
@Jools
Do you think it is a problem launching some things (configedit, raspi-config, retropie-setup) from menu instead of retropie system view? We can still put some macros around this code so someone can build es without retropie stuff.

[2016-02-05 06:20] gizmo98 commented on #21
@Jools
I just meant to launch our scripts there or start exposed functions of our scripts. I don't have any interest rewriting everything in C++.

[2016-02-05 07:17] joolswills commented on #21
I don't have a problem with that if you have the time to implement it, but we should possibly keep the retropie system functionality in place but perhaps disabled by default, for those that want to launch custom scripts from it.

[2016-02-09 22:05] zigurana commented on #13
(shameless plug)
My PR (https://github.com/RetroPie/EmulationStation/pull/32), is based on the Graphical Favorite list by Captainka (https://github.com/Aloshi/EmulationStation/pull/393).
(/shameless plug)

[2016-02-09 22:08] zigurana commented on #10
It might reduce the size of individual gamelist.xml files, but it will not matter for responsiveness, as all systems are read/parsed upon startup.

[2016-02-11 01:16] JustinAiken commented on #13
:+1: for @zigurana's #32, would be amazing!

[2016-02-20 21:11] wolf-sigma opened #33 "Ability to hide files"
Hello,

I wanted the ability to hide files, so I added this feature to a fork of upstream 2.0.1a. If this is of interest for the RetroPie fork, I can do a cherry-picked PR.

https://github.com/t3hi3x/EmulationStation/commit/196d9175c38da86f778e6a1af4fc8abb09270eea

It works in a few ways:
- Under "Edit Metadata" there is an option to hide the file - it will disappear when hit Save
- It then adds a

[2016-02-26 16:29] HerbFargus opened #34 "Unstable Branch Testing"
Just Logging an official ticket to discuss the statistical advantages of the SQLite database over the current xml database, particularly as it pertains to large romsets and performance.

[2016-02-27 03:32] Shmoopty commented on #34
This issue pertains to both **stability** and performance.  It's unusual that quitting or restarting _any program_ could take several minutes.  But regardless of romset size it's also unusual that, hours after scraping has occurred or playcounts have been altered or any metadata has been refined, a crash or pulled power plug or "kill -9" or "sudo reboot" would undo all of those changes as if they

[2016-03-05 20:04] joyrider3774 opened #35 "Make saving gamelists on shutdown / exit optional by asking another question"
Hi,

I have no need to save gamelist.xml data on shutdown / exit / reboot of the system since i don't make any adjustments to the data. Since i have a lot of roms emulationstation takes a long time to quit / save the gamelists.xml data. Since all that's changed is the play count with me i don't like having to wait for it when i want to shutdown the system.

I noticed this here https://github.com/R

[2016-03-05 20:05] joolswills commented on #35
we could yeh - I was considering that - but I wanted to look into other options first (such as only saving if there has been any edits)

[2016-03-05 20:21] joyrider3774 commented on #35
ah, it might be better if it only saved the lists if there were changes, yes. I'm not certain but there could be Always changes in some lists if the playcount changed. Having a configuration option is also a good way to do it. It's not that big of a deal for me since i created a "power off" and "reboot" (sh) script that calls "sudo poweroff" and "sudo reboot" and placed them in "ports" roms sectio

[2016-03-11 22:16] zigurana commented on #33
I like it!
Which was exactly the reason I implemented something very similar in my Kid friendly ES: https://github.com/RetroPie/RetroPie-Setup/wiki/Child-friendly-EmulationStation
:-)

[2016-03-13 07:31] HerbFargus opened #37 "EmulationStation crash when switching themes (after directlaunch kodi is installed)"
This is the error given:

[code]

Theme changes work fine on a fresh 3.6 image until kodi is installed with the new directlaunch function and then it crashes anytime a theme is changed.

I can manually make changes in es_settings.cfg and they'll stick on reboot but something within the emulationstation menu is being janky

default settings.cfg

http://pastebin.com/nf0rukKz

[2016-03-13 17:48] joolswills commented on #37
@taalas

PR introducing the problem - https://github.com/RetroPie/EmulationStation/pull/1

[2016-03-18 19:51] joolswills commented on #34
Worth keeping an eye on this fork - https://github.com/Herdinger/EmulationStation - if it continues to be developed, and gets decent improvements etc.

[2016-03-18 19:52] joolswills commented on #34
There is a PR open with a bunch of stuff on top of the sqlite3 version, but needs fixing/rebasing against the branch it's supposed to be merged to.

[2016-03-18 20:38] MarkFinnigan opened #38 "Freeze during menu navigation using Pi3 bluetooth controllers"
I recently upgraded to a Pi3 and started using the integrated bluetooth receiver. I have paired a stock PS3 controller with it, but I find that using this controller to navigate will cause ES to freeze after a short period of time. I don't see this issue while using any emulators, just navigating the menu. If I don't pair/use the PS3 controller, everything works fine.

[2016-03-20 15:07] zerojay commented on #35
Something I would like to see changed about how this works - if at all possible - is that currently, if boost does not have the ability to write to the gamelist files during, it simply crashes emulationstation completely. If it cannot write to the gamelist files when quitting, it doesn't care and closes out fine (and quickly).

Not having looked at the code myself or how boost works, what would be

[2016-03-25 18:56] brettwgreen commented on #33
Round it off by adding a menu item in the Emulation Station - UI settings to turn Show Hidden Files on/off so users don't have to manually edit the es_settings.cfg to get the hidden games back.

[2016-03-25 22:27] t3hi3x commented on #33
At this point, I think it's good enough for an MVP. However, if this gets committed to RetroPie, I'd be willing to reconsider :)

[2016-03-26 00:02] t3hi3x commented on #33
I got bored and just added it. Was pretty easy:

https://github.com/Herdinger/EmulationStation/commit/8486646ca9d8ddace187932ce8d66dc37471481c

[2016-03-26 01:55] brettwgreen commented on #33
It's a useful feature... I hope they pull it. I'm too lazy to do my own build :)

[2016-03-26 02:34] joolswills commented on #26
Closing due to no feedback.

[2016-03-26 02:34] #26 closed

[2016-03-26 02:34] #24 closed

[2016-03-26 02:35] #25 closed

[2016-03-26 03:12] #35 closed

[2016-03-26 14:44] Seppo007 opened #42 "Raspberry Pi freezes immediately after finishing scrapping with error msg"
Directly after ending the scraping-process inside Emulationstation the pi freezes.
Emulationstation aborts with the following error message:

emulationstation: /home/pi/RetroPie-Setup/tmp/build/emulationstation/es-core/erc/components/IList.h:124: const UserData& IList::getSelected() const [with EntryData = TextListData; UserData = FileData*]: Assertion 'size() > 0' failed.
Aborted

I can't acces t

[2016-03-26 15:46] HerbFargus commented on #42
Out of curiosity have you installed kodi? Changing themes after installing Kodi gives the same error

https://github.com/RetroPie/EmulationStation/issues/37

I wonder if this is the same bug.

[2016-03-26 15:52] joolswills commented on #42
It probably is.

[2016-03-26 16:05] joolswills commented on #37
@taalas - unfortunately if I don't find time to look at this myself, your additional functionality will be removed - so please take a look if you get a chance. Thanks.

[2016-03-26 16:05] Seppo007 commented on #42
Hi there, i'm currently rebuilding my whole system on another sd card starting with prebuild RetroPie 3.6 img. I will inform you at what stage of rebuilding the state of my main sd-card the problem will reoccur again.

And thanks for the hint with kodi. I've installed it but I'm not quite sure if i tried to change the theme afterwards, will test this also.

[2016-03-26 16:48] joolswills commented on #37
Crashes in ViewController::reloadAll due to `cursorMap[it->first] = it->second->getCursor();` - getCursor calls getSelected which fails when there is no gamelist.

Not sure the current implementation of directLaunch is too safe really as there may be other places where it causes trouble too.

[2016-03-26 17:19] Seppo007 commented on #42
so i finished my testing and rebuilding the state of my main sd-card to another. I've done it step by step, so i filled up the rom folders step by step, emulator for emulator. Then I used the emulationstation scraper for each emulator after this step and restartet emulationstation for the next roms i've uploaded then for another emulator.

So far none of my roms is causing this behaviour (could ha

[2016-03-26 17:22] joolswills commented on #42
See the other ticket above - the directlaunch functionality is broken and needs fixing or removing to resolve this.

[2016-03-26 18:00] joolswills commented on #37
I have a possible / mostly untested fix for this that changes reloadAll, but I'm not keen on it and I'm not sure there wont be other problems with the directLaunch implementation (eg with the gamelist only parameter - or if there is just a single directlaunch entry in es_systems I think it will have trouble too)

[code]

[2016-03-26 18:04] joolswills commented on #37
I'm going to remove directLaunch - it can be re-added if implemented in a nicer way (that is fully tested)

[2016-03-27 02:53] dabonetn opened #43 "Adding systems to scraper??"
I've been trying for a couple of days trying to figure out the GamesDBScraper.cpp along with the PlatformID.cpp & PlatformID.h.

Adding in the coco works in the original emulation station at github.com/Aloshi/EmulationStation, but making the same changes in the retropie version has no effect.

In PlatformId.h I add  line 27

COCO,

In PlatformId.cpp I add line 27

"coco",

And in GamesDBScraper.cp

[2016-03-27 03:28] HerbFargus commented on #43
http://thegamesdb.net/api/GetPlatformsList.php

[2016-03-27 03:33] dabonetn commented on #43
That's where I got the info from that's working in the mainline emulationstation

This is taken from the page.

<Platform>
<id>4941</id>
<name>TRS-80 Color Computer</name>
<alias>trs80-color</alias>
</Platform>

My question is why do the changes work in the mainline emulationstation, but not the retropie fork?

[2016-03-27 10:24] taalas commented on #37
Hi @joolswills @HerbFargus
I was on holiday so couldn't check myself. I agree though that it might be best to remove the functionality until it is more stable. Tried to test the implementation as much as possible, seem to have missed it though. I will try for a more stable approach once I find the time...

[2016-03-27 13:40] dabonetn commented on #43
Ok, today I did fresh pulls and edits and the code works on the following versions of emulationstation.

https://github.com//Aloshi/EmulationStation
https://github.com/Herdinger/EmulationStation

But not in the retropie version.
I even tried just using the following files from the working versions I tried in the retropie build.
Just in case there were edits to the scrapers that weren't listed.

/e

[2016-03-27 18:11] joolswills commented on #43
I can't really advise, but if the current systems scrape correctly, it must be something you are doing. I am planning on adding some missing systems btw. Note that this issue tracker is not really for advice on how to modify the codebase etc :)

[2016-03-27 18:12] joolswills commented on #43
note we don't use the unstable branch for retropie

[2016-03-27 18:12] #43 closed

[2016-03-28 00:29] HerbFargus commented on #37
I can confirm your above patch doesnt crash while switching theme anymore but still causes an error when scraping.

[2016-03-28 17:08] joolswills commented on #37
Must be another case of getSelected being called

[2016-03-29 04:05] #42 closed

[2016-03-29 04:05] joolswills commented on #37
reverted

[2016-03-29 04:05] #37 closed

[2016-04-03 19:32] Melkoroth commented on #13
Is the shutdown issue on Linux really sorted? I have to ctrl+alt+supr a couple of times for it to work, but maybe is just on my rpi3.

[2016-04-03 22:52] Melkoroth opened #46 "Errors when using other soundcard than rpi's native one."
In my setup I'm using a [HifiBerry Digi+](https://www.hifiberry.com/digiplus/) to play sounds through my 5.1 speakers. Great for OpenElec!

First of all, everytime I launch or exit anything a console error message appears

This won't be a big issue by itself but there are some systems that just don't want to run.
Specifically neither NEO-GEO nor GBA or SCUMM run for me at all. SCUMM was tested and

[2016-04-22 18:32] loganmc10 opened #48 "/opt/retropie/supplementary/emulationstation/emulationstation is always using 6-10% CPU when idle"
Looking at 'top' on my Raspberry Pi 3, I see that this process:

/opt/retropie/supplementary/emulationstation/emulationstation

Is always using 6-10% of the CPU, even when it's just sitting at the "pick a console" screen. Why is that?

[2016-04-22 18:57] joolswills commented on #48
Please wait for a reply to your post on the forum.

[2016-04-22 18:57] #48 closed

[2016-05-21 11:33] superjamie opened #49 "Controllers with analog L/R triggers don't configure properly"
When using a controller with analog L/R triggers such as the Logitech F310 or F710 (in DirectInput mode), EmulationStation asks you to configure L2 as a button and recognises the "trigger in" as a button press. ES then moves onto the next button, which it recognises as the "trigger out" button press.

It's then required to go into the gamepad config (Retropie's `/opt/retropie/configs/all/retroarch

[2016-05-21 11:38] joolswills commented on #49
Instead of edited the file, when you get to "OK", press whatever you configured for "up" and you should be able to reconfigure any trigger that configured incorrectly.

[2016-05-24 06:36] superjamie commented on #49
Thanks for responding! Yes, you are correct, it is possible to re-map any missed buttons.

However, even after that is done, using the "in" motion of the axis to trigger the L2/R2 button press does not work reliably all the time. RetroArch sometimes ignores the button press, and sometimes the button press sticks down.

IIUC if ES properly mapped the in and out axis for the button press, this would

[2016-05-27 08:43] MrTimscampi commented on #13
It should be noted that as of March 19th, the project is officially unmaintained: https://github.com/Aloshi/EmulationStation/issues/563#issuecomment-198787794

[2016-05-31 12:33] superjamie commented on #49
Previously in RetroPie 3.7 it was possible to avoid this entirely by setting these controllers to DirectInput mode. That no longer works with RetroPie 3.8 and the XInput mode must be used, so the L2/R2 must be configured as analog axes.

However, without the `plus_axis` and `minus_axis` edit described above, it is required to press L2 and R2 before the emulators will recognise any button presses.

[2016-06-03 03:37] sselph opened #50 "Idea to incorporate sselph/scraper in EmulationStation"
I had an idea that could help reduce the extra code and maintenance for something that used my code in the existing ES UI. I could write a simple web server that receives the rom path and returns the data that is processed by ES. Similar to https://github.com/Aloshi/EmulationStation/commit/2bd9062c2dcde0c7d2105d48c0c6249ca168cf30 but the hashing takes place in my Go code so I can maintain the bulk

[2016-06-03 04:18] HerbFargus commented on #50
I personally think its a great idea seeing as your scraper is lightyears ahead of the built in scraper especially with all the recent no-intro updates.

I'm a terrible coder but I am a good tester ;)

[2016-06-03 04:38] sselph commented on #50
I don't read c++ well so that would probably be the most time consuming part. Luckily retropie only runs on linux so I don't have to worry about figuring out if the build works in windows. The only concern I have is if the scraper returns no results, I think the current logic is to prompt the user unless an option is set to not do this. We'd probably want to set this option always for my scraper o

[2016-06-04 23:27] joolswills commented on #49
The issue with the controller mode is probably related to a kernel update - so that is not something I can help with.

It sounds odd that the controller would not work at all without the additional edit though - and I can't see why that would be an ES issue (sure the way the configuration is set up isn't perfect, but that shouldn't stop other buttons from working I would have thought).

I would ad

[2016-06-05 00:55] HerbFargus commented on #49
I have a few f310s which I assume are more or less the same as the f710  and I can confirm the issue as it has been an issue for a while, nobody has resolved it yet though and I lack the coding know how to implement it but I could look at it. We'd more or less have to add a little extra logic for triggers that register as axes. I think it's the same for the xbox360 controller if you don't use xbox

[2016-06-05 01:48] superjamie commented on #49
I agree the mode issue is probably upstream, I don't expect that can be fixed in ES.

I expect the controller needs the in-axis "reset" to minimum with a quick press, so that RetroArch then recognizes that the L2/R2 aren't being pressed.

As you'll accept a patch I'll have a try at fixing it. I work mostly in C but I've got workmates who can help me with Cpp.

[2016-06-07 14:42] superjamie commented on #49
Don't pull this patch in yet, I need to test more. I think this has actually been resolved another way.

[2016-06-07 22:45] superjamie commented on #49
OK, I figured this out.

When you configure the controller in ES and *quickly* press the analog trigger, you'll usually get one of the axes bound to `-2` or `-5`. The negative movement is the "outwards" movement on the axis, like you are releasing the trigger.

This is what causes the problem where RA won't recognise a button press, probably because the trigger is already at max negative axis when

[2016-06-07 22:47] superjamie commented on #49
Also @HerbFargus could you please email me a copy of your `/opt/retropie/configs/all/retroarch-joypads/LogitechGamepadF310.cfg` so I can double check the button mappings? I expect they're the same as the F710 but I'll make sure.

[2016-06-08 01:01] HerbFargus commented on #49
@superjamie here's the pastebin

http://pastebin.com/LXBWa0XH

[2016-06-08 04:15] sselph commented on #50
I was able to write a proof of concept for this. It is a small web server that runs and has an api exposed /getgame?path=<filepath> and that returns the data from thegamesdb. Then wrote a simple scraper module for ES that passes the path to the api and then parses the result.

Only issue is even if I return 1 result ES pauses like there are more than one and is asking me to choose like there is a

[2016-06-08 05:21] sselph commented on #50
Actually, I just noticed there is already a provision for automatically accepting a result if there is a CRC match. I'd just need to signal the match. I also have code already written to do the types of searches that ES does so could potentially try and match the hash, and if it fails fallback to the standard behavior.

[2016-06-08 10:29] superjamie commented on #49
Thanks dude!

Wrote wiki page detailing the controller features and configurations:

https://github.com/RetroPie/RetroPie-Setup/wiki/Logitech-controllers

This is resolved.

[2016-06-08 10:29] #49 closed

[2016-06-08 13:16] joolswills commented on #49
thanks for that.

[2016-06-09 03:59] sselph commented on #50
Okay I have this in a working state. I implemented 2 scrapers one that is similar to what I do today and just scrapes everything without prompting and one with a manual drop out when things aren't automatically scraped and that mimics the current scraping logic.

What is the best way to proceed with some testing? I can check in the ES code to my fork, send a PR, send a patch. etc. I can check in t

[2016-06-09 05:18] HerbFargus commented on #50
For me if you submit a pull request I'm happy to give it a test, I'm not sure what @joolswills prefers or what his thoughts are on the matter

[2016-06-09 05:44] sselph commented on #50
Yeah I _guess_ @joolswills 's opinion is important. My main concern is that it does complicate the system  by requiring a second binary to be running but does have the benefit of offloading most of the scraping logic.

Tomorrow evening I'll send a PR to this repo and commit my service with some instructions to test it.

[2016-06-09 23:58] sselph commented on #50
Created https://github.com/RetroPie/EmulationStation/pull/51

I uploaded versions of the scraper utility here:
https://storage.googleapis.com/stevenselph.appspot.com/web_linux_386.zip
https://storage.googleapis.com/stevenselph.appspot.com/web_linux_amd64.zip
https://storage.googleapis.com/stevenselph.appspot.com/web_rpi.zip
https://storage.googleapis.com/stevenselph.appspot.com/web_rpi2.zip
https:

[2016-07-02 05:29] kwtaylor commented on #2
I ran into this issue and created a pull request to fix it #53 ... not sure if this is the kind of fix you had in mind. I feel like maybe the "onfinish" mechanism could be overhauled as it's a bit cryptic at the moment.

[2016-07-02 05:33] kwtaylor commented on #2
Oh boy I just looked at the image in the wiki and I've also had "top" and "bottom" backwards all this time! For me, LT/RT always stood for "trigger" not "top" and "LB/RB" always stood for "button."

[2016-07-02 05:35] joolswills commented on #2
the naming is confusing, but it's some work to change it all (lots of image reworking etc). Perhaps something we should consider though.

[2016-07-03 23:52] joolswills commented on #2
I have made a PR to rename Bottom -> Shoulder and top ->trigger

https://github.com/RetroPie/EmulationStation/pull/54

does that sound better ?

[2016-07-04 23:19] MisterTea commented on #34
I created a PR with sqlite support but the merge was incomplete (didn't fully support directlaunch).  https://github.com/RetroPie/EmulationStation/pull/31

One of the reasons not to continue with the merge was that "issues with the sqlite branch" was found (don't know what those issues were).  I've been running with the sqlite branch for several months now without issues.  I've enjoyed immediate u

[2016-08-07 14:20] MrJPGames opened #56 "(Xbox 360) Controller configuration heavily broken."
It took me ~40 attempts to configure my Xbox 360 Controller correctly. The problem was always with the "bottom left/right triggers". It would not register the actual triggers, register the release axis or would swiftly skip them and set the top trigger to be the bottom trigger I was pressing at that time. Though you can technically still configure it correctly it should definitely not be this hard

[2016-08-07 14:39] joolswills commented on #56
If you press them slowly it shouldn't take so many attempts. You can go "up" after getting to ok and reconfigure them without having to reconfigure everything else also.

https://github.com/retropie/retropie-setup/wiki/Logitech-controllers#l2r2-top-triggers

it is unlikely this will be looked at anytime soon unless someone provides a PR with a fix.

[2016-08-07 14:51] MrJPGames commented on #56
It's good that you can go up, but how? I tried but I couldn't press the ok button or go up, I just had to wait. So just in case others with the same problem come here (or I have to reconfigure mine) could you tell me how you can go up, because the up button on my controller didn't do it (not did any other button).

Thank you.

And because you can go up I find it reasonable that this won't be looke

[2016-08-08 21:31] joolswills commented on #56
You can change the settings when configuring just on the 360 controller. Configure all the controls skipping triggers if required - then when you get to "OK" use the dpad to navigate back up.

[2016-08-08 21:45] MrJPGames commented on #56
This does not work for me. I need a second controller to go back up, after that the 360 controller does work but it does not allow me to enter it. Idk why though.

[2016-08-08 21:59] joolswills commented on #56
Just tested here with a wired 360 and it worked ok. I configured everything except triggers, then when on OK I used the dpad to navigate up and configure the triggers.

[2016-08-08 22:00] HerbFargus commented on #56
I can also confirm that it works with my wireless xbox360 controller

[2016-08-13 00:55] joolswills commented on #56
Workaround for analogue trigger configuration issue https://github.com/RetroPie/EmulationStation/pull/58

[2016-08-13 00:56] #2 closed

[2016-08-13 00:57] joolswills commented on #38
This was a kernel issue causing lockups with the built in bluetooth. Is fixed on latest Raspbian Kernel.

[2016-08-13 00:57] #38 closed

[2016-08-15 01:18] joolswills commented on #56
The workaround didn't go to well. I made an assumption regarding initial value from joypad, and it seems others also have an initial value the same (Which would explain when connecting an 8bitdo pad it starts moving on its own until something is pressed).

I have now worked around it in the xpad driver available from retropie-setup (makes the trigger work as buttons as we did with the xboxdrv and

[2016-08-15 01:18] #56 closed

[2016-08-16 13:26] wb9688 opened #61 "Can't compile"
I tried compiling this on my Intel NUC6i3SYH running Debian Unstable, but I got the following error with both `RetroPie/EmulationStation` and `Aloshi/EmulationStation`:

[code]

[2016-08-16 13:33] joolswills commented on #61
Would need a full log including cmake stage.

Try using gcc 4.9 - note this ES is designed and supported for use  as part of retropie only.

[2016-08-16 13:34] joolswills commented on #61
Looks like you are using gcc6 ? not supported or tested so you will need to use an older gcc.

[2016-08-16 13:51] wb9688 commented on #61
I'm using gcc6, btw Aloshi/EmulationStation#594 fixes it…

[2016-08-17 15:56] joolswills commented on #61
Thanks. Will include the fix.

[2016-08-18 04:26] joolswills opened #62 "scrolling speed"
Look into reducing wait for scrolling speed increase, and put in some additional speeds, so it doesn;t go from slow to too fast suddenly.

[2016-08-19 22:43] meleu opened #63 "ROM name with some strange characters (percent %) doesn't work"
[From the RetroPie thread: https://retropie.org.uk/forum/topic/3147/retropie-namingconvention-question]

Based on RetroArch user requests ([this forum](https://retropie.org.uk/forum/topic/2483/screenshot-with-rom-name/), [libretro forum](http://libretro.com/forums/showthread.php?t=2112)) and on a personal taste, I did some changes in the RetroArch code for a screenshot naming feature ([my Pull Req

[2016-08-23 20:33] sledzik1984 commented on #61
Hi! Can u include that ASAP :) ?

[2016-08-23 21:00] joolswills commented on #61
it is - you just need to use an older gcc - you can use the patch above also. You can use the github reaction system to show support which is preferable over comments like "Please include this".

Also bear in mind this repository is targeted to RetroPie and that is our priority.

[2016-08-24 05:53] wb9688 commented on #61
I know, but RetroPie is also available for non-Pi machines and Raspbian may
eventually move to a newer gcc version.

[2016-08-24 09:41] joolswills commented on #61
I know that - I did much of the code. At which point lots of other things will need fixing up and no doubt we will do that.

Right now we don't officially support Debian unstable. But I have already said I will implement this - so I don't see the problem.

[2016-08-25 03:25] dorianmuthig opened #64 "Add scraper for OpenVGDB"
The current scraper uses the file name, which is quite unreliable and a pain to work with when you initially add several thousand ROMs. Especially so, if you have numbers and Roman numerals confused. [OpenVGDB](https://github.com/OpenVGDB/OpenVGDB/releases) uses ROM hashes or their internal CRC checksums to identify game ROMs. This is the most exacting method there is and can work fully autonomous

[2016-08-25 03:36] HerbFargus commented on #64
https://github.com/retropie/retropie-setup/wiki/scraper

[2016-08-25 09:11] dorianmuthig commented on #64
Yes, um, I read all that. But the options described do not exist anymore. In the current RetroPie Raspberry Pi image the scrapers which are installed are "TheArchive" and "TheGamesDB", with the latter being set as default.
The built-in scraper is working with the file *name* only, but you should instead work with the file *hash* and file *size*. That would, provided it has been read correctly from

[2016-08-25 09:30] zigurana commented on #64
What I think @HerbFargus meant, is that basically nobody uses the build-in scraper, but uses the option provided by [Stephen Selph](https://github.com/sselph/scraper) (which supports openVGDB btw).
Using an external tool allows Stephen to maintain it much easier than if it would be incorporated in ES.

Bare in mind that this fork of ES is not under active development, but serves as a basket to pul

[2016-08-25 09:31] zigurana commented on #64
See also #50

[2016-08-25 09:55] #64 closed

[2016-08-31 11:19] #61 closed

[2016-09-14 20:10] meleu opened #66 ""edit metadata" option doesn't work when "save metadata on exit" is on"
Two users recently reported different issues when  editing metadata. The problem was "solved" after disabling "save metadata on exit".
IMHO the "edit metadata" option should not be available when "save metadata on exit" is on.

Forum topics:
https://retropie.org.uk/forum/topic/4041/freezing-when-editing-metadata

https://retropie.org.uk/forum/topic/3979/edited-game-rom-metadata-not-being-saved

[2016-10-30 22:04] dankcushions opened #68 "Do not show *nix hidden files (. prefix)"
It seems ES will display hidden files in the gamelist, causing confusion for at least one user: https://retropie.org.uk/forum/topic/4863/noob-looking-for-help-change-emulators-graphics-and-get-things-working/14. i've seen it on my system also.

it looks like it only cares that the extension is correct. eg, `._Aladdin.smc` would be displayed in the SNES gamelist.

i think the only reason you would

[2016-11-01 02:38] peabnuts123 opened #69 "Scraper seems to have issues game names containing unusual characters"
Aloshi/EmulationStation#259
Came across this issue when looking up some symptoms related to the scraper not being able to find very famous games like F-Zero X (Nintendo 64). It seems to be describing the exact symptoms / cause of the problems, but died with the repo.
As far as I can tell, this issue still stands, I have trouble scraping any of the pokemon games, or F-Zero X  for N64.

Anyone have

[2016-11-01 02:54] HerbFargus commented on #69
Use sselphs scraper.

https://github.com/retropie/retropie-setup/wiki/scraper

Built in scraper is unlikely to be fixed anytime soon if ever.

[2016-11-01 03:11] peabnuts123 commented on #69
I see, this is very cool. Should the built-in ones be replaced / removed then ... ?

[2016-11-01 07:15] zigurana commented on #69
No, because @sselph has indicated that he would rather maintain the scraper as a standalone program, which is a LOT let hassle to work with than having to test and compile as an integral part of ES.
Maybe if we can agree on a fixed interface/API, we could have ES make those calls, but even that will require significant effort from an non-existing dev-team.

Alternatively, we could just remove the

[2016-11-01 13:38] HerbFargus commented on #69
To be fair he has made some strides on an ES integration but whether or not it will happen anytime soon is to be determined. He's got a lot on his plate as it is.

https://github.com/RetroPie/EmulationStation/issues/50

[2016-11-01 13:39] zigurana commented on #69
There is always hope! :-) +1:

[2016-11-06 10:23] wb9688 opened #71 "Gamepad doesn't work"
My gamepad doesn't work in both RetroPie's and Herdinger's fork of EmulationStation. I haven't tested it with the original EmulationStation of Aloshi. My gamepad works fine in RetroArch.

[2016-11-06 10:28] joolswills commented on #71
Please use the Retropie forum first for help. PS. It might be worth mentioning which gamepad when you start a topic.

[2016-11-06 10:28] #71 closed

[2016-12-03 01:29] meleu opened #75 "[feature request] Confirmation before enter the actual Configure Input screen"
If the user accidentally select "Configure Input" in emulationstation, he/she is forced to configure the input. Reconfigure the input doesn't hurt that much, but the problem is when the user has a custom `retroarch-joypads/Joypad.cfg`. I know that a `.bak` file is created, but it requires a keyboard/SSH connection to recover it.

It would be nice if after the user select "Configure Input" in the M

[2016-12-03 01:32] joolswills commented on #75
Will be added as I am going to do some input improvements (There is a PR open for the first feature to configure hotkey). The input menu will be a submenu with some other options, as I would like to be able to have a "configure player 2" option (which would set up player 2 on retroarch for those with keyboards, and configure some non retroarch emulators).

I could possibly add a confirmation first

[2016-12-03 02:24] joolswills commented on #75
https://github.com/RetroPie/EmulationStation/pull/76 (If you want to give it a test first).

[2016-12-03 16:06] meleu commented on #75
Yeah. Tested here and it's working just fine. I'm closing this issue.

[2016-12-03 16:06] #75 closed

[2016-12-09 03:58] ebTalk commented on #69
Has anybody been able to get selph's scraper to work with special characters or three letter games? I can't get it to work with WWF Raw or NBA Jam or NHL 94

[2016-12-09 12:25] robertybob commented on #69
@ebTalk It works by looking up hashes, not names, so not sure why it's not working for you?

[2016-12-09 17:57] ebTalk commented on #69
@robertybob what do you mean by hashes?

[2016-12-09 17:59] joolswills commented on #69
@ebTalk this is the wrong place for help with SSelph's scraper - this issue is about the built in scraper in Emulation Station. You can get help with SSelph's scraper here - https://github.com/sselph/scraper or on the RetroPie forum.

[2016-12-15 00:51] joolswills commented on #62
This is done.

[2016-12-15 00:51] #62 closed

[2016-12-19 02:49] HaloFour commented on #27
I'm having a similar issue with RetroPie 4.1.  I scraped most of the games using the bulk Scraper option in the GUI and that worked fine.  But anytime I attempt to manually scrape individual games the updates are lost anytime I restart EmulationStation.

I can see from the logs that the gamelist at `/home/pi/.emulationstation/gamelists` is being parsed.  If I modify those gamelists manually I do s

[2016-12-20 04:20] joolswills opened #79 "crash on exit when save meta data on exit enabled"
[code]

bisect to

[code]

@fieldofcows unfortunately the video view has broken saving meta data on exit. I will rebuild ES binaries from an older version for now.

[2016-12-20 04:37] joolswills commented on #79
this fixes it for me - but I've not dug to see why the order matters and it might break your video functionality.

[code]

[2016-12-20 07:32] fieldofcows commented on #79
OK. I'm taking a look but I can't reproduce the problem at the moment with my configuration. Does it go wrong every time? Do you have to edit the metadata in ES before the problem occurs?

[2016-12-20 09:49] fieldofcows commented on #79
I've managed to reproduce it. The issue only happens when a system includes subfolders in the rom directory.

It is actually a bug in MetaDataList::isDefault() that neglects to check the mType member to see if the metadata is for a game or a folder. It just so happens that before my video change, the first four entries in the game metadata matched the four entries in the folder metadata so it just

[2016-12-20 12:50] joolswills commented on #79
Thanks!

[2016-12-20 14:29] joolswills commented on #79
I'm happy for a PR for the correct fix as I am not that familiar with this code (if you have time). Cheers.

[2016-12-20 14:30] joolswills commented on #79
something like this ?

[code]

(seems to work, but I only did a quick test)

[2016-12-20 14:41] fieldofcows commented on #79
Yes that's perfect. I just took your diff and applied it to my build where I could reproduce the problem and it has fixed the issue.

[2016-12-20 14:46] joolswills commented on #79
ok thanks,. I'll commit it.

[2016-12-20 15:22] #79 closed

[2016-12-20 18:56] poly04 opened #80 "Controls broken in emulator"
I use a keyboard as my main input device, and I've set different controls than the default.

In the menu it's fine, but when I go into an emulator (NES and SNES are the only ones I've tested), it seems to have laid the default controls on top of my custom controls.

[2016-12-20 18:58] joolswills commented on #80
Please use the RetroPie forum for help - https://retropie.org.uk/forum/

[2016-12-20 18:58] #80 closed

[2016-12-21 13:43] meleu opened #82 "[feature request] make emulationstation say which controller chose a game"
It would be useful if emulationstation said which controller chose a game. I mean, save the `deviceName` from `es_input.cfg` in some file or shell variable.

And then the functions used to start joy2key in `runcommand.sh` and `helpers.sh` could get this info to make the respective device control the dialog menus.

[2016-12-21 19:03] joolswills commented on #82
I don't want to incorporate this into ES as I want RetroPie to be frontend agnostic. You can switch RetroArch controllers with your script or via the configuration editor. More work is planned for the joy2key script, but it won't be part of ES.

I will be improving the control configuration though, as mentioned https://github.com/RetroPie/EmulationStation/issues/4 but I may also split this out int

[2016-12-21 19:05] joolswills commented on #82
I may incorporate more into runcommand also (which is available when launching from all frontends).

[2016-12-21 20:05] meleu commented on #82
The feature request is only make emulationstation "say", in some way, which device chose a game (which device pressed "A" to launch the game). Only this. The use of this info would be done by other programs/scripts. I think it can be done in a way that doesn't violate the frontend agnostic's principle.

What I envisioned is making the device used to launch the game control the runcommand/retropie_

[2016-12-21 20:05] #82 closed

[2016-12-21 20:54] joolswills commented on #82
OK - misunderstood. Initially my plan was to allow joy2key to be controlled from all joysticks (and not choke if one is unplugged). I'm looking into it now (since someone keeps bringing it up ;-) )

[2016-12-21 23:49] joolswills commented on #82
https://github.com/RetroPie/RetroPie-Setup/pull/1797

[2017-01-26 05:07] sselph commented on #50
So I have been revisiting this and have been able to compile my code as a C library that I imported it into ES and was able to use my code directly from ES. The UI could use some improvements, but it works. Now it comes down to what is the easiest way to update the build to allow for it.

From my side I will create a new project or folder that is the library with a make file. It can compile and in

[2017-01-26 05:18] HerbFargus commented on #50
by default in wheezy did you mean jessie? retropie builds on raspbian Jessie, we actually no longer even support wheezy.

Ideally I would think we would want to be able to build it as part of the emulationstation module so you wouldnt have to create precompiled libraries and there are functions for specifying platforms (pi vs x86 etc) Though I presume there may be some systems that use emulationst

[2017-01-26 05:19] sselph commented on #69
I have made some progress in updating the ES scraper to use my code. Once I get the fully automated scrapers added to ES and working. I'll try updating the current builtin one to use a hash match then fallback to search. When I do this, I will see if I can resolve this by striping out characters it doesn't like or using GetGameList.

[2017-01-26 05:28] sselph commented on #50
Oops yeah it isn't the default in either :) wheezy used 1.2.1 and jessie uses 1.3.3 I think. The install is:
wget https://storage.googleapis.com/golang/go1.7.4.linux-armv6l.tar.gz
sudo tar -C /usr/local -xzf go1.7.4.linux-armv6l.tar.gz
if path doesn't contain /usr/local/go/bin add it

So it is fairly straightforward. I could probably write some bash that could detect and remove the apt-get version

[2017-01-26 05:33] HerbFargus commented on #50
yeah the go version can be easily sorted as a dependency so that should be the least of our troubles.

[2017-01-26 05:36] sselph commented on #50
Sounds good. I just finished a large change to my code to better handle ScreenScraper. Once I get the library code working with that, I'll check it in. Then will follow up with a fork of EmulationStation and RetroPie-Setup that can handle building the new code.

[2017-01-26 05:43] HerbFargus commented on #50
I'll be happy to test when it's ready. Primary thing is to get it more functional than the current es scraper, then perhaps it may be worth looking at possible implementations of some of the advanced settings your scraper provides

[2017-01-26 05:55] sselph commented on #50
My idea, if you saw my code in the post on the forum is to add 3 auto scrapers that function similar to my script with the defaults. I'll also, in the same update or possibly a followup, update the current builtin to hash then if that fails fallback to a name search like it is currently doing. The options on naming, image type, etc will all be left out. If they are advanced enough to know they wan

[2017-01-30 20:19] peabnuts123 commented on #69
It's great to hear this is progressing @sselph I would love to see your scraper in ES or at least the philosophy of your scraper imbued into the ES scrapers.

[2017-02-01 04:01] sselph commented on #50
Okay I think I have something workable. It isn't great since I'm sure there are better ways to handle the installs of binaries.

https://github.com/sselph/RetroPie-Setup

If you pull that then look under the exp you will see a few packages but one is emulationstation-sselph and that pulls my new version of EmulationStation with a dependency on libscraper. I ran it successfully but had issues in th

[2017-02-01 04:07] HerbFargus commented on #50
It's a great first pass. I'm giving compilation a go now

[2017-02-01 04:14] HerbFargus commented on #50
Heres the build log with errors for reference, looking at it a bit more:

http://pastebin.com/izX9YiqQ

[2017-02-01 04:25] sselph commented on #50
Thanks. Looks like Go isn't being installed correctly. I'll see if I can figure this out with a fresh install.

[2017-02-01 04:32] sselph commented on #50
Oh this just might be not doing the install correctly. You see the `Installing 'golang' :` never appears. If you were to go to that menu entry and install it then it would probably work. I'll update the script.

[2017-02-01 04:35] HerbFargus commented on #50
I am trying to get a log of the text that flashes when I run `sudo ./retropie_setup` which usually indicates something its not happy with with a module. but yeah it seems to be a hangup with the go install at some point ( the whole setup script modules make things simpler but at the same time sure can complicate things)

[2017-02-01 04:39] HerbFargus commented on #50
Here it is:

[code]

[2017-02-01 04:50] sselph commented on #50
good catch on that error I missed it. Bash is not my forte. I converted >= to > and I don't see the error.

[2017-02-01 04:51] HerbFargus commented on #50
can confirm that fixed it. its now compiling

[2017-02-01 04:53] sselph commented on #50
Cool. Get some popcorn cause it take 30m or so. I used -v when possible to give you something to look at :)

[2017-02-01 04:54] HerbFargus commented on #50
eh. spoke too soon. new build log errors:

http://pastebin.com/sdBgHLXR

[2017-02-01 04:55] sselph commented on #50
well shit was about to say that:
[code]
is the important part.

[2017-02-01 04:58] sselph commented on #50
I assume
`usr/local/go/bin/go version` returns `No such file or directory` ??

[2017-02-01 04:58] HerbFargus commented on #50
correct.

[2017-02-01 05:06] HerbFargus commented on #50
seems to tar filename is the issue?, from the log:

[code]

[2017-02-01 05:10] HerbFargus commented on #50
btw I'm testing on my RPI3 for reference

[2017-02-01 05:21] sselph commented on #50
That seems like it could be it. It wasn't able to save to `$md_build` I switched to `/tmp` whic might temporarily fix the issue.

[2017-02-01 05:29] HerbFargus commented on #50
I changed the last two to `md_inst` instead and seems to be building now (crosses fingers)

[2017-02-01 05:31] sselph commented on #50
Ah that could be it. I don't know all the directories and functions that are involved. I am basically just downloading a tar.gz file and putting it in /usr/local whatever works :)

[2017-02-01 05:34] HerbFargus commented on #50
Just FYI he's done some API docs here: https://retropie.org.uk/retropie-setup-api/

[2017-02-01 05:48] sselph commented on #50
thinking about it more, you are probably right. I'm only only implementing install so the md_install seems reasonable. I'm aware the code is not great I'm sure @joolswills will have a laugh at my bash :) Hopefully you can get it running tonight. It is kinda neat.

[2017-02-01 05:51] HerbFargus commented on #50
I'm running short on time, its currently been on 23% for a while, so I may have to revisit it later, (hopefully tomorrow pending work and other life annoyances) anyways thanks, good work thus far, I'm excited for this to be included into ES.

[2017-02-01 05:53] sselph commented on #50
:) yeah It has taken this long because I was too lazy to figure out how to cache the ES build. Every attempt takes 30m to 60m.

[2017-02-01 06:20] HerbFargus commented on #50
note to self. dont compile with kodi running. got it running, works great! much faster. may need a few tweaks but very happy with the results

[2017-02-01 06:36] sselph commented on #50
cool if there is something I can do let me know.

[2017-02-05 20:48] sselph commented on #50
I tested this last night with a fresh install and it seemed to work okay. There were some concerns. The CPU which was initially hovering around 30-50% in testing is now sitting at 100% the entire time. I don't know what is causing it but will work on hunting that down. Also ScreenScraper is frequently overloaded and the API locksdown to registered users. Since we have no UI to enter credentials fo

[2017-02-05 22:13] HerbFargus commented on #50
I think there will always be a bottleneck with any API we use considering the size of our user base. As an alternate I think libretro is onto something with their snaps repositories (primarily for those that use full sets) I think I could also be more clear in the documentation about backing up scrapes as well as I bet many people just rescrape any time they reimage. That was part of my argument f

[2017-02-05 23:24] joolswills commented on #50
I apologise for not having yet commented on the new work. Thanks very much - been very busy on other retropie related things. I plan to look at this in the next couple of days

PS. I sent a small donation to your email address @sselph but perhaps I had the wrong address - please can you email me (buzz [at] exotica.org.uk)

Thanks very much for your work on this.

[2017-02-10 11:06] dankcushions opened #89 "Automatically hide various BIOS/non-game files"
This has been done in Recalbox via this commit: https://github.com/Aloshi/EmulationStation/commit/a8273e74b24556838cf65627bb8af3d3fb3b2ae1 thanks to @gillg

This seems really neat. I tried porting the patch but FileData.cpp has a bunch of other changes in Recalbox from our fork, so needs more thought.

[2017-02-10 14:06] Darknior commented on #89
If it can be possible to add this option or the <hidden> tag it will be a dream for many systems :)
For bios, multi-CD games, Dos games with multi exe file ...

[2017-02-10 14:09] dankcushions commented on #89
@Darknior I agree, although for me I think a 'hidden' tag is a separate feature. For these bios files there's no reason to ever show them, so I think it's  better they are hidden automatically and permanently.

[2017-02-10 14:33] Darknior commented on #89
@dankcushions Yes for sure if it is possible it is the best solution ;)

[2017-02-10 15:49] jrassa commented on #89
@dankcushions It looks like they moved populateFolder method from SystemData.cpp to FileData.cpp.  The change would need to be made in SystemData.cpp.  If no one else does so first, I can try to integrate it this weekend.  Should be fairly straight forward.

[2017-02-10 16:05] joolswills commented on #89
I don't know if I'm keen on this change - gamelists can be used to show only certain things (with parse gamelists only on). I actually like to see everything I have copied across - also a hardcoded list for mame in the source is not ideal - might be better to perhaps have some configurable exclusion list.

For now at least I'm not sold on this change.

[2017-02-10 16:10] joolswills commented on #89
I would add I don't like the current mame game name mapping either - would also be better with something more flexible / configurable so it could work better with different romset versions.

[2017-02-10 16:27] dankcushions commented on #89
@joolswills that makes sense - I suppose having the list as an editable text file, and having an option in the UI options to 'Hide BIOS files' would be a more elegant solution.

[2017-02-10 23:03] gillg commented on #89
Hi ! I told in pr about a potential improvement, which could consist to init vector with a new config file. But also, as @dankcushions said before, on mame no one need to view roms and devices. You could extend the "basic" ignorelist with a external config file, by platform or system (what is more logic ?). I could port this commit on retropie, but at the start I would to use retropie, but in real

[2017-02-10 23:08] joolswills commented on #89
RetroPie and recalbox have some different aims/goals and target audiences - I do not want to include system configuration stuff into Emulation Station (which would be platform specific too). We include wifi settings and updated from our text based gui separate from the frontends.

[2017-02-10 23:22] gillg commented on #89
Yes i'm totally according with you. For this reason I think recalbox has missed to think "generic" or reusable code. Retropie or recalbox have some particularity, but at the start the awsome emulationstation is a good game platform, wich could be improved and used both with retropie or recalbox. Each system can code some specific intefaces/menu but the basics are same.

[2017-02-11 05:55] hex007 opened #90 "Ability to control USB audio volume"
Using alsa config file sound can be defaulted to USB audio/sound card rather than PWM (on Raspberry pi zero). The volume control in emulation station does not support changing volume of this and resets to zero.

[2017-02-13 17:16] moebiuz opened #92 "Use OpenMAX IL instead libvlc for video previews"
I'm investigating this myself, but would be cool to use OpenMAX for video previews to improve performance, since vlc overloads the CPU on the rpi.

[2017-02-13 17:23] joolswills commented on #92
Please use existing discussion on the forum - https://retropie.org.uk/forum/topic/7979/please-test-using-omxplayer-as-video-renderer

[2017-02-13 17:23] #92 closed

[2017-02-26 11:10] DjBlades opened #95 "Rank alphabetically by file name."
A few games don't have numbers defining their place in their series. This changes the order at which they appear in the game list, and can be mildly irritating or confusing when you're trying to play a through whole series. As an example, the spyro series is ranked:

Spyro 2: Ripto's Rage
Spyro The Dragon
Spyro: Year of the Dragon

The Phoenix Wright series is also all over the place, due to sever

[2017-02-26 17:39] DavidinCT commented on #69
Is there an option to replace the scraper that could be plugged into the Windows version ?

I have been trying to scrape over a week and getting endless timeouts. 200 games is taking forever and I might have about 30 done over a week.

Please say there is an option....PLEASE !

[2017-03-02 09:59] clara2g opened #98 "Official Ubuntu PPA?"
Hi! EmulationStation .deb file won't install in my Ubuntu 16.10 due to dependency problems. I've found this PPA for binary installing EmulationStation in Ubuntu:[https://launchpad.net/~emulationstation/+archive/ubuntu/ppa
]( https://launchpad.net/~emulationstation/+archive/ubuntu/ppa)

But I can't make sure if it is official. Do you know who is maintaining it? Is it yours?

Thanks!

[2017-03-02 12:59] joolswills commented on #98
Not ours.

[2017-03-02 13:33] clara2g commented on #98
Ok thank you.

[2017-03-02 13:33] #98 closed

[2017-03-02 13:34] clara2g commented on #98
Ok thank you.

[2017-03-16 04:04] lualebu commented on #69
I've been playing around with thegamesdb API and I've made some interesting observations.

The ES scraper works by passing a name and platform field to the API, like so:

```http://thegamesdb.net/api/GetGame.php?name=Mario&platform=Nintendo Entertainment System (NES)```

Unfortunately, the API is _very_ finicky about the format of the name field.  If the query contains special characters (F-Zero),

[2017-03-16 21:13] tvannahl opened #105 "Update for readme?"
As far as I understand it all the links to emulationstation.org or petrockblog/RetroPie-Setup are opsolete, right?

I am currently trying to get my head around the development process and so I am currently a bit lost. Both petrockblog/RetroPie-Setup and Retropie/RetroPie-Setup are currently receiving updates, Retropie/Emulationstation recommends petrockblog/RetroPie-Setup which is a fork of Retrop

[2017-03-17 22:42] alexruffell commented on #90
I have this issue too. I was trying to configure a USB-Audio card on my RPI for use in ES and on top of the  bug described above, MAME4ALL will not run ANY ROMS while before the change it did. Please make the sound card used in ES configurable!

[2017-03-17 22:47] alexruffell commented on #46
Someone had mentioned that you can modify VolumeControl.cpp to use "Speakers" instead of the default "PCM" and after recompiling it will work however it is not ideal, and would be best if the sound card could be configured from within ES.

[2017-03-23 18:12] escalade opened #107 "A way to disable the VLC dependency?"
As this is the only maintained ES fork around at the moment (except for recalbox), it would be nice if the VLC dependency was optional. While a nice feature to have it adds 50MB because of needing VLC. I'm using this in my LibreELEC fork, and space is sparse. I guess I could reverse the commits but that will quickly get messy.

[2017-04-01 01:05] Max13 opened #110 ""Failed to open BO for returned DRI2 buffer", when autostart emulationstation"
First of all, something implicit has to be explicit: `emulationstation` seems to have to be started from a desktop manager terminal, or else you'll get an SDL error and nothing else.

After having installed a fresh Debian 8.7, then RetroPie, then Basic Install, then enabled `emulationstation` autostart, I reboot the machine, and when it started, ES splashscreen showed up, retropie menu came and af

[2017-04-04 02:04] joolswills commented on #110
I don't have that hardware, but it all works fine on my x86_64 machine running Ubuntu. Could be some graphics driver or something on your system.

[2017-04-04 09:31] Max13 commented on #110
Well well... Sometimes it loads and crash, sometimes it loads correctly.

Anyway, I planned to reinstall it from scratch. Thank you

[2017-04-04 09:31] #110 closed

[2017-04-04 15:17] jclarke0000 opened #114 "Feature Request - Theming: Specify "extra" elements to fade down with metadata during fast scroll"
I'm using an icon in my theme instead of the md_lbl_players "Players: " text label.  When the user is holding down the UP or DOWN key to scroll through the games list quickly, the meta data elements fade down until the user stops scrolling.  However, my icon does not fade down with the metadata.  It would be nice to have an attribute that associates an "extra" element with metadata display so that

[2017-04-08 02:21] sbowler commented on #13
How many years are you guys going to cling on that someone somewhere will pick this up upstream? It's now been over 2 years since anything was committed upstream. Are you planning to drop emulation station or something? I believe Recalbox is starting to leave you in the dust in large part because you refuse to pull in any upstream pull requests. Due to current MIT licensing you could even shameles

[2017-04-08 11:16] joolswills commented on #13
Trolling ? Feel free to continue using recalbox.

[2017-04-08 16:27] sbowler commented on #13
Seriously? That's your response? This is a legitimate concern that you apparently felt the need to leave this issue open for over a year with little traction. Is there an official stance or policy on emulation station in regards to Retropie since emulation station is dead?

[2017-04-08 16:50] joolswills commented on #13
Yes - based on your post.

What are you talking about ? Just because we haven't implemented favourites you feel the need to have a moan. Have you even checked the commit log ? Our fork is in active development. We have different goals from Recalbox. If you don't like our aims - fine - but moaning on this thread isn't going to help.

[2017-04-08 17:03] joolswills commented on #105
This is a fork specifically for RetroPie. The main RetroPie github is https://github.com/RetroPie/RetroPie-Setup - petrockblog is a person fork for development.

Read me is out of date, but I don't have time to rewrite it right now (it's a low priority compared to other things I have on). I also don't want to give the impression that this is the official Emulation Station. It's one of a few forks.

[2017-04-08 17:18] joolswills commented on #105
I made a quick edit removing some of the information from the README. This should suffice for now.

[2017-04-08 17:18] #105 closed

[2017-04-08 17:34] joolswills commented on #107
If you submit a clean PR with the facility to disable it without affecting anything else, I will incorporate it. But since the focus of this ES is for RetroPie, it's not something I will be doing.

[2017-04-09 17:34] tvannahl commented on #105
Looks much clearer now. Thank you!

[2017-04-13 14:58] MotaDan commented on #69
The [GetGame](http://wiki.thegamesdb.net/index.php/GetGame) API has an exactname parameter. When this parameter is used it does not care about special characters or word lengths. Riffing off of @lualebu, when the user uses the input field the string "&exactname=" should be added to the beginning of what they enter. This forces the name field to be left blank and causes a direct search of the strin

[2017-04-18 06:33] hex007 commented on #90
Any updates on this?

[2017-04-25 17:08] hex007 commented on #90
Duplicates #46

[2017-04-25 17:08] #90 closed

[2017-04-28 04:32] KazanTheMan opened #120 "Fast scrolling on detail and video view gamelist causes black boxes to show."
The issue can be easily replicated by viewing a detail or video gamelist, and holding up or down to scroll rapidly through the list. The issue occurs from as few as 5 games being scrolled through in this manner, but can take up to 15 before it shows. It does not always occur, but will occur probably 3 out of 4 times. From what I can tell, the boxes are generally static for that system view until r

[2017-04-28 17:14] shantigilbert commented on #120
I can confirm, this also happens to me, but I always though it was because I am running it on an unsupported device.  I run ES on a Amlogic s905 device using the tronkyfran theme.

[2017-04-30 06:10] cmcginty opened #121 "Cmake fails in Ubuntu"
I can't even get past cmake on step?

[code]

[2017-04-30 15:04] joolswills commented on #121
You need to do `git submodule update --init --recursive`

[2017-04-30 15:08] joolswills commented on #120
reference: https://retropie.org.uk/forum/topic/9787/es-gamelist-scroll-bug-black-boxes-appear-when-rapidly-scrolling-through-the-game-list

[2017-05-04 04:58] MotaDan commented on #95
Sorting by file name would cause more mix ups than it would fix. If you're going to manually rename the files, I suggest just changing the scrapped names to enforce the order you want.
Spyro 1: Spyro The Dragon
Spyro 2: Ripto's Rage
Spyro 3: Year of the Dragon

[2017-05-04 05:02] MotaDan opened #124 "Sort by other meta data fields"
Right now you can only sort by name, rating, play date, and play count. I would like to be able to sort by the other fields like players, release date, genre, developer, publisher.

[2017-05-04 11:19] Darknior commented on #124
If possible it will be a great update :)
Number of players, publisher, etc can help :)

[2017-05-04 11:22] jrassa commented on #124
There is a existing pull request #115 to add the ability to filter by most of these.

[2017-05-04 15:34] MotaDan commented on #124
I just extended the sort methods that were already there. I don't conflict with #115, but if it's redundant mine can just be tossed.

[2017-05-04 16:06] joolswills commented on #124
I think we can have both - sort != filter. Will comment on the PR.

[2017-05-04 16:57] joolswills opened #126 "System logo zoom behaviour changed"
https://retropie.org.uk/forum/topic/10088/retropie-themes-zooming-in-logos/5

bisected to ac5e3ad95f34ac52bc925d618f37fe9b1717b42b

[code]

[2017-05-04 17:02] joolswills commented on #126
Not sure if this is a bug or a by design change in behaviour (since the scale is now configurable by the theme). Open to fixing up carbon, or changing the default scaling in the code.

[2017-05-04 17:02] joolswills commented on #126
tagging @zigurana

[2017-05-04 17:09] joolswills commented on #126
this would restore the previous behaviour

[code]

[2017-05-04 17:15] pjft commented on #126
It would seem like it. It may affect any current vertical carousel themes in development, but since they're using the carousel element explicitly, they can increase their logoScale value.

This change would seem to ensure previous themes behave as they did beforehand, so I'm supportive in principle for compatibility's sake.

[2017-05-04 17:18] joolswills commented on #126
could hardcoding the 0.7f just on the vertical scale could possibly affect new themes in a way they can't workaround ? Perhaps some additional logic to set a flag if there is no scale set to use the 0.7 reduction on the height ?

[2017-05-04 17:34] zigurana commented on #126
Hi, I feel the old behavior was messy, setting the maximum height to be some hard-coded relative value of the non-selected logo size. Maybe my new way is just as messy, just differently so, I am open to suggestions.
In any case, for all legacy themes, this behaviour should be fixed via the default value for LogoScale (currently: LogoScale = 1.5f;). I kind of eye-balled that value,to be honest, so

[2017-05-04 17:37] pjft commented on #126
Hm. The fact that this is a maxSize setting, capped on the Y axis seems to have existed to ensure that the default system strip always had a padding on top and on the bottom, for the system logos.

Now that we're allowing for vertical themes, and customizing logo sizes, we're opening several other vectors to control.

I agree that your option is likely the best, but it requires a few more changes

[2017-05-04 17:39] joolswills commented on #126
I'm happy to go with the additional logic to set x/y depending if it's in the theme. Or just a default of 1.2f (which looks ok on Carbon).

[2017-05-04 17:45] jrassa commented on #126
I would vote for setting the default to 1.2f.  We can always revisit and make a change later if it is still a concern for users.  I have been working on a change to properly animate the size change when scrolling and it would be complicated by having to account for 2 different scaling values.

[2017-05-04 17:47] pjft commented on #126
Sounds good then, that settles it.

A picky question, just to close this off (or, if someone is testing): 1.5 * 0.7 is actually 1.05 .

Does 1.05 look right on screen? It doesn't _sound_ right (too small?), but the maths seem to suggest that would have been the effective multiplier in the past?

Either way, I support the new constant approach. Thanks!

[2017-05-04 17:49] zigurana commented on #126
Yeah, splitting it up is better, if maybe a bit complicated for themers.
I wonder if that messy situation was put in place to cope with narrow/wide aspect ratio logo's?
The screenshot on the OP seems to indicate that.
We should look at how the maxsize is implemented.

Alternatively, setting the default value to 1.2 is the change with least impact.
I have no preference either way.

[2017-05-04 17:49] joolswills commented on #126
Your maths is correct. I guess that's why people noticed when it was 1.5 as before it didn't scale much vertically ? Ill change it to 1.2f

[2017-05-04 17:51] zigurana commented on #126
@jdrassa, agreed!
lets keep it at a single (slightly adjusted) value for now.

[2017-05-04 17:51] #126 closed

[2017-05-06 03:45] TMNTturtleguy opened #127 "Zoom to Image in Slide Transition Broken in Video Preview"
Since video previews have been introduced, the slide transition no longer zooms properly to the "md_video" or "md_image" in a theme upon launching a game when in a Video View only.   When you go to a system with video previews and launch a rom, you zoom to the middle. The only exception is with the arcade system. This actually will zoom in on the video.  If you enter a system without video preview

[2017-05-08 06:25] hex007 commented on #121
Clone the repository using this:

`git clone --depth 1 --recurse-submodules https://github.com/RetroPie/EmulationStation`

[2017-05-09 19:44] pjft commented on #127
I'll take a look at this, hopefully. Thanks for reporting it.

[2017-05-09 19:48] pjft commented on #121
Had the same problem today, joolswills 's comment pretty much solved it for me.

Can you confirm whether this still persists, or otherwise close?

Thanks.

[2017-05-09 19:49] pjft commented on #120
I believe this is solved now?

[2017-05-09 23:32] joolswills commented on #121
I guess it needs mentioning in the README.md but that's so out of date. TBH as the retropie fork, the focus has not been on this being any official fork and doing the documentation, but I guess we could add a bit to the docs.

[2017-05-09 23:32] joolswills commented on #120
Yep. Thanks.

[2017-05-09 23:32] #120 closed

[2017-05-13 20:58] pjft commented on #66
Hi, and thanks for raising it. Is this still an issue? I can't say I've experienced this, and I have the option on and have edited metadata recently, I believe.

Maybe it was fixed with the changes to improve the speed of saving metadata?

I asked Dominus, who reported it, so we can hopefully close it if it's solved.

[2017-05-13 22:03] meleu commented on #66
Will check it soon. Thanks bro!

[2017-05-17 13:30] zigurana opened #132 "Refactoring theme-element handling"
(For now, this is only a discussion on future work on GameList Views)
Currently, the creation of theme-elements (game-lists, images, metadata-labels, text, video's) is hard-coded per view. That means that the three views (Basic, Detailed, Video) expect to find a fixed list of theme-elements in the theme, and these are instantiated, and updated at fixed locations.

This makes the theme-element- han

[2017-05-17 13:36] pjft commented on #132
No, wait - we definitely need to add...

I joke. :)

This sounds like a mammoth endeavor, and certainly not one I'd have had significant _formal_ experience in. I fully support starting with feature parity, and I'm happy to chime in on anything I can help with or contribute to, though I've usually deliberately stayed away of the theming aspects of ES as that's something that you and @jdrassa have

[2017-05-18 07:27] sokie commented on #132
From a programming's point of view it should be easy to parse the xml tree and initialise dynamically the elements inside there, a problem would be attaching data to them. I'll explain myself:
Right now we use hardcoded values to define what metadata the element points to, like "md_lbl_publisher" and "md_publisher". _In my opinion_ labels should be created freely and as many as they like ( and the

[2017-05-18 18:20] zigurana commented on #132
Hi @sokie , thanks for your insights, and thinking with me here.

For backwards-compatibility, or rather, to have any sensible info displayed in the themes at all, we will need some kind of lookup scheme that links the _name_ of a theme element (i.e. md_lbl_publisher) to its _value_ (which is currently hard-coded to be "publisher", its the theme element called `md_publisher` that is populated with

[2017-05-18 18:32] zigurana commented on #132
@sokie
You say:

Well, that is the part I am trying to get right here. Too many quick and dirty changes have made ES the state it is in today, and while it's not the worst I've seen, its also not the prettiest. Now I am not a C++ coder by training, but I am forced to do it professionally now anyways, and I'd like to implement this refactoring / redesign as a way to improve my skills in this domain

[2017-05-18 22:33] jrassa commented on #132
@zigurana The abstract factory pattern may be a little bit of overkill for what we need.  I would hesitate to introduce all of the interfaces that would come with the abstract factory pattern.  However, I think a factory class for creating the various GuiComponents is a good idea.  In fact a rudimentary one already exists for the "extras" within ThemeData.

We probably would also need a way to ind

[2017-05-19 06:05] pjft commented on #132
+1 on this. It sounds like a manageable approach to start including such
principles in the themes.

That being said, I believe a spec should be useful, even if for the
transitions as @jdrassa mentions. Unless we plan on either specifying the
transitions in the elements, or just get all of them to have the same
transition, and change the rendering pipeline as well.
On Thu, 18 May 2017 at 23:33, Joh

[2017-05-19 06:59] zigurana commented on #132
@jrassa
I am not interested in adding new functionality at this point, I just want to get rid of the hardcoded mess that constitutes our current GameListViews (Basic, Detailed, Video).
Maybe the abstract factory pattern is not neede, I will have a look at how the extra's are currently handled, and see if that needs to be extended.
Re: stransitions etc, I think there is a lot of business logic capt

[2017-05-19 08:04] sokie commented on #132
@zigurana @jrassa I think we already have parts of an abstract factory pattern ( views having a common abstract interface -> gui components having a common abstract interface ).
So the only left step is implementing a factory. I took a look at how extras are handled and i agree it's a good starting point, if we move that out in a factory and make it generic it could work.
Other than the fading as

[2017-05-19 08:29] zigurana commented on #132
@sokie Yeah, I was hoping that we had many of the necessary elements already in place.
I have no clue yet what those two lines are meant to accomplish, but will have a look later.

Opinions?

I think this is exactly the way it should be.
It should be up to the theme to define what elements should be included in a view, not the other way around.
In the end, I'd like to see people being able to defi

[2017-05-19 08:59] zigurana commented on #132
And I must say, I really appreciate the amount of brainwork you are putting into this discussion! Thank you guys! 👍

[2017-05-19 09:01] pjft commented on #132
I think this is the way to go, agreed.

In terms of specs, I'm not as much a stickler for formality, but given that the 3 of you clearly have strong views over this realm, and have different and complementary perspectives at the moment, it was just to have something that would make sure that you always have a common ground and a shared understanding of the approach we're trying to follow. That was

[2017-05-19 09:12] pjft commented on #132
Oh, and also, in terms of specs, the goal is also for us to be able to understand the clear boundaries we are establishing, and what are we effectively choosing to generalize and how.

For instance: we will allow (apparently) a view with several videos, for instance. That's... great, I suppose.
Will we abstract the views as well - meaning that the carousel will in the end be just a set of views "h

[2017-05-19 09:20] sokie commented on #132
I would like input from others as well, but for me:
- For instance: we will allow (apparently) a view with several videos, for instance. That's... great, I suppose.
**Yes**
- Will we abstract the other views as well
**For now no**
The plan is to still keep grid/detailed, but with the  only difference that extra labels can be added from themes, with support for standard labels hardcoded for now ( e

[2017-05-19 09:21] zigurana commented on #132
@pjft
I believe that backwards compatibility for older themes should definitely be possible, and should be a firm requirement. I personally do not believe in the use for backwards compatibility for 'new themes on older versions of ES', as I think users should just upgrade their ES.

[2017-05-19 09:24] zigurana commented on #132
As you probably noticed by now, I like to sketch out 5 yr horizons a lot, so what I'd like to see at some point is a combined system/gamelist view. Maybe a vertical carousel with a grid of games next to it?

Anyways, let us limit the discussion for now to separated system and gamelists only. I do think that the system-list should use the same factory approach to populate the view with GuiComponent

[2017-05-19 09:26] pjft commented on #132
@zigurana @sokie Great. Fully agreed.

It's just so these are well-defined from the get go, otherwise - you know, scope creep :)

And yes, I was referring to "new-ES-still-loading-older-themes", definitely not "older-ES-loading-new-themes".

Thank you.

[2017-05-19 12:24] zigurana commented on #132
I've created [this document](https://docs.google.com/document/d/1x9kWhNUs7DLJOacaW7_GFxsqb1ckuEiigSyThUt1Y1E/edit?usp=sharing), please have a look and add anything you find missing.

[2017-05-20 20:05] #124 closed

[2017-05-20 20:05] ruckage opened #136 "[bug] Textlist <horizontalMargin> crops text"
In the **\<textlist\>** element if **\<horizontalMargin\>** is set to anything other than 0 and the game name is too long the ends of the name are cropped. (depending on alignment either the beginning, end, or both will be cropped).

For example screenshots see here: [https://retropie.org.uk/forum/topic/10435/long-standing-es-bugs](https://retropie.org.uk/forum/topic/10435/long-standing-es-bugs)

[2017-05-20 20:08] ruckage opened #137 "[bug] Textlist <lineSpacing> selector bar not aligned"
In the **\<textlist\>** element if **\<lineSpacing\>** is set to anything but the default setting then the selector bar no longer lines up with the text.

For example screenshots see here: [https://retropie.org.uk/forum/topic/10435/long-standing-es-bugs](https://retropie.org.uk/forum/topic/10435/long-standing-es-bugs)

[2017-05-20 20:11] ruckage opened #138 "[bug] Textlist scaling between resolutions inconsistent"
Scaling of textlists isn't consistent between resolutions, all other elements display exactly the same regardless of resolution (assuming same aspect ratio) but textlists can vary greatly.  The text itself seems to scale correctly, it appears that the line spacing is at fault.

For example screenshots see here: [https://retropie.org.uk/forum/topic/10435/long-standing-es-bugs](https://retropie.org.

[2017-05-22 19:18] zefie commented on #69
I think using exactname would be better with a prefix, such as "exact:f-zero" in the input box. or perhaps the other way around, "fuzz:mario" to use "name=mario". Forcing one or the other is a pain in some situations where you have to know the exact name as entered into TheGamesDB.

For example, say you have crisiscore.iso in your psp folder. The exact name is "Crisis Core: Final Fantasy VII". We

[2017-05-24 17:32] jrassa commented on #132
@zigurana I couldn't edit the document so I am adding some thoughts here for now.

When I mentioned that I thought the Abstract Factory Pattern was overkill, my concern was that we would be introducing interfaces for each GuiComponent type (i.e. ITextComponent, IImageComponent, ...).  Since we are unlikely to have multiple implementations, there is nothing to abstract.

With regard to the text lab

[2017-05-24 22:14] ruckage opened #141 "Z index default ordering problem."
I think there may be an error with the default z-ordering in the latest  ES with z-index support.
If you check my theme (Nes-Mini) most of the metadata is not showing - presumably hidden behind some of the images.

I'll work on a fix for my themes but thought you should be made aware as I guess this was unintended and it could potentially break other themes as well.

[2017-05-25 01:23] jrassa commented on #141
I will be submitting the fix shortly.  The default z-index values were not being set properly for some of the elements in detail view.

[2017-05-25 02:46] MotaDan commented on #69
I don't think using a special prefix to activate exact is a good idea. The whole point of the input field is as a fall back from when the automatic search fails. If it by default uses the same behavior as the automatic scrapper, there's no point.

The flow currently in the worse case is auto fails, they type in a name that isn't exactly correct and nothing comes up, they look up the name and type

[2017-05-25 11:16] ruckage commented on #141
Thanks, I've just tested the new version and the issue is resolved.

[2017-05-25 11:16] #141 closed

[2017-05-25 18:17] zefie commented on #69
If your ROM name is smw.smc, its not going to know that smw = "Super Mario World", and auto will fail, allowing the user to search for Super Mario World. The point of the manual search was to find a game when the ROM name is too obscure. We shouldn't force users to use special filenames.

This adds an extra step for the user that could be prevented if we used the default behavior.

Maybe we could

[2017-05-25 18:24] joolswills commented on #69
If you all think it's better to make fuzz the default again we can do that (and include exact search as a manual prefix etc). I don't use the built in scraper much.

[2017-05-25 18:34] zefie commented on #69
Unless we can figure out a way to enable the gamepad to work with dialog based menus such as retropie-setup.sh, I believe the internal scraper has value.

Imagine a use-case where the user's only input method is the gamepad.

While I do have keyboard access, this is what I am aiming for. A full game-console experience.

But that is a whole other issue unrelated to this one.

[2017-05-26 02:16] hex007 opened #144 "Help is not themed when GuiComponents are open (Menu/Options dialogs)"
Is there a way to implement this? Can someone point me in the right direction. I implemented in GuiMenu but that only works for the said dialog.

[2017-05-27 00:42] Supernature2k commented on #144
Hi hex007

I'm trying to do the same and my guess is it should go in GuiComponent so that all menus are themed.

[code]

Problem is I don't know how to retrieve the theme from here

[2017-05-27 01:16] hex007 commented on #144
@Supernature2k  I have reached to the same conclusion. I have a way to get theme in es-app module but GuiComponent is present in es-core and I dont have a way to get theme at that level.

[2017-05-27 08:41] Supernature2k commented on #144
I may have find something but it would require to change getHelpStyle() to getHelpStyle(const std::shared_ptr<ThemeData>& theme) in several places and then something like

[code]

[2017-05-27 12:37] Supernature2k commented on #144
I tried several ideas with no success :/

[2017-05-27 18:54] hex007 commented on #144
Fixed in commits

https://github.com/hex007/EmulationStation/commit/20ea9fd2c2d890b747678b18352f1d1b326982c0
https://github.com/hex007/EmulationStation/commit/ce3917b7720254d1308c8bc8db68c650be65db30

[2017-05-27 19:04] pjft commented on #144
Unless you're planning on submitting a PR to the main branch, I'm not sure I'd close this issue here? It's still an issue for the main branch.

Thanks for looking into this, though, and I do hope you manage to send things over!

[2017-05-27 20:41] hex007 commented on #144
@pjft Can you check if this is correct.

[2017-05-27 20:48] pjft commented on #144
I shall do it in the coming days, certainly! It's a bit late here, but
thank you for going through that :)

- Paulo Tavares

On Sat, May 27, 2017 at 9:41 PM, Saket <notifications@github.com> wrote:

[2017-05-27 21:31] Supernature2k commented on #144
tested, working well

Do you think we could also use
```mSystem->getTheme(), "system"```
in GuiMenu?

[2017-05-27 23:29] hex007 commented on #144
@Supernature2k There is no mSystem there. Hence borrowing it from ViewController

[2017-05-28 10:41] Supernature2k commented on #144
Hi @hex007
I made more tests and it looks like ```ViewController::get()->reloadAll();``` makes ES crash (when changing themeset and exiting menu).

Also there is a flaw in this concept. When entering menu, there is a dim applied on background. If helpsystem has a dark font, it becomes unreadable. To mitigate this, we would need a new view tag like <view name="menu"> but of course, easier said than

[2017-05-28 10:52] hex007 commented on #144
@Supernature2k  I was unable to crash it. Can you elaborate how you got it to

[2017-05-28 11:02] Supernature2k commented on #144
Menu/UI Settings/Themeset, changing the theme, back, crash.

It may be due to some submenus I added, need more tests.

[2017-05-28 11:20] hex007 commented on #144
Ok do a clean build from by branch. I am sure it is on your side as I am unable to crash it. If your build is not clean then do not report it as crashing.

[2017-05-28 12:30] Supernature2k commented on #144
Sorry for polluting this issue. I know where the problem comes from but don't know why. May I open an issue on your repo?

[2017-05-28 16:21] hex007 commented on #144
Send link to your repo. I will look over

[2017-05-28 20:57] gamelaster commented on #107
or use FFMPEG

[2017-05-28 21:59] pjft commented on #10
Unsure if related or helpful, but worth noting that while you cannot split the gamelist for the different sub folders, your gamelist files can reference files in sub folders, hence allowing you to organize your ROMs in the way you described - though they are stored in a single file, on the system's root path.

[2017-05-28 23:54] LodanZark opened #147 "Nestopia Warning Error"
`= = = = = = = = = = = = = = = = = = = = =
Installing 'lr-nestopia' : NES emu - Nestopia (enhanced) port for libretro
= = = = = = = = = = = = = = = = = = = = =

‘/home/pi/RetroPie-Setup/tmp/build/lr-nestopia/libretro/nestopia_libretro.so’ -> ‘/opt/retropie/libretrocores/lr-nestopia/nestopia_libretro.so’
‘/home/pi/RetroPie-Setup/tmp/build/lr-nestopia/NstDatabase.xml’ -> ‘/opt/retropie/libretrocores

[2017-05-29 04:01] hex007 commented on #147
This doesn't look like a EmulationStation issue. Kindly report it on "RetroPie-Setup" repo and close this issue.

https://github.com/RetroPie/RetroPie-Setup

[2017-05-29 04:02] HerbFargus commented on #147
No, any perceived issued should be posted on the forum first.

[2017-05-29 07:43] escalade commented on #107
FFMPEG isn't an option, libvlc is a requirement at this point. I'm not a developer, so this was more of a feature request :)

[2017-05-29 12:55] LodanZark commented on #147
oops I though was in RetroPie-Setup, I posted in wrong section sorry

[2017-05-29 12:55] #147 closed

[2017-05-31 16:17] #144 closed

[2017-06-01 14:09] pjft opened #151 "Zoom in transition on game launch is now broken"
Just bisected it, and narrowed it down to this commit:

[code]

@jrassa - any thoughts on this?

If I comment out the clip rectangles on the IGameList.cpp file, it works as previously, but I suspect that defeats the purpose of this particular change?

From what I gather, it seems that the rectangle clipping is not using the right (potentially moving) center for the zoom in animation and respective

[2017-06-01 14:45] joolswills commented on #151
@pjft Thanks.

[2017-06-02 02:07] jrassa commented on #151
@pjft I am looking into a fix.

[2017-06-02 02:29] jrassa commented on #151
@pjft The way the zoom animation works is that it draws the view progressively larger.  The previous change that I made did not account for this, so as the view became larger, the clip rect stayed the same size which caused it to only draw a progressively smaller portion of the view.  I was able to extract the current scale factor from the transform and apply it to the clip rect.

[2017-06-02 05:38] #151 closed

[2017-06-02 06:55] pjft commented on #151
Great - glad it was an easy-ish fix for you! :)

- Paulo Tavares

On Fri, Jun 2, 2017 at 6:38 AM, Jools Wills <notifications@github.com>
wrote:

[2017-06-02 13:05] lilbud opened #155 "Carousel Scrolling Sound & Back Sound Don't Work"
I wanted to add some sounds to my Switch theme, I currently have 3:

back.wav
scroll.wav
select.wav
I wanted these sounds to play at their respective times. "Scroll.wav" would play when selecting a system on the carousel as well as in the gamelist. The sound will only play when added to the textlist code. But crashes the theme when added under carousel.

Similarly, I wanted "back.wav" to play when

[2017-06-05 18:07] hex007 commented on #46
Kindly close this issue as it has been fixed

[2017-06-05 18:09] hex007 commented on #46
@Melkoroth Does this fix your issues?

[2017-06-08 18:46] #138 closed

[2017-06-08 18:47] #137 closed

[2017-06-08 18:47] #136 closed

[2017-06-11 01:34] sduensin opened #158 "Option to circumnavigate menus."
I would love to be able to circumnavigate menus.  Go up off the top to reach the bottom, etc.  Pretty please?  :-)

[2017-06-11 01:35] hex007 commented on #158
So is it one way (up on first goes to last) or both ways?

[2017-06-11 01:41] pjft commented on #158
It would be both ways.

I believe there were some challenges with that in previous attempts at implementing it, but it's definitely worth pursuing. I suspect it was related to buttons vs menu items, but I don't have the full context.

I believe @zigurana took a stab at it at one occasion, maybe he can share more info or even code, if there was a PR sent over.

[2017-06-11 01:50] pjft commented on #158
I'm not sure a parameter would help or be ideal here.

The ideal would be, if you're at the top and push up, you'd go to the (visually) bottom row in the menu - is there are buttons, the first button is selected; if no buttons, then the lowest row. If you're in the bottom (meaning, the button row, or if no buttons then on the last row) and push up, you'd go to the top.

If you're in the buttons an

[2017-06-11 01:57] sduensin commented on #158
Exactly!

[2017-06-11 03:27] hex007 commented on #158
This seems doable. @joolswills is this acceptable?

Was the input configuration dialog the only problem?

[2017-06-11 05:25] pjft commented on #158
I don't recall the input configuration dialog being any particular problem
- what's your concern with it? Doesn't it automatically navigate until the
ok button is reached? How do you see that changing our being affected?

The problem, if I recall, is that you'd have to explicitly cater for the
fact that the buttons are a separate element and not a Row Element in the
list for you to simply iterate

[2017-06-11 05:38] hex007 commented on #158
I dont remember where i read this but someone had pointed out that the list would cycle as B for back was not available on that dialog and it was not possible to access OK button then.

I am not aware of any progress made after that.

[2017-06-11 05:43] pjft commented on #158
Oh. Don't remember reading that, so can't comment, but if it's only that
dialog that poses challenges then we can certainly tackle it as a one off
if needed.

Still, I'm under the impression the previous attempt did not cycle through
the buttons as we're describing here, but only through the menu items.

If you cycle through items + [button row as a single entry, if present] as
described here, it

[2017-06-11 05:47] hex007 commented on #158
Yes I agree. This would be excellent feature.

Additionally in the input config dialog we can try setting that if two keys are pressed simultaneously then focus moves to OK button. Many people dont use the entire available buttons.

[2017-06-11 05:57] pjft commented on #158
I suspect that won't be a problem. Currently you skip an input by holding
any button for X seconds.

If you cycle as described, you'll get to the ok button as intended.

Also, at the moment the input architecture of EmulationStation doesn't
cater to detecting simultaneous button presses, unfortunately.

That in itself would be a nice change, albeit a separate one. :)
On Sun, 11 Jun 2017 at 06:47,

[2017-06-12 02:58] Gollem1 opened #160 "EmulationStation won't start after force quitting? [Ubuntu 16]"
I had to force quitting emulation station on my Ubuntu desktop, and now when I start it, all it does is freeze the screen. No GUI, no nothing. Can post pic/vid if needed.

[2017-06-12 03:00] Gollem1 commented on #160
Should probably take this to forums instead. Closing it now

[2017-06-12 03:00] #160 closed

[2017-06-14 07:46] pjft commented on #121
I don't know enough about cmake, and my make days are long behind me.

Is there a way to get cmake or make to actually fetch and update the repository prior to generating the makefile?

[2017-06-14 15:40] joolswills commented on #121
probably, but it's not usual to use cmake to do repo stuff like that imho. Closing this as original issue is fixed.

[2017-06-14 15:40] #121 closed

[2017-06-15 20:53] zigurana commented on #132
@jrassa, @pjft, @sokie
I thought it would be nice to report back with some of the things Ive been doing on this topic.
It would be nice to get some feedback on my approach and general strategy taken.
I've pushed the changes to my repo [here](https://github.com/zigurana/EmulationStation/tree/ThemingRefactoring). Please have a look if you can spare the time.

And oh yeah, I'm stuck :-(

### In short

[2017-06-15 21:05] pjft commented on #132
Oh wow. Great to see this moving forward! :)

I'll reply further in the morning on my laptop and after reading the code,
but at first glance my thought on the problem was that yes, creating a
"hybrid component" as you call it could work. I know in some languages we
can have multiple inheritance, I don't recall much about c++ in that
regard. Alternatively you could create a new class for Animated G

[2017-06-16 08:00] Darknior commented on #132
So cool to read this topic :)
Many good ideas here ... and for the big part i'm agree with @sokie ;)
For my part i search a solution to have 3 more media to show in my skin please
3 images for Boxfront Boxback and maybe Boxcase ?
https://retropie.org.uk/forum/topic/10654/es-add-some-news-artworks-to-skin-like-in-a-vg-museum/6

[2017-06-16 08:18] zigurana commented on #132
@Darknior , please use the forum or the issue tracker to request new features, this is outside the current discussion.

[2017-06-16 12:18] zigurana commented on #132
So I've tried to implement a new class called ScrollableTextComponent, and learned something along the way about virtual inheritance no less!
![scrollabletextwip](https://user-images.githubusercontent.com/6103768/27226250-5929ad8c-529e-11e7-94b4-9f41920b9273.png)
So now the scrollable text box renders correctly (lower right), except that there is some unexpected spillage over the textlist componen

[2017-06-16 12:22] pjft commented on #132
Well done :)

Now, are you sure there's some spillage? What it seems to me is that you're
creating a second element at position 0,0 as the text seems to be the full
description text, not spillage from the one you have set up down there.

Obviously I'm not seeing it moving, but at first glance I'd check if there
aren't two objects - or if, for some reason, you're not assigning it to an
unintended e

[2017-06-16 12:58] zigurana commented on #132
Yep, it was rendered twice, once from the container, and once from the new
hybrid component.
Now onwards to sound handling!

Op vr 16 jun. 2017 14:23 schreef pjft <notifications@github.com>:

[2017-06-16 22:19] zigurana commented on #132
Ok,
I've updated my [dev branch](https://github.com/zigurana/EmulationStation/tree/ThemingRefactoring).

By no means done, but it's good enough to give a a first test-drive / look over. Please note that I've currently disabled all of the legacy GLV's if you want to have them back, look at the [Viewcontroller](https://github.com/zigurana/EmulationStation/blob/ThemingRefactoring/es-app/src/views/Vie

[2017-06-21 14:46] zigurana commented on #132
https://retropie.org.uk/forum/topic/11122/testers-wanted-gamelistview-theming-refactoring/1

[2017-06-22 19:36] joolswills opened #164 "Misaligned text / selector bar on some themes"
@jrassa

Since https://github.com/RetroPie/EmulationStation/pull/157 / 3a98bd38471bd2ae3fff2ad67b92bd3ed9b9c171 some themes have Misaligned text / selector bar. Eg Metapixel.

Do these themes just need updating or is there an issue with the fixes ?

https://retropie.org.uk/forum/topic/11148/certain-themes-suddenly-started-misaligning-text-selections-in-emulationstation

[2017-06-24 00:13] robertvaliant opened #165 "Overscan config won't save."
I'm running retropie and emulationstation on a raspberry pi 3 and a really old flatscreen tv/monitor (hdmi to vga cable). I had an overscan issue originally and fixed it in the emulationstation raspi-config option settings. It was fine but at some point it switched back to hiding about a centimetre of the right side of the screen (The UI also went a bit crazy and crashed around the same time but t

[2017-06-24 12:52] robertvaliant commented on #165
Fixed!

I am such a bellend. The problem was I hadn't fixed the aspect ratio in the retropie video settings.

So there you go.  If you keep needing to fix overscan, therein might lie your solution.

[2017-06-24 14:38] joolswills commented on #165
Glad it's sorted. For future reference please use the RetroPie forum for help rather than this bugtracker.

[2017-06-24 14:38] #165 closed

[2017-06-25 00:19] robertvaliant commented on #165
Oh. Sorry. Like I said, I'm new to this.

⁣Sent from BlueMail ​

On 24 Jun 2017, 23:38, at 23:38, Jools Wills <notifications@github.com> wrote:

[2017-06-25 15:33] talex-tnt commented on #158
Hello there,

if you haven't fixed this yet,
you might interested in checking out this code from my fork:
https://github.com/talex-tnt/RetroStation/commit/2b3d78c9785cf69df2d68989d308eaecc2121f22

Still testing it but it looks working so far..
as I'm able to loop through lists and grids (keyboard).

I did some further experiments a few weeks ago, but they didn't work out..

This is the less invasi

[2017-06-25 15:47] zigurana commented on #158
Had a brief look from my phone at this, and this looks promising! Do we
need the set/reset focus methods as well for this?

Op zo 25 jun. 2017 17:33 schreef talex <notifications@github.com>:

[2017-06-25 16:22] talex-tnt commented on #158
Hi **zigurana**,

I'm going to thank you first for your contribution as I used one of your branches as reference to start implementing my own "Favorites" feature - recently upgraded to "Game Collections".

Regarding the set/reset focus methods, I'm not sure to get what you mean..

Here's a sum-up of what I did:
For each gui component that can focus some element in it, I implemented a custom versio

[2017-06-25 16:58] zigurana commented on #158
Cool! Thanks for the explanation. I'll have a look later this week, to see
if we can re-use your work!

Thanks!

Op zo 25 jun. 2017 18:22 schreef talex <notifications@github.com>:

[2017-06-26 09:53] nschloe opened #166 "error: source directory external/pugixml does not contain a CMakeLists.txt file."
When configuring emulationstation with `cmake ../path/to/source/`, one get the error
[code]

[2017-06-26 09:56] nschloe commented on #166
Fixed by cloning with `--recursive`,
[code]

[2017-06-26 09:56] #166 closed

[2017-06-29 03:35] agentmith opened #171 "Emulationstation Splash screen now black, should be white."
Just did an update and noticed the ES splashscreen changed to black, as well as the background for the controller sync splash changing colors. Please let me know if there is a way to revert back to the original colors. Thanks.

[2017-06-29 04:02] hex007 commented on #171
The recent versions have moved from White background to Black background. You can see what files have changed in the commit and compile ES from edited source.

https://github.com/RetroPie/EmulationStation/blob/004243bb764132655a22fa538d0b85c233103364/es-core/src/Window.cpp#L231

You can switch from :
`Renderer::drawRect(0, 0, Renderer::getScreenWidth(), Renderer::getScreenHeight(), 0x000000FF);`

[2017-06-29 07:54] #171 closed

[2017-07-05 10:52] magostinelli opened #174 "Missing game with "&" character"
For example the rom "North & South"  in nes is missing inside the emulation station menu.
If i rename the rom, it's working.

You can view some detail here:
https://retropie.org.uk/forum/topic/11350/missing-game-inside-emulation-station

[2017-07-06 04:47] hex007 commented on #164
If this is fixed, please close the issue.

[2017-07-06 21:02] atom10 opened #176 "sliders in settings causes auto scroll."
Targeting with gamepad to any slider setting causes auto scrolling.
https://youtu.be/UsTGoQF-_p0
noticed: ES on retropie rpi3

[2017-07-06 21:34] pjft commented on #176
Thanks.

I believe we have this narrowed down and with a solution hypothesis.

Can you just confirm that this does not happen on the "UI Settings" Menu,
though?

https://retropie.org.uk/forum/topic/11190/i-think-i-found-a-bug-with-the-vram-limit-and-volume-sliders

Best.

- Paulo Tavares

On Thu, Jul 6, 2017 at 10:02 PM, atom10 <notifications@github.com> wrote:

[2017-07-06 21:49] atom10 commented on #176
Yes, it does not happen on ui settings. Only when slider is betwen other options. And whats is weird it only effects gamepads, keyboard is perfectly fine.

[2017-07-06 21:51] pjft commented on #176
Yeah, not all gamepads either, that's why it's been somewhat elusive.

We'll tweak that, certainly.

- Paulo Tavares

On Thu, Jul 6, 2017 at 10:49 PM, atom10 <notifications@github.com> wrote:

[2017-07-08 07:05] pjft commented on #176
Should be fixed, confirmed in the forums. Can be closed.
On Thu, 6 Jul 2017 at 22:50, Paulo Tavares <paulo.j.tavares@gmail.com>
wrote:

[2017-07-08 09:13] atom10 commented on #176
building from source takes forever but i'll tell if it works as fast i can.
Thank you very much for fix!

[2017-07-08 10:12] pjft commented on #176
Thanks. You may need to exit ES in order to build it successfully.

Best.

- Paulo Tavares

On Sat, Jul 8, 2017 at 10:13 AM, atom10 <notifications@github.com> wrote:

[2017-07-08 13:45] atom10 commented on #176
Always stuck at: [100%] building cxx(...) ViewController.cpp.o. Seems like out of free ram or something. will try later but if at forum it worked then seems that thread can be closed.

[2017-07-08 13:45] #176 closed

[2017-07-08 14:36] pjft commented on #176
Huh. Happening here as well.

Stats:

PID     Name              VIRT     RES
17095 root      20   0  416540 384216      0 D   3.2 51.0   0:40.32 cc1plus

17078 root      20   0  398060 300056      0 D   3.1 39.9   0:42.27 cc1plus

I'm trying now to increase rpSwap for the ES compilation.

If it crashes, you may for the time being exit with Ctrl-C, then navigate
to ~/RetroPie-Setup/tmp/build/emulat

[2017-07-09 19:26] pjft commented on #176
There's a binary for this now, FYI!

- Paulo Tavares

On Sat, Jul 8, 2017 at 3:35 PM, Paulo Tavares <paulo.j.tavares@gmail.com>
wrote:

[2017-07-11 02:07] csonsino commented on #174
I don't see this behavior.  All of the games with a `&` character in the name or filename appear correctly for me.  I would note that in the gamelist.xml tags, the `&` is replaced by `&amp;` (`<path>`, `<name>`, `<image>`,...), for example `<path>./North &amp; South.zip</path>` instead of `<path>./North & South.zip</path>`.

Maybe it's a locale or other system configuration issue?

[2017-07-11 10:03] magostinelli commented on #174
Hello,
I have this locale (I'm italian, I suppose this is default in retropie):

LANG=en_GB.UTF-8
LANGUAGE=
LC_CTYPE="en_GB.UTF-8"
LC_NUMERIC="en_GB.UTF-8"
LC_TIME="en_GB.UTF-8"
LC_COLLATE="en_GB.UTF-8"
LC_MONETARY="en_GB.UTF-8"
LC_MESSAGES="en_GB.UTF-8"
LC_PAPER="en_GB.UTF-8"
LC_NAME="en_GB.UTF-8"
LC_ADDRESS="en_GB.UTF-8"
LC_TELEPHONE="en_GB.UTF-8"
LC_MEASUREMENT="en_GB.UTF-8"
LC_IDENTIFICATION="

[2017-07-11 15:29] csonsino commented on #174
I'm in the US and use "en_US.UTF-8", but I reconfigured my pi to use "en_GB.UTF-8" (my `locale` output looks the same as yours now) and it still works.  Are you all up-to-date on your Raspbian/RetroPie installation (have you re-run the retropie_setup.sh and updated everything recently)?

[2017-07-12 07:11] magostinelli commented on #174
Yes, it's all up-to-date.
I use the default theme.

I used sselph scraper, we can try to regenerate the gamelist.xml, which procedure you suggest me?

[2017-07-13 20:23] csonsino commented on #174
I don't think that it's a problem with the scraper or gamelist.xml file.  It seems like the scraper is finding the file (otherwise it wouldn't even make it into the gamelist.xml), and it also seems like it's generating the proper XML (escaping the `&` with `&amp;`).

It seems like the problem might be in the emulationstation, perhaps while it's iterating through the gamelist XML nodes.  I'll take

[2017-07-16 08:04] magostinelli commented on #174
Hello, inside the log the only error is some missing gamelist.xml, because I don't have the roms for all the emulator.

[2017-07-19 21:27] IyonUK opened #184 "Incomplete Game Names for Files with extra periods ".""
If I have a game with extra periods in the name, e.g. "This vs. That.zip" only the "This vs" appears in the ROM list. I assume it's assuming anyhing after the period is the file extension. Is this true?

[2017-07-19 21:28] IyonUK opened #185 "Image not loaded for first ROM on the list"
If I enter a rom list and the first rom has an image then it doesn't show immediately. However, if I move to the next rom on the list and back again the image appears.

[2017-07-20 02:22] hex007 commented on #185
Please share :
- Platform
- ES version
- ES binary source (if not stock)
- Gamelist which has problems

[2017-07-20 02:24] hex007 commented on #184
Can you try renaming `This.zip` to `This.that.zip` and share the Name that appears? That should mostly clarify what you are expecting.

[2017-07-20 05:34] pjft commented on #185
This is known to happen in sub folders only. Please confirm that's the
case.
On Thu, 20 Jul 2017 at 03:22, Saket Dandawate <notifications@github.com>
wrote:

[2017-07-20 05:35] pjft commented on #184
Are you using gamelists? Did you scrape the metadata?
On Thu, 20 Jul 2017 at 03:24, Saket Dandawate <notifications@github.com>
wrote:

[2017-07-20 09:49] IyonUK commented on #185
Hi

Sorry, AFK at the moment. It’s the version of Emulationstation bundled with RetroPie v4.2 running on Raspberry Pi 3. But, as pjft says, I am using subfolders and that’s where it’s happening (they are all in subfolders).

Sorry, couldn’t see an issue for this but maybe it’s on the original fork.

Stephen

[2017-07-20 09:50] pjft commented on #185
Thanks Stephen.

It's a long-standing bug, thanks for reporting it though. It's good to keep
a record.

- Paulo Tavares

On Thu, Jul 20, 2017 at 10:49 AM, IyonUK <notifications@github.com> wrote:

[2017-07-20 21:27] IyonUK commented on #184
Hi

No gamelist for these particular ROMs but, guess what? Directories again. :-)

I have the following:

![image](https://user-images.githubusercontent.com/30301925/28439528-361aa60e-6d9a-11e7-9567-1aca887e009c.png)

In EmulationStation the first folder shows correctly:

Games

Enter "Games" and the subdirectory is listed as:

Olympic Gold (1992)(U.S

I can the enter that folder and the files wit

[2017-07-20 22:23] mediamoshpit opened #186 "Crash When Scraping Folders"
The built-in scraper is no longer able to scrape metadata and apply it to folders. The issue [was first noticed here](https://retropie.org.uk/forum/topic/11737/scraping-multi-disc-roms/4). As noted there, I confirmed this on a folder for the Apple II system on my 2.4.0 ES setup using the Carbon theme and was also met with a crash, yielding the error:

[code]

[2017-07-21 15:44] slipenbois opened #187 "Audio volume in start menu don't change volume in videos preview"
Hello

even when you set audio to 0% the video volume stay the same.

I know omx player and sounds played by emulationstation are different things but maybe add a second option for video volume? (Or merge them don't know what is the best option.)

[2017-07-21 15:46] pjft commented on #187
Correct. At the moment you can only have video audio on or off.

This is something that can be looked in, for sure.

Thanks.
On Fri, 21 Jul 2017 at 16:44, slipenbois <notifications@github.com> wrote:

[2017-07-21 15:47] Darknior commented on #187
Yes ... like i already ask it to you @pjft it is a problem ....
I wish you will fix it too

[2017-07-22 15:13] csonsino commented on #174
I'm going to create a debug branch for this, and a few additional details would help.  At this point, I think that the most helpful information is trying to figure out if this applies to a certain gamelist view or all of them.

1. Which `GAMELIST VIEW STYLE` do you use?  You can find it in the Menu in `UI SETTINGS` towards the bottom.  (It should be set to `AUTOMATIC` unless you changed it)

2. Do

[2017-07-23 20:07] m1s3rys1gn4l opened #188 "its not a issue, i need help"
Hello guys, can anyone tell me how can i run king of fighters hack roms ?

[2017-07-23 22:44] jrassa commented on #188
Github isn't the place for requests like this.  Please try the forums.

https://retropie.org.uk/forum/

[2017-07-23 23:19] joolswills commented on #188
Thanks @jrassa sorry I didn't sort your access out yet. On my to-do list.

[2017-07-23 23:19] #188 closed

[2017-07-26 08:59] magostinelli commented on #174
Hello, I'm out of house for holidays, I will reply to you when I come back (next week).

[2017-07-28 02:35] #164 closed

[2017-07-28 16:44] hex007 commented on #46
@joolswills I think this can be closed due to no response from reporter

[2017-07-28 16:47] #46 closed

[2017-07-29 01:39] #127 closed

[2017-07-29 19:00] hex007 commented on #187
@pjft Are you working on this or should I get to it ?

[2017-07-29 19:05] pjft commented on #187
I'm not working on this at the moment. I'm happy if you want to take it. If
not, I'll pick it up in the coming weeks. My time has been mostly on the
collections work these past few weeks.

I believe you're also busy with the J2ME work, so it's up to you :)

Thanks. Have a good weekend.
On Sat, 29 Jul 2017 at 20:00, Saket Dandawate <notifications@github.com>
wrote:

[2017-07-29 19:47] hex007 commented on #187
@pjft Yea it seems simple enough to do.

J2ME looks like a dead end. Who know might work out too.

[2017-07-30 00:58] bysreg opened #191 "input configuration window is not shown until all buttons are mapped"
repro step:
- install fresh retro pie
- run emulationstation
- The program asks for the user to hold any key to start. Using keyboard, hold any key
- After several seconds, "keyboard" text fades in, but nothing happens
- after pressing different keys, the input configuration window suddenly pops up showing all the inputs are mapped to the different keys i just pressed.

[2017-07-30 06:06] joolswills commented on #191
Please use the forum first for help. Not seen this behaviour on my system. Maybe a hardware issue.

[2017-07-30 06:06] #191 closed

[2017-07-30 10:05] magostinelli commented on #174
consino: I have done the test:

1. `GAMELIST VIEW` is set to `AUTOMATIC`

2. I haven't any `VIDEO` entry inside the gamelist.xml

3. No, not showing up changing view style.

4. I do the test, but the game is not showing up.

Thanks!

[2017-07-31 02:02] hex007 commented on #191
@bysreg If you do post this on the forum, post the link here so those interested can follow up the conversation

[2017-07-31 16:11] csonsino commented on #174
I created a custom version of EmulationStation with additional debugging.

I posted a precompiled Raspberry Pi 3 binary @ https://filebin.ca/3VHY4fUQxj4i/emulationstation
Or you can compile it yourself by cloning the source from my repo and following the normal EmulationStation build instructions:

`git clone --recursive -b gamelist_debug https://github.com/csonsino/EmulationStation.git`

In order

[2017-08-01 01:29] hex007 commented on #174
@magostinelli I am not facing this problem in a clean build. Your gamelists might have a problem. Can you post the gamelist section that showcases the fault.

[2017-08-01 01:36] hex007 commented on #174
@magostinelli This is not EmulationStation bug but rather sselph scrapper error. ES puts `&amp;` in the gamelist rather thanjust `&` which you have in your gamelist posted on the forum.

If you want to test it out, manually delete the entry for the game from gamelist and play game once. ES will automatically add that entry with `&amp;` in the game name and location while updating the play count.

[2017-08-01 01:44] hex007 commented on #13
Are any updates expected from this or can this be closed?

[2017-08-01 01:47] hex007 commented on #33
@zigurana @joolswills Is this of any interest? I can submit a PR if it is else this can be closed as there has been no updates on this for more than a year.

[2017-08-01 04:55] joolswills commented on #13
Yeah. Can be. Thanks

[2017-08-01 04:55] #13 closed

[2017-08-01 08:33] Darknior commented on #33
Yes if it can be merge with the officiel build it can be really cool for me too :)
Hide file like on Kid friendly ES is really important i think.

[2017-08-01 08:43] pjft commented on #33
@wolf-sigma Are you planning on submitting the PR to the RetroPie fork?

[2017-08-01 08:44] pjft commented on #185
I've fixed this on the current build for adding collections in sub-folders, so this should be fixed when it gets submitted and merged.

[2017-08-01 08:45] pjft commented on #12
@joolswills I believe this is already fixed by you?

[2017-08-01 13:14] dankcushions commented on #68
fixed via #183

[2017-08-01 13:14] #68 closed

[2017-08-01 17:39] magostinelli commented on #174
@hex007 I have `&amp;` in my gamelist.xml. I deleted the entry inside gamelist.xml but game is not shown, I also have a copy of the rom without `&` in the name that display correctly.

Now I will do the csonsino test, for me is not a problem the send all the log, I can send you in a private message?

[2017-08-01 18:09] magostinelli commented on #174
I post here an extract of the file,:
[code]
I have a copy of the game in my rom folder:
[code]

[2017-08-01 19:54] hex007 commented on #174
@magostinelli I would like to see the game list where it is affected and your emulation station settings file (`~/.emulationstation/es_settings.cfg`).

[2017-08-02 18:18] wolfgangrumpf opened #197 "Folders in PSX roms do not display game metadata"
Playstation games placed inside a folder to contain the cue and bin file(s) do not display the game metadata (e.g. image, description) when the folder is selected in emulation station. The metadata MAY be displayed if the folder is navigated into but not always.

I have been able to reproduce this every time I create a new RetroPie system (currently I've made about 5).

[2017-08-02 18:29] pjft commented on #197
Known issue, likely duplicate of another one currently open. I have fixed
it, but haven't submitted it yet as it's part of the collections work.
Thanks for reporting.
On Wed, 2 Aug 2017 at 19:18 Wolfgang Rumpf <notifications@github.com> wrote:

[2017-08-02 18:34] joolswills commented on #69
Any feedback on this from anyone? At least one user has complained on the forum the search is too strict now and doesn't find stuff. I wonder if we should put it back as it was, but include a prefix you can use for an exact search ?

[2017-08-02 18:43] pjft commented on #69
I don't use the built-in scraper much, but I could entertain the thought of
using fuzzy search (whatever our definition of that is) by default and
using double quotes as the standard search delimiters for exact search.
On Wed, 2 Aug 2017 at 19:34 Jools Wills <notifications@github.com> wrote:

[2017-08-02 18:56] wolfgangrumpf commented on #197
Let me know if you need a beta- tester for the fix.  :)

[2017-08-02 18:56] #197 closed

[2017-08-02 19:01] pjft commented on #197
If you don't mind testing the custom collections piece as well, would love
to hear if it's sorted for good. :)

https://retropie.org.uk/forum/topic/11805/

Installation instructions:

https://retropie.org.uk/forum/topic/11805/please-test-creating-custom-collections/42

Do leave feedback there.
On Wed, 2 Aug 2017 at 19:56 Wolfgang Rumpf <notifications@github.com> wrote:

[2017-08-02 19:05] MotaDan commented on #69
My plan is to combine both search methods. Exact match first, then the fuzzy results follow. Alternatively I like the double quotes suggestion to trigger an exact search.

[2017-08-02 19:19] pjft commented on #69
Oh, that also works. Thanks.
On Wed, 2 Aug 2017 at 20:05 Daniel <notifications@github.com> wrote:

[2017-08-02 19:32] hex007 opened #198 "PowerSaver Instant mode is not saved"
Changing to instant mode does not get saved so setting reverts after restart. Revisiting menu saves it though.

[2017-08-02 19:36] pjft commented on #198
Are you saving the transition and animations disabling when setting
instant?
If not, maybe on load it loads those settings and it overrides the instant
setting?
On Wed, 2 Aug 2017 at 20:32 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-02 20:03] PronkMedia opened #200 "Menu controls too fast (unusable) as of version 2.5.0"
As of version 2.5.0 I cannot use emulationstation properly because scrolling through the menu's happens to fast. I was expecting that this was a known issue and would be fixed in version 2.5.1. but that is not the case.

It happens on a Pi3 when I control it via bluetooth (8bitdo) and USB (game controller and keyboard arrows). When I push up/down once the selected item will move to the top/bottom

[2017-08-02 20:32] hex007 commented on #200
@PronkMedia Can you try the same with OtherSettings > Powersaver >> Disabled.

Let me know if that solves your problem.

[2017-08-02 20:47] hex007 commented on #198
@pjft I noticed this long ago but since Instant was mostly experimental I did not bother much. I have added a PR #199 that fixes this and exposes a method that you can call after Play next slider is used to change timeout. Please check the PR for further details.

[2017-08-03 02:14] alaxmofo12 opened #201 "Input/output error when sshing into retropie"
Idk if someone has had this problem but everytime I ssh into retropie in list a bunch of input/output errors

[2017-08-03 03:13] hex007 commented on #201
Your SD card is probably dying. I/O errors on SD cards means you cannot do anything to recover the damaged sections. Best bet is to make a backup of all your important data on the card ad buy a new one.

Try running this on your Linux PC with said sdcard plugged in and partitions mounted and post the output.
`sudo fsck /dev/mmcblk0p2`

This is not an error of EmulationStation so you can close this

[2017-08-03 03:20] alaxmofo12 commented on #201
Last login: Thu Aug  3 02:51:44 2017 from android-b74ac3a5f51bbe15.netgear.com
find: `/home/pi/RetroPie/roms/intellivision/Song Player - Take on Me 3 (1999) (Joseph Zbiciak).int': Input/output error
find: `/home/pi/RetroPie/roms/intellivision/Star Wars - The Empire Strikes Back (1983) (Parker Bros).int': Input/output error
find: `/home/pi/RetroPie/roms/intellivision/Snafu (1981) (Mattel).int': Inp

[2017-08-03 03:20] alaxmofo12 commented on #201
That's what it shows in ssh, but not on the command line when I push f4

[2017-08-03 03:30] hex007 commented on #201
@alaxmofo12 This is definitely related to ES but not an ES bug per say. ES is unable to find the rom file or most likely the sectors where the file is located is corrupt. Can you delete the folder on SD card, copy all files back again in the folder and test again? If it works then the SD card is dying. If it doesnt work still then your gamelists have wrong location of files

[2017-08-03 04:46] alaxmofo12 commented on #201
I forgot I had just intellevision ROMs on a usb stick. Cause I got a package of some sort that made it so I can expand the storage to a usb as well, and I tested with intellevision ROMs, and the load all weird but still show up. So idk what's going on.

[2017-08-03 05:34] hex007 commented on #201
Please use the Retropie forums for such issues. This is only to track ES code issues.

Try removing the gamelist for Intellevision and try again.

Make a post on the forums, post the link here and close this issue.

[2017-08-03 07:04] magostinelli commented on #174
I uploaded the two files here:
https://transfer.sh/dUHgw/es_settings.cfg
https://transfer.sh/HuO7D/gamelist.xml

[2017-08-03 07:35] hex007 commented on #174
I tested with a sample game from list and it works for me. Will need some time to debug this

[2017-08-03 09:46] PronkMedia commented on #200
@hex007 I did try that (just checked it again to be sure), it does not change anything. I also restarted after changing settings to be sure. I have tried to change all settings and different combination of settings, but it does not change this strange behaviour.

It seems like the whole interface is working at a very (too) high speed. Everything goes so fast that I can barely notice the carousel a

[2017-08-03 09:59] hex007 commented on #200
@PronkMedia  This might be unconventional but can you change the power supply to PC or Laptop 5V.

There are some cases where over-voltage of Pi causes erratic processing speed up. I have noticed it only once when i was testing a power supply.

[2017-08-03 10:20] pjft commented on #200
I just tried it briefly and I can't really say I could replicate it using a
USB keyboard :S

Just to confirm, there wasn't a version 2.4.9, but rather 2.4.1 . Are you
downgrading to that one in particular?

Are you comfortable compiling code on your Pi?

- Paulo Tavares

On Thu, Aug 3, 2017 at 10:59 AM, Saket Dandawate <notifications@github.com>
wrote:

[2017-08-03 10:42] PronkMedia commented on #200
I indeed downgraded to 2.4.1. There is probably a better way to do it, but what I did was SSH into the Pi and entered the steps to do an install from source (checked the steps in the retropie-setup repo). The extra step I did was revert to the 2.4.1 commit instead of the latest commit of the master branch. Is there a better way to do this? If there is a quicker way, it makes it easier for me to te

[2017-08-03 16:38] joolswills commented on #200
https://retropie.org.uk/forum/topic/12054/emulationstation-runs-too-fast-after-update

Can anyone reproduce this - those that have this problem - please can you give all details of set-up including OS, video output, video mode and all emulationstation configs from `/opt/retropie/configs/all/emulationstation`

We may need to temporarily revert the powersaving code if that is the cause of this (Or I

[2017-08-03 16:52] pjft commented on #200
I'll try to test it out later today on my other build, but here on my dev build, with a keyboard, I can't seem to replicate it.

@PronkMedia I know this might be a bit of a pain, but if you would have the time and availability (very much appreciated, as I know you shouldn't need to spend time on this kind of endeavor), it would help if you would be available to help bisect it in order to narrow do

[2017-08-03 17:23] pjft commented on #200
@PronkMedia Actually, would you per chance have your ScreenSaver time set to zero? Can you check - either in ~/.emulationstation/es_settings.cfg, or in the menu?

Can you change it to another value - 60000 in the file / 1 min in the menu, or higher - and see if it fixes it?

[2017-08-03 19:10] PronkMedia commented on #200
@pjft I checked the setting in ~/.emulationstation/es_settings.cfg (because the menu is unusable). It was 0. I have changed it to 60000 and after rebooting everything worked normally again. Than I changed it back to 0 and the problem was back after rebooting. So that is definitely causing the problem.

Disabling overclock settings, changing power source and different video output sources did not m

[2017-08-03 19:12] pjft commented on #200
No need for compilation. This is the main issue. Thanks for confirming.

I do wonder: I don't think we changed the saving of that value, so the only
thing I can think of is that you had it set to zero all along?

Do you use a screensaver? Do you remember setting this value at any time?

Best.
On Thu, 3 Aug 2017 at 20:10 Peter Pronk <notifications@github.com> wrote:

[2017-08-03 19:14] PronkMedia commented on #200
I'm 100% sure I have set it to 0 myself. I have disabled the screensaver by setting it to 0 minutes.

[2017-08-03 19:21] pjft commented on #200
Correct. That is the expected behavior. Thanks.
On Thu, 3 Aug 2017 at 20:14 Peter Pronk <notifications@github.com> wrote:

[2017-08-03 21:13] hex007 commented on #200
@PronkMedia Can you set it back to something >0 and see if the problem persists?

[2017-08-03 21:34] hex007 commented on #200
@joolswills #199 has been updated to take care of this bug.

@PronkMedia I would like to apologise for any inconvenience caused. Thanks for reporting this.

[2017-08-04 01:46] #198 closed

[2017-08-04 01:48] joolswills commented on #200
I merges the commit. Thanks all. Please confirm a source build is ok, and I will bump version and rebuild bins later.

[2017-08-04 02:51] hex007 commented on #200
Pi 3 Builds Updated as of 3rd Aug 2017 `hex007:ps_updates`

https://www.dropbox.com/s/su7cpgvomy5edpx/emulationstation_3Aug_Pi3_ps_updates?dl=0

[2017-08-04 03:47] hex007 commented on #200
@joolswills Screensaver is not getting triggered now. This might take some time to fix.

[2017-08-04 09:20] pjft commented on #200
Do you want me to test it out on my end, or are you looking into this?

- Paulo Tavares

On Fri, Aug 4, 2017 at 4:47 AM, Saket Dandawate <notifications@github.com>
wrote:

[2017-08-04 09:51] hex007 commented on #200
@pjft Its late so I will mostly be looking at it tomorrow. I will certainly let you know when I need your help.

[2017-08-04 10:13] pjft commented on #200
Sounds good - do have some rest!

I'm compiling it and will see if I can spot anything.

Thanks!

- Paulo Tavares

On Fri, Aug 4, 2017 at 10:51 AM, Saket Dandawate <notifications@github.com>
wrote:

[2017-08-04 12:09] joolswills commented on #200
I can revert it. I may revert all the power saving stuff if there is no quick fix. Please make it clear when opening a pr if not ready for merging

[2017-08-04 12:10] joolswills commented on #200
Please let me know - if you have a fix today I can wait.

[2017-08-04 12:10] joolswills commented on #200
Today or soon.

[2017-08-04 14:02] pjft commented on #200
So, I spent a bit this morning compiling and tweaking the code, but this is indeed a bit more complex than ideal.

My initial recommendation is to revert the latest PR, and just push a change that addresses the "ScreensaverTime" != 0 bit, as well as keeping PowerSaver off for the video screensaver - which I have in my PR, so I can push that and add the screensaver time piece.

The reasons for that

[2017-08-04 14:23] joolswills commented on #200
Happy if someone submits a PR with the revert + the suggested tweak only. I don't have much free time today.

[2017-08-04 14:23] joolswills commented on #200
Or another PR that addresses the problems etc

[2017-08-04 14:27] pjft commented on #200
I'll submit that then, and we can wait on @hex007 's feedback for what the next steps should be.

[2017-08-04 14:29] joolswills commented on #200
@hex007 has a fix or open - probably should wait on that?

[2017-08-04 14:32] pjft commented on #200
Correct. I'll just submit a PR for a revert and fix for 2.5.0, but we can wait to merge it depending on @hex007 's feedback on whether he has a fix in mind for the current changes. Our timezones must be different.

At least from my understanding of his feedback is that this may not be trivial to fix, and I certainly struggled as well. It's more of a "just in case it takes time, there's something i

[2017-08-04 15:09] pjft commented on #200
Sure, we can wait on @hex007 then.

[2017-08-04 16:35] joolswills commented on #201
Closing as not related to Emulation Station.

[2017-08-04 16:35] #201 closed

[2017-08-04 16:38] joolswills commented on #200
Re-opening this for now - I have forced ES source builds to v2.4.1 also until all related power saving issues are resolved. I think this is easier than reverting and having to re-do the code,

[2017-08-04 17:45] pjft commented on #200
Thank you. Have a great weekend!
On Fri, 4 Aug 2017 at 17:38 Jools Wills <notifications@github.com> wrote:

[2017-08-04 17:49] hex007 commented on #200
@pjft First things first Let me explain you the logic that is going on in my head so it is easier to understand the code. Comments added now are improperly indented to differentiate from code base
***
**PowerSaver.cpp**
[code]

***
**main.cpp**
[code]

[2017-08-04 17:53] pjft commented on #200
Thanks.

What I experienced on the pi 3 was that a loop of the running cycle takes
17ms, so waking 100 ms before meant that they would check for start of
screensaver still before it's meant to be triggered, and then go to sleep
again for another timeout.

Waking up at any time after the screensaver timeout would trigger the
screensaver as expected, even if potentially a few milliseconds later.

Th

[2017-08-07 08:51] bentley opened #204 "error: cannot initialize object parameter with an expression of type 'VideoGameListView'"
This is v2.4.1 / clang-4.0.0 / OpenBSD 6.1 -current.

    [2/31] /usr/ports/pobj/emulationstation-2.4.1/bin/c++   -DEIGEN_DONT_ALIGN -DUSE_OPENGL_DESKTOP -I/usr/X11R6/include/freetype2 -I/usr/local/include -I/usr/local/include/SDL2 -I/usr/local/include/eigen3 -I/usr/local/include/vlc -I/usr/ports/pobj/emulationstation-2.4.1/EmulationStation-2.4.1/external -I/usr/ports/pobj/emulationstation-2.4.1/E

[2017-08-08 02:12] hex007 commented on #200
I have found a sustainable solution and I am rewriting the main.cpp file's logic. I shall update the PR soon and then we can test this rigorously.

[2017-08-08 03:54] hex007 commented on #200
@joolswills @pjft Can we continue the discussion on #202

[2017-08-09 19:37] hex007 commented on #200
@joolswills  Considering this has been fixed, this issue can be closed now. New PR is about conflicts between PS and VideoPreview/SS which @pjft and I are working on getting perfected.

[2017-08-11 17:46] #200 closed

[2017-08-13 16:29] BenjaminDeroche opened #206 "Discussion on grid view theming syntax"
EDIT : lastest theming syntax proposition can be found on the wiki : https://github.com/RetroPie/EmulationStation/wiki/Gridview-Roadmap-and-FAQ#theming-syntax

[2017-08-13 16:41] pjft commented on #206
@zigurana summoned as well. :)

Thanks for creating this.

As I mentioned, a bit short on time these days but will try to read this through this week.

Thank you.

[2017-08-13 16:48] zigurana commented on #206
Present!
I'll have a look at the document this week.

Thank for your work!

Op zo 13 aug. 2017 18:41 schreef pjft <notifications@github.com>:

[2017-08-13 17:27] lilbud commented on #206
I'm here as well, and I'll read the document and suggest changes.

Ah shit, I just realized that I was the only person to implement gridview into a theme.

[2017-08-13 18:02] jrassa commented on #206
@Koerty I will read it over and try to post some feedback tonight. You should post this to the forums as well.  You are more likely to get input from the theme makers there.

[2017-08-13 19:23] Koerty commented on #206
@jrassa I wanted to post it on the forum at first but I coudln't tag you because I don't know your nickname, plus at this time the google doc was just a bunch of copy pasted xml code. I still need to make it less like basic notes and more like a real specification document before I post it on the forum but my broken english doesn't help :)

@zigurana Thanks. Maybe you can take some inspiration fro

[2017-08-14 02:12] jrassa commented on #206
@Koerty I plan to look over this more will provide a more thorough suggestion, but for now I wanted to say that I would favor sticking to a syntax similar to the current gamelist.  The reason being that any of the other suggestions you had would require a lot of work rewriting the theme XML parsing code for what I would argue is little added benefit.

One additional question, If a theme can specif

[2017-08-14 02:24] jrassa commented on #206
Also github issues does have syntax highlighting.  The way you do it is add the language after the ` ``` `

Default:
[code]
With syntax highlighting (` ```xml`)
[code]

[2017-08-15 12:58] Koerty commented on #155
One of my next step is to add scroll sound to the GridView, I think I'm going to extend my goal to "refactoring" how the sounds for navigation are handled.

Here is how I see it :

I don't remember where I saw it first, but for me a good way for themes to manage sounds would by adding that code to the end of their theme :

[code]

And then it would apply the scroll sound (called "select" here) the

[2017-08-17 06:05] zigurana commented on #206
Hi! I had a look at your document, and while I am in no way an XML expert, I still have an opinion :-p.
From your variations, my preference would be to use something as close as possible to what is already being used, so basing the new grid on the current syntax for textList.
This has the advantage of allowing themers to run with it directly, and not breaking much prior art (sorry @lilbud).

I do

[2017-08-17 11:33] Koerty commented on #206
@zigurana Thanks for your feedback (and also for your reviews on my PR).

The thinkings behind this is the following :
- If we change the grid syntax, we already break backward compatibility with themes using the current grid syntax.
- The syntax for textlist look ok, not good, just ok, due to some "weirds" part (for example fontPath and fontColor are just basic types, respectivly path and color,

[2017-08-17 11:44] pjft commented on #206
I'm only following this via email, and not doing a great job at that.

Still I suppose that, unless these syntax changes affect only the gridView,
all other themes would need to be updated for them to work in ES, so the
less effort/more familiar it can be for current theme makers, the better.
Even if it's just for the new view, keeping it close to what the theme
community has been used to, unless

[2017-08-17 15:54] lilbud commented on #206
I'm all for easier gridview syntax, as long as it's easy to use and understand. Breaking older gridview themes wouldn't be that big of a problem...as long as it is easy to update existing themes (All 2 of them) to work with the new syntax and also make it easy to add grid support to new/already released themes without grid.

[2017-08-17 16:02] pjft commented on #206
I just read everything and the document, and it seems this is mostly for
GridView syntax, so disregard the majority of my previous comment.

I added some comments in the doc, but the summary is:
- I'd probably vote for keeping elements that are common across views
represented the same (i.e. if size or color is a sub-element node in other
views, keep it as such, and anything that's only for the Gri

[2017-08-17 20:57] Koerty commented on #155
@lilbud I need your help, is that from one of your themes that I saw this code ? Or was it from EmulationStation source code ? I don't remember at all.

[2017-08-17 21:52] lilbud commented on #155
I think at one point I mentioned adding the sounds to one of my themes, but I probably never did. That code you posted is how sounds _should_ be added to a theme.

[2017-08-18 00:08] jrassa commented on #206
This feature was never officially supported so we can't really break backward compatibility.

The refactoring work that @zigurana is doing will not effect the xml parsing.  He is refactoring how the gamelists are created so that the elements are dynamically created.

My biggest issue with the current syntax is the misuse of `container` elements.  I am ok with the way it is using multiple `image` e

[2017-08-18 06:33] pjft commented on #185
Hi.

Please update to the latest ES and see if it's still happening. You may have to install from source, as I'm not sure the binary is already available.

Thanks.

[2017-08-18 09:34] zigurana commented on #185
Hey @pjft, which change did fix this issue? I see the same thing in my
refactoring branch, but then also in cases without subfolders, so I was
curious how you fixed it.

On vr 18 aug. 2017 08:33 pjft <notifications@github.com> wrote:

[2017-08-18 10:22] pjft commented on #185
Not a bother. I _think_ (it was a few weeks back) that it was with what I
just commented you in.

If you don't receive the notification, I added

FileData* cursor = getCursor();
setCursor(cursor);

to the ISimpleGameListView::input(...) method, when opening the folder,
after

mCursorStack.push(cursor);
populateList(cursor->getChildrenListToDisplay());

As setCursor is what causes the view elements

[2017-08-18 13:16] IyonUK commented on #185
Hi

I downloaded the latest binary and I can confirm this now works. The image and gamelist data now loads.

Thank you!

👍

[2017-08-18 13:21] #185 closed

[2017-08-20 13:58] magostinelli commented on #174
Hello, can I make some other test to solve the issue?

If doesn't affect the bug, I want to change my locale to Italian.

[2017-08-20 17:45] hex007 commented on #174
@magostinelli Can you update to the latest binary and test it with that?

I dont think changing Locale should affect anything. At most you might need to revert back.

[2017-08-20 21:25] csonsino commented on #174
I also think that it should be fine to change the Locale.

I thought that the last log message:
`lvl3: 	*** BasicGameListView::populateList(), Adding game to list: North South`
meant that the game was being added to the list for display, but apparently there is something else going on.  I'll have to keep looking.

[2017-08-20 23:35] kaltinril commented on #158
+1 Up-vote this.  Find myself pressing down so often to get to the bottom of a menu.

[2017-08-21 06:10] pjft commented on #158
You can also use R1, for reference. But agreed, this is definitely an
useful improvement.
On Mon, 21 Aug 2017 at 00:35 Jeremy Swartwood <notifications@github.com>
wrote:

[2017-08-21 06:46] hex007 commented on #158
Are you interested in one way transition from top to bottom when you click up from first item or you want bidirectional movement?

[2017-08-21 06:53] RWoof opened #217 "Black screen when pressing buttons or directions quickly after exiting a game."
I've noticed in the latest upgrade of Retropie/Emulationstation that if I exit a rom (doesn't seem to be system dependent but I mostly play arcade games) and while the screen is still black quickly press either left/right to change to another system or B to go back to the system screen the screen does not continue to fade to visible from black and stays black. I can still navigate and launch roms

[2017-08-21 06:57] RWoof opened #218 "Error with USB sound card when using Alsa for omxplayer & splash videos."
I have a USB sound card on my raspberry pi in my mini arcade cabinet because the speakers are not HDMI and the audio jack on the pi is terrible. I noticed my video splash screens were not playing any sound so I corrected that by editing /etc/init.d/asplashscreen and the line launching omxplayer to change -o both to -o alsa:hw:1,0

This fixes the sound but leaves an annoying error message after eve

[2017-08-21 07:04] pjft commented on #158
I personally imagine both ways is the standard. I think we had discussed
this and alternatives somewhere in the past...?
On Mon, 21 Aug 2017 at 07:46 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-21 07:06] pjft commented on #217
Can you disable power savings in the other settings menu and see if it
still happens? Just to check if it's an animation stopping halfway through.
If that's not the case, do send over a video. Thanks!
On Mon, 21 Aug 2017 at 07:53 Ray <notifications@github.com> wrote:

[2017-08-21 07:26] hex007 commented on #158
Doing it one way would be way easier. You wont need to worry about buttons

[2017-08-21 07:36] hex007 commented on #217
@pjft PS is disabled by default so unless @RWoof has specifically enabled it, it should not be causing this bug.

[2017-08-21 07:42] pjft commented on #217
You're right. Maybe he would have updated to the interim version first,
where it was enabled by default though, but well spotted.
On Mon, 21 Aug 2017 at 08:36 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-21 07:54] hex007 commented on #217
Even I am facing the same problem if I follow the instruction (Linux x64). PS is disabled so it is not related to PS. I have made a video demonstrating the bug. In the first try I press Left/Right as soon as I close the emulator. In the second try I dont press any keys after closing the Emulator.

https://youtu.be/S9x2RImazeE

[2017-08-21 07:55] magostinelli commented on #174
@csonsino the game was added because I have two copy (one with &, one without) of the rom files see in my previous messages.
I will try updating to the last version.

[2017-08-21 08:06] hex007 commented on #218
This is not technically a bug. It's an annoyance and will be treated as such. It is not high on priority list.

Please post your es_settings.conf file.

You should also change `Settings > Sound Settings > OMX PLAYER AUDIO DEVICE`  to ALSA:HW:1,0

[2017-08-21 08:31] pjft commented on #217
Thanks for confirming!

I know it may be a bit time consuming, but if you can easily replicate it,
would you have the chance to bisect it? Happy to help with instructions
there - I imagine that if you can do it on Linux it's faster to compile and
get to the root.

If not, it's perfectly fine as well.

Thanks!
On Mon, 21 Aug 2017 at 08:54 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-21 08:33] RWoof commented on #218
I have my audio device already set as you described, here is my file contents as requested, thank you very much for the quick reply!

<?xml version="1.0"?>
<bool name="BackgroundJoystickInput" value="false" />
<bool name="CaptionsCompatibility" value="true" />
<bool name="DrawFramerate" value="false" />
<bool name="EnableSounds" value="true" />
<bool name="MoveCarousel" value="true" />
<bool name=

[2017-08-21 08:39] RWoof commented on #217
Sorry for the slow reply, I seem to have the issue with all power saving modes.

[2017-08-21 09:09] hex007 commented on #217
@RWoof Please disable PS and try to replicate the bug. If the bug exists while PS is disabled then it is bound to happen when PS is enabled too as t is not related to PS.

@pjft I shall have a look tomorrow.

[2017-08-21 09:11] hex007 commented on #218
@RWoof For posting code use three ` symbol followed by language (xml here) to start code block and three ` to end for proper formatting

[2017-08-21 09:20] pjft commented on #217
Thanks, and sorry for the trouble.

I actually think this may have been happening for a _long_ time, now, reading the description. I'm almost positive I ran into it once as well, but didn't think too much of it - probably thought it was a one off glitch, as I couldn't really replicate it.

If that's the case, we may be chasing the wrong thing, but rather might be easier to treat this as a new bug.

[2017-08-21 09:57] hex007 commented on #217
@pjft I went back to v2.2.1 and the bug is still present. This points to an old bug.

[2017-08-21 10:00] pjft commented on #217
Thanks for checking!

- Paulo Tavares

On Mon, Aug 21, 2017 at 10:57 AM, Saket Dandawate <notifications@github.com>
wrote:

[2017-08-21 13:47] RWoof commented on #218
[code]

[2017-08-21 13:58] joolswills commented on #218
You can edit your posts on github btw - the earlier post could

[2017-08-21 13:59] joolswills commented on #218
keyboard fail. I will edit your earlier post - you can edit earlier posts on github - rather than reposting.

[2017-08-22 01:08] csonsino commented on #174
Oh, I missed that you have 2 copies of the game.  It looks like the `North & South` version is using the name `Les Tuniques Bleues - North & South`.  Do you have a line in that log that says:
`lvl3: 	*** BasicGameListView::populateList(), Adding game to list: Les Tuniques Bleues - North & South`, and is the game showing up in your list with that name?

[2017-08-22 17:26] pjft opened #219 "GL Compilation errors on the Pi"
I assume it's related to the recent GL changes, but compilation is failing consistently.

OS Version: Linux 4.4.38-v7+ armv7l GNU/Linux

[code]

I've reverted to an old branch to test a few code changes I was working on, but wanted to bring this up in case it's something obvious I'm missing, probably a compilation flag or something.

Best.

[2017-08-22 17:31] hex007 commented on #219
@pjft can you try make clean before building?

[2017-08-22 17:33] pjft commented on #219
That would have been something a smart person would have indeed tried.

Let me get back to you.

- Paulo Tavares

On Tue, Aug 22, 2017 at 6:31 PM, Saket Dandawate <notifications@github.com>
wrote:

[2017-08-22 18:11] pjft commented on #219
Yeah, that sorted. Thanks for the help, and sorry for wasting your time.

[2017-08-22 18:14] pjft commented on #219
Actually I spoke too soon.

It happens at the linking stage.

I ran make clean, then cmake ., then make as usual. Ideas?

[code]

[2017-08-22 18:16] joolswills commented on #219
Did you do a clean checkout - removing `CMakeCache` for example.

[2017-08-22 18:20] pjft commented on #219
I didn't, but I'll look into that then if it's not happening to others.
Thanks.

For now I'll try to wrap up the last things I was working on the previous
code branch, and if I have the time I'll look into this.

Thanks.
On Tue, 22 Aug 2017 at 19:16 Jools Wills <notifications@github.com> wrote:

[2017-08-22 18:22] joolswills commented on #219
I'm testing now.

BTW are you aware that when you reply to github via email you are quoting the previous message etc - might be worth stripping that when replying.

[2017-08-22 18:25] hex007 commented on #219
The current master compiles on Liunx PC.  I am also testing on Pi3 now

[2017-08-22 18:28] joolswills commented on #219
Builds and links fine here on my RPI. I guess you have some old stale/cached makefiles from CMake.

[2017-08-22 18:29] pjft commented on #219
Thanks both, and good reminders on the email. I'll keep both in mind in the future - I use email when on my phone as it's faster.

I'll close this then and I'll look into clearing those caches.

Cheers.

[2017-08-22 18:29] #219 closed

[2017-08-22 20:31] hex007 commented on #217
@pjft I have found what is causing this bug. When exiting the game ES shows and animation that translates. If this translation is disturbed the frame gets stuck in y direction. Depending on when the key is pressed you should be able to see this clearly. I will dive into the code later today.

[2017-08-22 20:35] pjft commented on #217
Oh, great finding. You may be on the right track here.

Best of luck! Let me know if I can help.
On Tue, 22 Aug 2017 at 21:31 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-22 20:56] pjft commented on #219
Just to confirm, after removing the CMake temporary files it built everything correctly. Sorry for the trouble.

Best.

[2017-08-22 21:02] hex007 commented on #219
Just deleting the CMakeCache.txt works.

[2017-08-23 01:38] #217 closed

[2017-08-23 07:51] magostinelli commented on #174
It Works!
I didn't notice this line in the log.

Who have changed the name of the game? The scraper?

I googled for "Les Tuniques Bleues" and i found that it was a french name.

[2017-08-23 07:59] hex007 commented on #174
@magostinelli Please mark close the issue if it has been solved. Thanks.

[2017-08-23 08:01] hex007 commented on #218
@RWoof Can you run ES from ssh and paste the error log that you see? It would help sort what problem you are having.

[2017-08-23 08:21] magostinelli commented on #174
@hex007 It will be solved when the game are listed in emulationstation with the correct name.

[2017-08-23 08:39] pjft commented on #174
@magostinelli I'm not sure I get that comment. The scraper might have matched that ROM to that name, depending on the database entry it selected for that ROM. If you want it to be listed with a different name, edit the gamelist.

If the gamelist shows "Les Tuniques Bleues - North & South" and ES shows that entry, then that is the correct name, and this is not an issue. ES has no way to guess what

[2017-08-23 09:30] pjft opened #223 "Video screensaver doesn't trigger on Instant PS"
Hi @hex007 .

Sorry for the trouble.

I was testing #222 this morning and I didn't manage to get the video screensaver to trigger on the Instant PS mode - at least on OMX Player.

I know we had tested a build where that was working, but I was checking the code and nothing seems to have been changed from what was committed for the fix, so I'm at a loss.

I also tested the current live build (2.6.0)

[2017-08-23 11:24] meleu commented on #187
Looks like this issue was fixed by #220 and can be closed.

[2017-08-23 12:09] #187 closed

[2017-08-23 12:52] magostinelli commented on #174
I prefer to keep open the issue, to complety solve the problem for me, but also for other retropie users.
I don't have the name the name "Les Tuniques Bleues - North & South" my gamelist.xml, can I readd it or relaunch the scraper?

I had a backup:
`diff gamelist.xml gamelist.xml.old
5060a5061,5072

8788c8800
<   </gameList>
---

`

[2017-08-23 12:55] pjft commented on #174
Can you share your gamelist.xml file from ~/RetroPie/Roms/nes and from
~/.emulationstation/gamelists/nes via pastebin or some other way?
On Wed, 23 Aug 2017 at 13:52 Michele Agostinelli <notifications@github.com>
wrote:

[2017-08-23 15:49] EctoOne opened #224 "Wanted: Origin and Aligment for <helpsystem>"
Since <origin> was added for carousel lately, i wonder if it would be possible to add it for <helpsystem> as well. And to be able to fully center it dynamically when switching between systemview and basic-/detailed-/videoview it would be nice if <aligment> could also be added.

[2017-08-23 17:18] magostinelli commented on #174
I don't know that there are two gamelist.xml!

Inside /home/pi/RetroPie/roms/nes, i have:

`<game id="1476" source="ScreenScraper">
        <path>./North &amp; South.zip</path>
        <name>Les Tuniques Bleues - North &amp; South</name>
        <desc>Based on the Belgian comic book, "Les Tuniques Bleues", this strategy game allows you to replay the American Civil War from both the North and the S

[2017-08-23 17:22] hex007 commented on #223
@pjft I forced VSS with OMX player with PS disabled and it doesnt work. Something has broken ES with omx.

@joolswills When was the binary last updated?

[2017-08-23 17:28] joolswills commented on #223
18/08

[2017-08-23 17:32] pjft commented on #223
I compiled the most recent code and it wasn't working either, so I'm not
sure it's a binary thing.

The code also doesn't seem to be that changed from the PS fixes commit, so
my guess is that we missed something.

How's it with VLC?

[2017-08-23 17:57] hex007 commented on #223
@pjft  I think you should change the title.

I have not tried using VLC.

It runs as expected if I run omx using ssh while ES is running

[2017-08-23 18:25] pjft commented on #223
Sorry, maybe I'm not being clear. I submitted this because this was
happening in the main binary, not on my code only.

That being said if you can't replicate it it might certainly be something
on my end.
On Wed, 23 Aug 2017 at 19:14 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-23 18:30] hex007 commented on #223
I tested it on my Pi3 and seems to work well with 2.6.0

[2017-08-23 18:33] pjft commented on #223
Sounds good. Do close it then, or I'll close it later. I won't have my Pi
for the next few weeks, so I'll reopen afterwards if it does happen.

Thanks.

Either way, I'd definitely appreciate your review on that PR, in case I did
mess something up there.

Cheers.
On Wed, 23 Aug 2017 at 19:30 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-23 18:34] hex007 commented on #223
@joolswills can you close this issue?

[2017-08-23 18:39] #223 closed

[2017-08-23 18:44] pjft commented on #223
Just to confirm, though, I'm not talking about triggering it via select as that defeats the purpose of the PS behavior:)

I'm referring to having let it wait for the timeout, in instant mode, and the video screensaver not having been triggered.

That being said, it could certainly be something on my end, so no worries. Sorry about the false alarm.

[2017-08-23 20:05] hex007 commented on #223
Yes I tested it with timeout.

[2017-08-24 00:40] RWoof commented on #218
I took a pic of it before, the error message luckily was there when exiting emulationstation.

![img_2513](https://user-images.githubusercontent.com/25894191/29644306-56dd0d7a-8832-11e7-99ed-9163df6ac6ca.JPG)

[2017-08-24 01:47] hex007 commented on #218
@RWoof try this command and paste the output

`aplay -l`

[2017-08-24 01:49] RWoof commented on #218
**** List of PLAYBACK Hardware Devices ****
card 1: Device [USB Audio Device], device 0: USB Audio [USB Audio]
  Subdevices: 1/1
  Subdevice #0: subdevice #0

[2017-08-24 02:38] jrassa commented on #204
Just curious, but why are you trying to build with clang vs. gcc?

[2017-08-24 02:48] bentley commented on #204
Clang is the system compiler on OpenBSD amd64, arm64, and i386.

[2017-08-24 02:53] hex007 commented on #218
@RWoof Your config is on point. The only possible problem causing this is your splash screen is running when ES loads up.

The solution that I use on my system (Pizero + USB audio) is to kill omx player before ES is loaded. You can try that by editing the startup script which launches ES on boot and make it kill omxplayer. That should take care of your problem.

[2017-08-24 02:57] RWoof commented on #218
If I do this however it would kill my video splash as it's playing as soon as Emulationstation begins to load, correct? That might be more of an issue for me than the error message at this stage.

I was wondering if there is a way to prevent ES trying to re-initialize Alsa as it loads if it is already in use or perhaps a way to allow multiple processes to use Alsa at the same time? Sorry if these

[2017-08-24 03:04] hex007 commented on #218
I dont think that is possible presently. If Alsa is busy it will not initialize. Adding a method to reinit it on failure will yield errors in loop if wrong device is selected.

Another side effect of this is Gamelist scroll sounds are not available.

What you can do is change device and change it back to reinit the ALSA, which is not ideal either.

[2017-08-24 03:05] RWoof commented on #218
Thank you very much for your help!

[2017-08-24 03:06] hex007 commented on #218
You can close the issue if you are okay with it.

[2017-08-24 03:06] #218 closed

[2017-08-24 06:21] pjft commented on #174
Look, in the gamelist you sent from /home/pi/RetroPie/roms/nes/gamelist.xml you have this:

[code]

That's where it's getting the name from. Please edit it or change it if you don't like that name.

Please close this issue.

[2017-08-24 08:39] #174 closed

[2017-08-27 11:01] RWoof opened #228 "Omxplayer snaps showing on top of theme."
Unlike the default video player, when omxplayer is enabled it seems to play video snaps on top of the theme background images while viewing the game list  rather than under. This means themes like magazine madness that normally show snaps inside tv monitors will not look right.

[2017-08-27 11:12] Darknior commented on #228
Yes it's normal, you don't read the forum before posting here.
We can't do nothing for this at this time, i you want to use this theme, use VLC player.

[2017-08-27 15:57] #228 closed

[2017-08-27 20:31] robindegen commented on #61
@joolswills Did you perhaps forget to merge the actual PR? The issue is closed but the change is not in master? I had to manually apply the PR and then my issue was fixed.

[2017-08-28 03:42] hex007 commented on #61
@robindegen It is included in master long ago

https://github.com/RetroPie/EmulationStation/commit/cdd819e041104a78dd072b637d5adc8a36390ae9

[2017-08-28 05:15] robindegen commented on #61
@hex007 Ah I see where the confusion is now. The emulationstation.org website still points to Aloshi/EmulationStation , which hasn't been updated in 3 years. Maybe someone should fix that link :wink:

[2017-08-28 06:45] hex007 commented on #61
Emulationstation.org is Aloshi's website and not Retropie's

[2017-08-28 22:25] ChliHug opened #230 "Missing error checks for SDL_BuildAudioCVT"
When `Sound::init` calls `SDL_BuildAudioCVT` it doesn't check for errors and then tries to allocate memory based on values that the function was supposed to set. This can have obvious memory allocation failures and other issues.

https://github.com/RetroPie/EmulationStation/blob/master/es-core/src/Sound.cpp#L69

It seems that a [user ran into this](https://bugzilla.libsdl.org/show_bug.cgi?id=3662#

[2017-08-30 18:57] zigurana opened #234 "Fontsize of menu's too large for smaller screens"
So, I am using ES on an old 1024x768 LCD monitor, and some menus simply do not fit.
Worst case example:
![font_issue](https://user-images.githubusercontent.com/6103768/29889698-6a067b00-8dc5-11e7-9524-92fdd1f44260.png)

Ideally, two things happen:
1) we would implement a more optimal font size detection, derived from the actual screen size / aspect ratio.
2) we have another look at the menus, to s

[2017-08-30 19:05] hex007 commented on #234
#232 Can you try this?

[2017-08-30 19:20] pjft commented on #234
Figures as much. Thanks for testing that on that screen ratio. Darn that's
an ugly menu.

See if @hex007 's proposal helps, but either way happy to revisit those
strings, and even font size for those.

Thanks.
On Wed, 30 Aug 2017 at 20:05 Saket Dandawate <notifications@github.com>
wrote:

[2017-08-30 19:33] hex007 commented on #234
I have modified the Menu sizes so those strings should not create a problem now.

@zigurana I think you are behind on commits on master.

[2017-08-30 19:50] zigurana commented on #234
gah! merged 15 hours ago... Let me check

[2017-08-30 19:55] zigurana commented on #234
@hex007 You are correct! Good work man!
(Still considering different strings for that menu though...)

[2017-08-30 19:55] #234 closed

[2017-08-31 02:58] jrassa commented on #230
@ChliHug Thanks for reporting this.  I will try to look into this soon.

[2017-08-31 07:20] Saboti opened #236 "Add --config-path function"
Hello,
It would be nice to have the ability to choose the Path in which the .emulationstation Config Folder should be created.
Like in the Repository from Herdinger (https://github.com/Herdinger/EmulationStation)

Regards Saboti

[2017-08-31 16:54] xTeixeira opened #237 "Emulationstation crashes when entering system menu"
Emulationstation crashes when entering the rom list screen for any installed system.
Tested this in 2 different computers running Ubuntu Gnome 17.04 with emulationstation installed from retropie installer as per usual retropie installation. Both computers using the nvidia proprietary driver (version 375 installed directly from Ubuntu repos).
I've installed the emulationstation-kids fork from retro

[2017-08-31 16:59] joolswills commented on #237
When did you last update ?

[2017-08-31 17:02] xTeixeira commented on #237
About 3 days ago, as far as I can remember, is it already fixed?

[2017-08-31 17:03] joolswills commented on #237
Yes. Best to update first before opening a ticket.

[2017-08-31 17:05] xTeixeira commented on #237
I see. I'll close this then, sorry for the misunderstanding.

[2017-08-31 17:05] #237 closed

[2017-08-31 17:13] joolswills commented on #237
Please can you update and verify though - just in case it's not the same issue.

[2017-08-31 17:14] xTeixeira commented on #237
Sure. As soon as I get the chance, which should be in about 5 hours when I get off from work.

[2017-09-02 17:20] Koerty commented on #206
**Current grid theming syntax**

[code]

[2017-09-02 17:31] Koerty commented on #206
**So I guess you wanna go with this one ? Which I find monstrously ugly, but this is just my opinion **

[code]

[2017-09-03 03:11] jrassa commented on #206
@Koerty While I would agree that it is a bit ugly, I don't really think it is anymore unclear then the nested xml syntax that you proposed and I believe that it is clearer then the current syntax with multiple disparate elements.

However, I would be ok with a middle ground approach between the 2 syntaxes.  My biggest concern with the current syntax is all the various elements that only hold a sin

[2017-09-03 13:45] Koerty commented on #206
@jrassa My main concern is not that it's ugly, it's that it is a bit unclear what you set and what impact it will have on the grid. I need to work on make it more clear and easy to understand.

About margin, rows and columns, I had something like that in my mind but not the same approach. I think removing `margin` and `rowsAndColumns` is a bad idea for 2 reasons:
 - First, different gaming station

[2017-09-03 14:58] jrassa commented on #206
The problem I see with this is that it won't work well when the theme is run at different resolutions and aspect ratios.  It a theme specifies that it wants five columns and with a set margin, and was design to work with a widescreen aspect ratio, it will look very bad when running 4:3, as all of the tiles will be squished horizontally, or worse some will be rendered offscreen.  If the theme just

[2017-09-03 16:07] Koerty commented on #206
They won't be squashed or go offscreen they will just be smallers. And we will have this problem with all the solutions proposed, we can't render everything properly whatever you use emulationstation on a 1080p monitor or a 1080p tv screen or a 800*600 monitor. That's why I submited the idea to allow users to override this parameter (the number of columns), but you already tackled that idea before

[2017-09-03 17:52] lilbud commented on #206
could 'maxSize' be used to determine the size of the tiles?

[2017-09-03 18:33] Koerty commented on #206
What do you mean ?

[2017-09-03 19:23] jrassa commented on #206
All sizes in ES are currently expressed in %.  Anything being added, including GridView, should do the same.

I was simplifying things.  However, it doesn't change my point.  For sake of simplification the following will only deal with the width and will be expressed as % of screen width (0.8 = 80%)
Currently GRID_SIZE is hardcoded to .8 and TILE_SIZE, COLUMNS and MARGIN are all currently configur

[2017-09-03 19:24] lilbud commented on #206
maxSize will define the limits that an image can stretch. So if maxSize is set to 'x=400px, y=400px' then the image will stretch until one of those has been met, and scales the other side equally. So for N64 games, the art will stretch to 400px wide and scale the y axis accordingly

[2017-09-03 21:02] Koerty commented on #206
Yes and my proposition is to calculate the tile size at runtime, which allow both the theme maker and the user, if you accept my proposition to allow him to change the grid number of columns, to easily control the size of the tiles.

Yes, but it is way easier for theme makers to setup the gridview to have let's say 4 columns globally, 3 columns for the n64, 5 for the megadrive, than search for gam

[2017-09-03 21:37] Koerty commented on #206
Just tested current implementation.

`gridtile_selected` is the size of the tile when selected, this act like a weird zoom since:
[code]
will make the selected game take half the screen both in height and width, completely destroying the game cover aspect ratio.

The `gridtile` size is not taken into account the first time the grid is rendered, the tile will only be set to this size once it got un

[2017-09-04 04:39] jrassa commented on #206
Wouldn't it be be even easier to control the size of the tiles by actually controlling the size of the tiles?  I understand that this wouldn't work well with giving users the ability to set the number of columns, but I am not sure that we should do that.  Some themes will want tight control over the size and number of columns.  I could see the nes-mini theme adopting this to create a grid with a s

[2017-09-04 07:01] Koerty commented on #206
This look like a really specific case to handle

If I remember right (I can't look at the code right now), the grid analyze all the tiles to be displayed and search for the one with the biggest height or width, and strech all the images to that size. This is because all the images actually have different dimensions, if I take the megadrive example again, some image have a size of 600*700, some 600

[2017-09-04 07:46] pjft commented on #206
Actually, that request does not come from the custom game collections
angle, though it still stands. Arcade is an easy system to exemplify that
with multiple aspect ratios for the screenshots/artwork - vertical,
horizontal, etc.

The artwork will stay centered in that area for the most part.
On Mon, 4 Sep 2017 at 08:01 Koerty <notifications@github.com> wrote:

[2017-09-04 18:10] Koerty commented on #206
@pjft I don't know, looking back at all the request and comments on this issue and the gridview's pull request, for me it start looking like some sad joke to force me to give it up for whatever reason.

[2017-09-04 18:28] zigurana commented on #206
@Koerty,
Hey man, come on now, you are doing a heck of a job here! You've brought the code and this discussion further than anyone before, and you should feel proud, not sad!
I hope you realize that we are not trying to put you down, with our endless discussions and review comments, I am just trying to bring a mature implementation into the code base.
I have the feeling that we might be working wi

[2017-09-05 03:22] jrassa commented on #206
@Koerty sorry to hear that you feel that way.  If there wasn't a desire to see this get done, it would have be rejected.  You have taken on a very large task and it requires a lot of scrutiny.  My intention has only been to ensure that we get the best implementation possible.

[2017-09-07 05:35] meleu commented on #95
I think this will be solved when/if #240 is merged.

[2017-09-17 02:21] psyke83 commented on #230
Judging by the latest comments in that bug report, it seems that the function won't require the audio subsystem to be initialized for the function to work as intended. This means that there should be no issue with audio deinit/reinit stuff in my [PR#242](https://github.com/RetroPie/EmulationStation/pull/242) when we switch to SDL2 2.0.6.

https://hg.libsdl.org/SDL/rev/41bc8b8e9758

[2017-09-17 19:17] ChliHug commented on #230
Yes, this issue is now just about the missing error check.

[2017-09-17 20:17] pjft opened #243 "Holding button for navigation gets interrupted by Power Savings"
Hi all.

Sorry for submitting rather than fixing - still trying to set up my development environment among everything else.

I noticed today that if I hold a button for navigation (say, down, or R1) that when the PS timeout hits, the navigation will stop. It should be a simple fix - hopefully we're able to detect that a button is still being pressed and as such we count it as a "still pressing a b

[2017-09-17 21:51] hex007 commented on #243
To make this handling correction, we can disable PS on key press and re-enable it when key is released. A simple counter can keep track of the number of keys being pressed currently.

@pjft do you think this will work?

[2017-09-18 05:19] pjft commented on #243
I think it would but it might be a bit more complicated than it needs to.

From reading the code, InputManager::parseEvent seems to return true if it handles an event, so we might just check for that in the main event loop and if it's true we'd set

ps_time = SDL_GetTicks();

Once again, needs some testing and debugging (logs?) to make sure that it does return true if a key is pressed and false ot

[2017-09-18 16:17] hex007 commented on #243
There is already a provision for that https://github.com/RetroPie/EmulationStation/blob/master/es-app/src/main.cpp#L344

In what case does Input manager return false?

[2017-09-18 16:34] pjft commented on #243
As always, you're correct, which means my suggestion wouldn't work. That's what I get for reading the code on my phone. :)

I suppose, then, that keypress triggers an event, and key release triggers another one, and in between we kind of keep doing whatever it is when the key is pressed.

Perhaps we can detect whether the last event was a key down or up, and if it was down, we keep refreshing the

[2017-09-18 16:47] hex007 commented on #243
The ideal solution would be to detect if the event is recurring or not and control PS base on that.

This was a known Issue while writing PS but was skipped as it affected instant and enhanced mostly. The users could workout the trade-offs for those modes.

[2017-09-18 17:11] zigurana commented on #243
Could we not move the `ps_time = SDL_GetTicks();` statement up inside the
`switch(event.type)` list?
That way the timer keeps being reset while the event lasts.

[2017-09-18 17:24] hex007 commented on #243
No that would not work as each click state is an event. Pressing and releasing the button are different events. You will exit from the loop and get stuck in wait. ES is a single threaded application and hence will only hit the `if (ps_standby...` after the last `ps_time = SDL_GetTicks();`

What i want to try is to detect if the key is pressed or released. This works well for buttons but not for an

[2017-09-19 03:16] psyke83 commented on #243
Maybe if you take a snapshot of key status inside the switch list via SDL_GetKeyState, and then update the array outside the switch via SDL_PumpEvents & see if SDL_GetTicks(); should be executed depending on whether they key is still pressed? Not sure if that has the same problem with analog sticks.

http://sdl.beuc.net/sdl.wiki/SDL_GetKeyState

[2017-09-19 03:46] psyke83 commented on #243
This fixes the issue for joystick buttons:
[code]

On INSTANT PowerSaver mode, holding the dpad down will scroll correctly. Letting go of the pad, emulationstation's CPU reduces to 0.3% almost immediately. So I think you just need to improve this to detect keyboard and axis events too.

[2017-09-19 05:51] hex007 commented on #243
@psyke83 Handling keypress is the easiest thing. Joystick is difficult as there are 1 or 2 press events while only one release event. Some Joysticks have Dpad assigned to JOYHAT event rather than JOYBUTTON. A user might have a different button  for scrolling. Handling all these scenarios makes for complex logic.

[2017-09-19 06:01] psyke83 commented on #243
There's a SDL_HAT_CENTERED that can be used to check in that case. The detection for the multiple event types could just be moved into the else clause without any else condition.

[2017-09-19 06:02] hex007 commented on #243
@pjft I think toggling PS here will work perfectly

https://github.com/RetroPie/EmulationStation/blob/master/es-app/src/components/TextListComponent.h#L245-L275

[2017-09-19 06:06] pjft commented on #243
Maybe. Is the system carousel also covered by that? Would it not be better
handled in input manager?
On Tue, 19 Sep 2017 at 07:03 Saket Dandawate <notifications@github.com>
wrote:

[2017-09-19 06:08] hex007 commented on #243
Or possibly exposing this method

https://github.com/RetroPie/EmulationStation/blob/master/es-core/src/components/IList.h#L98

[2017-09-19 06:11] joolswills commented on #243
@pjft - as mentioned before - is there any chance you not include the quoted text when replying to github via email? (or reply via github).

[2017-09-19 06:14] hex007 commented on #243
@pjft you are leaking your unsubscribe url

[2017-09-19 06:15] pjft commented on #243
Sorry. Inbox's fast reply doesn't expose any more content, I assumed it
wasn't including it.

[2017-09-19 06:17] pjft commented on #243
Mobile doesn't allow to edit the post, deleted it instead.

Something related to iList might be more central indeed.

Thanks both.

[2017-09-19 06:24] hex007 commented on #243
@pjft try one of the android applications for github.

[2017-09-20 12:16] pjft commented on #243
I was looking through the code and probably a centralized solution in the main.cpp cycle is the wisest, otherwise we're just sprinkling small changes to different components to make things work as intended.

Can't we start from @psyke83 's solution and build on it as needed? It seems to be the most structured - relying on `event.type == SDL_KEYDOWN || event.type == SDL_JOYBUTTONDOWN`.

[2017-09-20 16:25] hex007 commented on #243
That would be incorrect as that `else if` is only entered if we exit out of wait by timeout. If we add the event.type check there then EVENT will be null at that stage if no event was received for that cycle.

[code]

[2017-09-20 18:03] hex007 commented on #243
@pjft I built the latest unmodified master and I am unable to replicate the bug. Can you provide me which PS mode are you having a problem with.

@psyke83 Can you try the same on a fresh master try with PS instant and enhanced.

[2017-09-20 18:37] psyke83 commented on #243
The issue can be reproduced with INSTANT. Enter a system list with multiple items and hold the dpad or keyboard down to scroll, and it will only scroll one entry.

When I increased the INSTANT timeout to 800, 100ms etc., it would scroll 2 or 3 entries. Presumably ENHANCED will also cause issues for long lists that would take >3secs to scroll.

I'll have time to recompile w/just the changes I propo

[2017-09-20 19:01] psyke83 commented on #243
If the issue doesn't occur when the input is an axis or hat due to continuous input (doesn't have up/down states), maybe the change I proposed is enough to fix for all cases. Needs testing with other input devices to be sure, though. I also use DualShock3 with the sixad wrapper & the analog sticks don't work at all in ES, so I can't test them.

[2017-09-20 19:04] psyke83 commented on #243
@pjft

The issue occurs on all power modes but analogous to the timeout, right?

https://github.com/RetroPie/EmulationStation/blob/master/es-core/src/PowerSaver.h#L6

INSTANT triggers in 200ms (only enough to scroll one item), ENHANCED after 3 seconds & DEFAULT after 10 seconds.

[2017-09-20 21:37] psyke83 commented on #243
@hex007

I rebuilt with no other changes but the one-line patch above - it definitely fixes the problem. I also added some debug to PowerSaver::getTimeout() to print when the function is called, and can confirm that the timeout is delayed until the down button or key is released, even on INSTANT.

As I said, the issue can also be reproduced with a standard USB-connected keyboard. I don't have any

[2017-09-20 22:04] hex007 commented on #243
I am testing it on Fedora Linux PC with keyboard. I will test with joystick and check back. I have no idea how the patch s working. But if it is then I would like to test it with all my gamepads to root out any conflicts.

Once tested I shall submit a PR.

[2017-09-20 22:29] psyke83 commented on #243
The keyboard repeat my explain why the issue isn't present on keyboard.

As a test, I added this:
[code]
The repeat is reported as you would expect for the keyboard (not reported for a single press, but holding down a key reports it continuously), but oddly enough, the DS3's dpad button presses are always reported as a repeat, even when the button was not pressed before. Also, holding down a butto

[2017-09-20 22:51] hex007 commented on #243
That explains a lot. So a fix is only needed for gamepads and not keyboard.
I tried it with my gamepad (snes usb controller) and the patch fails to handle this correctly.

[2017-09-20 23:18] hex007 commented on #243
This solves the problem @pjft @psyke83 Can you test and get back on this?

[code]

[2017-09-20 23:38] psyke83 commented on #243
@hex007 It does indeed solve it on DS3, - nice work. I added some debug and see that getTimeout triggers only after the button is released, so it looks fine.

[2017-09-21 00:12] hex007 commented on #243
@pjft Can you test this with the controllers you have?

[2017-09-21 00:42] psyke83 commented on #243
@hex007

I discovered a bug. On current master, when PS = INSTANT, it's not possible to trigger input configuration using the DS3. When the prompt to hold down the button appears, holding down the button will trigger the display of the device name, but the font will only appear as light grey and never transitions to black. The keyboard is not affected by this issue.

Your patch doesn't fix the iss

[2017-09-21 01:11] hex007 commented on #243
@psyke83 I am unable to get long click scrolling working with your patch. So I cannot use it for testing or as a solution.

Another way to handle this, till where long click should be triggered is found, is to just disable PS while running the input configuration, similar to what is done while scrapper is running.

[2017-09-21 01:43] psyke83 commented on #243
I was suggesting that you check for the issue. I know that my solution is not ideal. Maybe disabling PS is best, otherwise we need something more complex like this:

[code]
This would likely catch everything, but I can't test the jhat condition, and I didn't account for the jaxis deadzone. But it's needlessly complex compared to just disabling PS during input.

[2017-09-21 01:51] hex007 commented on #243
Yea just disabling PS is ideal while running Input Configuration. This certainly is a lot of complexity. I added quick switching PS just for cases where deep integration would be too complex.

[2017-09-21 08:00] pjft commented on #243
Thanks for all this work.

Happy to test it as soon as I have the chance.

What's the best way to get the de-facto fix on my Pi? Is there a branch with the code to test that I can checkout and test?

Thank you both.

[2017-09-21 09:18] joolswills opened #244 "collection settings naming"
This was mentioned in another ticket/PR I think - but I would like to rename the collection settings to reduce the wordiness. Any suggestions

for example (just ideas)

Main settings - from `GAME COLLECTION SETTINGS` to `COLLECTION SETTINGS"

then perhaps we can just have (do we need collections in every line - since the area is all about collections?)

[code]

happy for suggestions. I am thinking