[2017-09-21 09:40] zigurana commented on #244
Good idea!
`AUTOMATIC` really means 'from metadata', as that's where the entries are based on, and `CUSTOM` means 'user defined'. For the first, i'd like
'SELECT FROM METADATA', and for the second 'SELECT FROM CUSTOM'.
With respect to the other entries, I am not sure we really need all these options,but changing that would entail more than just a labeling change, so let's park that.

[2017-09-21 09:46] zigurana commented on #244
I appreciate that my suggestions are not what you are looking for, they are even more verbose, but I wanted to explain what the options do.

[2017-09-21 10:00] pjft commented on #244
Thanks for starting this. I'm supportive of this kind of changes in general.

My suggestions:

Main settings - from GAME COLLECTION SETTINGS to "GAME COLLECTIONS"

then:

AUTOMATIC
CUSTOM
CREATE FROM THEME
CREATE NEW
GROUP UNTHEMED
SORT

I imagine we would do well in merging the "automatic" and "custom" menu to a single one that just states "Select Active" and lists all collections at once. That i

[2017-09-21 10:04] joolswills commented on #244
I don't mind too much for 4.3 - I had assumed it would just require some strings changes but @zigurana 's comment suggests it's more involved so maybe I can just leave it to you to do when convenient.

[2017-09-21 10:09] pjft commented on #244
We can do the string changes for now, and then the remaining ones at our pace. I don't oppose those in any way.

Thanks for paying attention to this.

[2017-09-21 16:37] chewvodka opened #245 "Video Scrensaver is BLACK if an ES Menu is Open"
Just making an official BUG post here for this.  It was reported in the forums but never fixed.  Essentially, if you have the Video Screensaver enabled, and are in the ES menus (from pressing START or SELECT to change various options), the screensaver just loads up a black screen.  It's probably a rare case, since most people would do whatever they need to do in those menus then have them closed o

[2017-09-21 16:38] hex007 commented on #243
@pjft Its just addition of 2 lines. here https://github.com/RetroPie/EmulationStation/issues/243#issuecomment-331007257

[2017-09-21 16:40] hex007 commented on #244
@joolswills Will you be building binaries again? There is a PS patch that I intend to submit in an hour fixing #243 . Let me know so I shall hurry up with this.

[2017-09-21 16:49] psyke83 commented on #244
@hex007 I don't think it's necessary to rush it? Your patch still doesn't fix the related issue of "press any key" when configuring input broken on the INSTANT profile.

[2017-09-21 16:55] hex007 commented on #244
@psyke83 Did you check the latest comments on the thread? We can just disable and enable PS to take care of this. But yea this shall be hurried if and only if @joolswills is building binaries again.

[2017-09-21 16:58] psyke83 commented on #244
I may have misunderstood. You meant for users to manually disable via the menu? I was under the impression that you meant to add PS pause/resume calls to GuiDetectDevice::update (or wherever is best). I assumed you'd update the patch to include something like that.

[2017-09-21 17:01] hex007 commented on #244
Yes I meant that the code will automatically handle PS pause and resume.

We -> DEVS
Users -> USERS

[2017-09-21 17:04] hex007 commented on #244
@psyke83 The 4.3 is already released so :|

[2017-09-21 17:10] pjft commented on #245
Thanks.

True. I've experienced this quite a few times, but didn't necessarily consider it "high impact" enough. Sorry about that.

It certainly is something I should look into. I know exactly why that happens, I'm not quite sure how to fix it without breaking other things though. I'll have to dig into the code, and tread carefully.

Thanks.

[2017-09-21 17:14] chewvodka commented on #245
No worries.  :)  I was just making it official.  It's probably not high impact at all.

[2017-09-24 06:51] pjft commented on #243
This seems to work. Thanks.

[2017-09-24 07:17] #243 closed

[2017-09-28 00:33] JoseBarakat opened #249 "Can't compile. cmake error [Configuring incomplete, errors occurred!]"
[code]
[code]
[code]
[code]
[code]
![captura de pantalla de 2017-09-27 19-29-44](https://user-images.githubusercontent.com/15618933/30943966-69e993a4-a3ba-11e7-81b5-1e1263e8c76b.png)
[CMakeError.log](https://github.com/RetroPie/EmulationStation/files/1339052/CMakeError.log)
[CMakeOutput.log](https://github.com/RetroPie/EmulationStation/files/1339053/CMakeOutput.log)

[2017-09-28 00:42] joolswills commented on #249
You didn't check out the submodules.

[2017-09-28 00:43] joolswills commented on #249
You should use the RetroPie forum for support. Thanks.

[2017-09-28 05:32] JoseBarakat commented on #249
Sorry. I don't know how to check out the submodules. I just followed the instructions on README.md. If something additional must be done and it's not on the compilation instructions, then it is an issue with README.md compilation instructions for Debian/Ubuntu.

[2017-09-28 06:02] JoseBarakat commented on #249
README.md must be modified. Suggested in #121.

[2017-09-28 06:40] JoseBarakat commented on #249
As suggested by @hex007 in #121, the repository must be cloned like this to build:
`git clone --depth 1 --recurse-submodules https://github.com/RetroPie/EmulationStation`

This was my terminal output:
[code]

We can close this after README.md modifications.

[2017-09-28 06:53] hex007 commented on #249
You can run the binary directly.

`> ../emulationstation`

[2017-09-28 07:05] JoseBarakat commented on #249
Hi @hex007
It compiled and it runs fine. I'll add systems and themes later. But, since it's a bash script, it doesn't appear in Ubuntu Gnome "Activities" and I'll have to run it always from the terminal in its own directory.
[code]

[2017-09-28 07:22] joolswills commented on #249
This fork of es is for RetroPie. It's not developed as a standalone project.

[2017-09-28 07:22] #249 closed

[2017-09-29 14:49] gaenserich opened #251 "Crash and UnicodeChar Error on RPi3"
I get a similar error as mentioned here (https://github.com/RetroPie/RetroPie-Setup/issues/2095) on ES 2.6.3rp with the RetroPie-Setup script 4.3 (although it occurred in the late 4.2.x series) on a RPi3. From the main screen, if I attempt to navigate to either the MegaDrive (using the Genesis branding) or PC system pages, ES crashes to terminal, throwing this error:
[code]
The keyboard becomes no

[2017-09-29 15:10] pjft commented on #251
Thanks.

I see nothing out of the ordinary in these so far. Would you happen to recall what version you were in prior to start experiencing the crash?

You mentioned in the other thread that if you remove the problematic systems, it then crashes elsewhere, which makes sense.

In an extremely long shot, would you per chance be able to remove the NES system and test? Meaning, just rename your `nes`

[2017-09-30 15:29] gaenserich commented on #251
Good news! It appears that the 720 warning had something to do with it. Steps to a fix:
1) I did a full reinstall of the whole underlying operating system, e.g.
[code]
2) I installed `libav-tools` in preparation to record the error.

3) Renamed `/home/pi/RetroPie/roms/nes` to `/home/pi/RetroPie/roms/nes.old`

4) Started ES, attempted to replicate the error, and then nothing happened.

5) Renamed t

[2017-10-03 14:51] pjft commented on #251
Thanks for sharing and troubleshooting.

I suppose that the key test is: if you reinstate the previous weird character on the errant file as well as in the gamelist, does it still crash?

Thanks.

[2017-10-04 22:21] gaenserich commented on #251
I did, and it did once again crash with the same error und the same conditions!

[2017-10-05 16:40] raelgc opened #253 "Alow to select a system to go directly to the game list"
When we have just one platform with ROMs in the system, we are still presented to the platform selection screen.

The improvement is to check when this happens and skips the platform selection screen, going directly to that platform ROMs list.

[2017-10-16 14:00] moT01 opened #258 "delete associated images when deleting game"
After I deleted some games, I went to add some images the scraper couldn't find to some other games, and noticed the images of the games I removed were still there taking up space. Not a lot of space, but it would be nice if those images got deleted when someone deletes a game - just a thought

[2017-10-16 15:21] pjft commented on #258
Thanks. This is a good idea in principle, and technically you can also use it for videos and marquee images.

A caveat: it's important to confirm that the image is not used by more games before deleting - for instance, the Arcade and FBA images and videos may be shared. It all depends on who organized the gamelists and artwork, and how.

Just a note.

[2017-10-16 15:23] pjft commented on #244
@zigurana just checking, I believe you are bundling these changes in one of your PRs, is that correct?

[2017-10-16 15:26] dankcushions commented on #258
How are you deleting the games? Because I think there would be two separate ways to handle cleaning up dead images if game is deleted directly (deleting the file via SSH or wherever), or via emulationstation (via edit metadata > delete).

On the subject, I think the 'delete' function within emulationstation should be moved out of the 'edit metadata' screen, but that's another issue entirely ;)

[2017-10-16 15:28] pjft commented on #258
@dankcushions I was clearly reading this as "when deleting from the metadata editor screen", not manually :)

Curious about your angle on removing the "delete" function within ES from that menu, say more!

[2017-10-16 15:34] dankcushions commented on #258
i just think it should be moved somewhere else (the previous menu, i guess?), as it's nothing to do with metadata :) i guess someone just added a 'file delete' function to what previously just deleted the game from the xml? not sure.

[2017-10-16 15:44] pjft commented on #258
Ah, got it - keeping it in ES but elsewhere. I feel your pain on it feeling a bit out of place there :)

I think, from my recollection, that the "file delete" has always been there from Aloshi's time. (Just checked - yeah, [that's where it came from](https://github.com/Aloshi/EmulationStation/blob/master/es-app/src/guis/GuiMetaDataEd.cpp)). :)

I certainly don't have a strong opinion about it - th

[2017-10-16 17:45] moT01 commented on #258
I was deleting from the metadata menu, then manually going into the folders and deleted the images - only cause I was in there to add images for other games - otherwise I wouldn't have known they stayed there. The xml data could get removed/modified as well, but that's really not taking up much space. I would agree that the delete button could be better on the first options menu instead of the met

[2017-10-16 18:59] hex007 commented on #253
Suggested title "Skip Systems view if only one system is shown"

[2017-10-16 20:04] raelgc commented on #253
Thanks @hex007, changed.

[2017-10-17 06:49] zigurana commented on #244
That's correct!

[2017-10-18 22:07] zigurana opened #262 "Setting for font size scaling (for small displays)"
Maybe it's my eyes getting older, but I have a portable device running at 320x240 px, and the default font size for ES are just terribly small.

This is at real-size (100% scaling):
![tinyfont](https://user-images.githubusercontent.com/6103768/31744773-81495e06-b460-11e7-86bf-67a5e1d0561e.png)
The regular dark menu text on light bg is just doable, but the help texts (using FONT_SIZE_SMALL) are unr

[2017-10-22 04:34] kdt75 opened #265 "Windows Compilation Problem"
Getting  a build issue when building under windows with GUIGameListOption.cpp.

Detail of error are as follows:
5>C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include\type_traits(1494): error C2893: Failed to specialize function template 'unknown-type std::invoke(_Callable &&,_Types &&...)' (compiling source file C:\src\EmulationStation-2.6.2\es-app\src\guis\GuiGamelistOptions.cpp)
5>  C

[2017-10-23 15:51] hex007 commented on #265
Probably related to #238

[2017-10-24 01:10] ruckage opened #268 "Launch sound not playing if the transition style is set to 'instant'."
It seems there is a bug with the instant transition style that prevents the launch sound from playing.  The launch sound works perfectly with any of the other transition styles.

[2017-10-24 04:46] hex007 commented on #268
It is a feature in works. Instant is supposed to be least resource intensive and hence ES audio is forced disabled

[2017-10-26 14:27] #253 closed

[2017-10-28 01:06] hex007 opened #272 "Cap FPS to 60"
Currently FPS is not capped. If running ES on a proper computer then FPS reaches sky high. Capping FPS might reduce cpu usage too.

![screenshot from 2017-10-27 10-48-58](https://user-images.githubusercontent.com/1689246/32129837-7a1574d4-bb41-11e7-9f4e-1ad4c32a75d9.png)

[2017-10-28 19:30] joolswills commented on #272
Are you not able to enable vsync ? Runs at 60fps on my Linux PC (screen refresh rate). Don't think it needs to be capped unless there are some systems that can't do vsync ?

[2017-10-28 19:40] psyke83 commented on #272
Normal vsync should now be enabled by default for all, so this should only be a problem with "--vsync off". If you cap the framerate for vsync off, 60fps may be the wrong rate depending on the monitor/TV configuration.

I did some research, and the problem with "late swap tearing" was that GLES doesn't support the extensions to implement the feature (GLX_EXT_swap_control_tear or WGL_EXT_swap_contr

[2017-10-28 19:45] psyke83 commented on #272
The above was more relevant to a Pi, but the same issue could have manifested on a Linux desktop if building against GLES or if your GL driver doesn't support late swap tearing but SDL_GL_SetSwapInterval was also giving an erroneous return code.

Try updating your source and make sure it includes this commit: https://github.com/RetroPie/EmulationStation/commit/cdda38d05ba6e23041da1af4d5c4cbda2c78c

[2017-10-28 19:54] pjft commented on #272
For the record, I think @hex007 mentioned in the forums that he noticed this after updating his video drivers, on a Linux set up. May be unrelated but thought I'd mention it.

[2017-10-28 22:04] hex007 commented on #272
I installed NVidia drivers on my Linux x64 and noticed this problem. Removing the drivers restored it to 60fps. @joolswills Do you have nvidia graphics on your linux system for comparison?

[2017-10-28 22:05] joolswills commented on #272
no.

[2017-10-28 22:08] psyke83 commented on #272
@hex007

I saw your forum post. Can you try reverting https://github.com/RetroPie/EmulationStation/pull/270?

If that's the problem, we could change the code so that it only tries to set late swap tearing if it's using GL, so it won't break the Pi. I'm setting up a temporary vmware to try an x64 build (but only against the vmware 3d driver, and I don't have nvidia hardware).

[2017-10-28 23:22] tomaz82 commented on #272
Could it be your nvidia linux drivers forcing vsync to always off? Then it doesn't matter what ES tries to do, it will stay off.

[2017-10-29 02:12] hex007 commented on #272
@psyke83 I reverted to 10 commits back and it still looks same. I am guessing @tomaz82 's idea might be possible. I am using fedora linux and if it works as expected on Ubuntu I cannot complain.

[2017-10-29 02:12] #272 closed

[2017-10-29 02:14] psyke83 commented on #272
Well, I'm seeing the same problem on VMWare Player with latest master branch -- but I don't think it's related to the two recent vsync-related commits. I'm testing with Debian stretch, so perhaps it's an issue with the default SDL 2.0.6. I'll try stable or a few revisions before to see if I can see a difference & will let you know if I find anything.

[2017-10-29 17:00] hex007 commented on #268
Not an issue. Can be closed

[2017-10-29 17:29] ruckage commented on #268
Thanks for the reply.  It's only the launch sound that doesn't work in Instant transition though the game list scroll sound works as expected, why is this the case if audio is disabled?  And if the launch sound is deliberately disabled that seems a strange decision.

[2017-10-29 19:28] hex007 commented on #268
Does it not work only in Instant mode?

With the latest #242 Sounds are disabled in instant mode

[2017-10-29 20:52] ruckage commented on #268
Unless I'm mistaken that seems to be saying that sound is disabled if '**power saver mode**' is set to instant (not **transition style** under UI settings).
I'm using the latest ES binary (v2.6.5RP).  If **transition style** is set to instant then the scroll list sound works perfectly, the launch sound however doesn't play.  Surely if sound was disabled then the scroll list sound wouldn't be worki

[2017-10-29 22:20] hex007 commented on #268
@ruckage If PS_instant is selected then audio is disabled. Not instant transition. Sorry for the confusion.

So instant transition is causing no launch sounds?
This might be because instant transition uses very few frames before launching the game. This might result in ES de-initializing its components before game launch. So there is actually no time for the audio to play. In the case of gamelist

[2017-11-03 02:00] LodanZark opened #281 "[EmulationStation-Experimental] Systems with no gamelist.xml don't show up"
When I was using this commit: 7c35ad50054e895faa5adb28b7f4aa7ac9e62b18  everything was fine but since last commits the systems that don't have the gamelist.xml file aren't displaying on the system select menu.

[2017-11-03 08:28] zigurana commented on #281
Hi @LodanZark, I cannot reproduce your issue (on my windows machine, but still). Please tell me more about your setup.
* Are your running ES with any of the start-up flags (--ignore-gamelist, --gamelist-only)
* Were you running a specific UI mode when this issue occurred?
* Can you post the content of your settings.cfg to pastebin?

[2017-11-03 10:18] zigurana commented on #33
Functionality equivalent to what was requested here has been introduced with #252. I believe this van be closed?

[2017-11-03 13:39] LodanZark commented on #281
Hellow @zigurana

Personally I do prefer console games to be display just with name and cover art so since this commit ( cd2f2ee42b911711db6bd6e0276bea494a389e88 ) I only use gamelist.xml for the arcade games.

I am using the Kiosk mode, I am not aware if I am using any flags and here it's my settings.cfg
[code]

[2017-11-03 14:10] pjft commented on #281
I'm puzzled as to what that commit might have changed in that regard.

What's the content of your es_settings.cfg file? And what happens if you rename your arcade gamelist.xml to something else (gamelist.bak, for instance)?

[2017-11-03 14:23] zigurana commented on #281
Do the systems re-appear when you switch back to Full UI?

[2017-11-03 16:04] LodanZark commented on #281
My es_system.cfg it's available in the third comment of this ticket.

After rename the gamelist.xml to gamelist.xml.bak followed by the system reboot made the system i edited to disappear from the menu.

I also noticed a minor issue in the bottom of the system selection, the first system to be displayed it shows "system info" instead the number of games, and only display the value after moving bac

[2017-11-03 16:46] hex007 commented on #245
Is this still reproducible on RPi ? On Linux screensaver is launched works as expected.

[2017-11-03 16:56] pjft commented on #245
Hm.

It should certainly be reproducible.

It is related to the following code, in VideoComponent.cpp.

In the constructor:
[code]

and then

[code]

Effectively, when we have an open menu, the GuiStackSize will be greater than one, so we won't consider the Video window to be on top, and will be disabled alas. I'm also aware that this was mostly put in place to prevent the video to keep playing in

[2017-11-03 17:28] hex007 commented on #245
So this only affects video screensaver.

@pjft What is the harm of letting video play in background when menu is open?

[2017-11-03 17:30] pjft commented on #245
Nothing extremely significant other than background noise, but problematic with OMX Player as it renders on top of the ES window. Also, if you edit the metadata and change the video metadata or remove the game while the video is playing, I'm not really sure what's going to happen.

[2017-11-03 20:59] LodanZark commented on #281
@zigurana Just tested, yes if I turn kiosk to full the systems became visible, but going back to kiosk make them disappear again.

[2017-11-04 06:48] emersonnovais opened #284 "Lubuntu 16.04 compilation problem"
Hi, guys. I download this version and tried to compile in Lubuntu 16.04 and the make canot compile. My terminal output is below. I checked the needed required packages and they are all up to date. I don't know what to do. Help, please:

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C c

[2017-11-04 06:56] pjft commented on #284
When you use git clone you need to use the --recursive flag, or you need to initialize the sub modules now.

[2017-11-04 08:40] #284 closed

[2017-11-04 12:53] tomaz82 commented on #281
@zigurana
FileFilterIndex.cpp line 253
Why is filterByHidden set to true in kiosk mode?

[2017-11-04 13:27] tomaz82 commented on #281
Okay, I see it now, this looks for games with hidden = FALSE and displays only those, problem is, without a gamelist.xml you have no value at all in any of the ***IndexFilteredKeys so it won't find a FALSE in hiddenIndexFilteredKeys, thus hidding all games for that system.

[2017-11-04 14:22] zigurana commented on #281
@tomaz82 yes and no. If there is no valid metadata, it should be reverting to the default values, which is 'false' for 'hidden'.

[2017-11-04 14:35] tomaz82 commented on #281
@zigurana Maybe so, but it doesn't all ***IndexFilteredKeys are empty

[2017-11-04 14:46] zigurana commented on #281
Hmm, ok, I 'll have another look tonight, doesn't explain why I don' t see the same issue when I remove/rename the gamelist file.

[2017-11-04 14:46] zigurana commented on #281
But I agree, this is probably the root-cause

[2017-11-04 14:58] LodanZark commented on #281
@zigurana you need to make sure the gamelist it's renamed\removed from /opt/retropie/configs/all/emulationstation/gamelists/ and also from the rom folder.

[2017-11-04 15:16] emersonnovais commented on #284
pjft, thanks for information. It's worked. The new EmulationStation is so good than the repository version.

[2017-11-04 15:16] tomaz82 commented on #281
@zigurana

Gamelist.cpp method parseGamelist line 149:

This is where it calls FileFilterIndex::addToIndex(FileData* game)
This never happens for games not in a gamelist.xml, so they don't get the ****IndexAllKeys set up properly.

[2017-11-04 15:17] pjft commented on #284
Which particular repository? They should be the same, unless you're referring to the development version?

[2017-11-04 15:43] zigurana commented on #281
Well tracked-down!

[2017-11-04 15:53] tomaz82 commented on #281
@zigurana I'm working on a fix, PR incoming soon :)

[2017-11-04 16:03] pjft commented on #281
@tomaz82 I take it the fix is on the filtering end rather than on the gamelist population end? :)

[2017-11-04 16:05] tomaz82 commented on #281
https://github.com/RetroPie/EmulationStation/pull/285

[2017-11-04 16:33] #281 closed

[2017-11-04 23:42] LodanZark opened #286 "[Experimental_build] "Jump to the letter" feature it's missing in the Kiosk mode"
I'm using this commit version: f8a297ff516eed178e1fac7ef233c340ad1c1f17 and the feature "jump to the letter" it's missing in the kiosk mode (probably it's missing in kids mode as well)

[2017-11-05 07:23] emersonnovais commented on #284
Is the Ubuntu repository version. The package is very old and is based on the original version of Aloshi from four years ago. I tried your version just because is updated. The Recalbox version seems to be discontinued and are very good mainly the option of change the emulator on own EmulationStation interface but I haven't found none information about how to configure it.

[2017-11-05 07:47] zigurana commented on #286
See #282

[2017-11-05 14:39] LodanZark commented on #286
Awesome work, it solved my issue and improved a lot my experience ;) thank you very much
I will close this ticket

[2017-11-05 14:39] #286 closed

[2017-11-06 18:24] majokkoSleepover opened #288 "Implement HDMI CEC remote support"
This enhancement has already been mentioned on the ES github [issue 421](https://github.com/Aloshi/EmulationStation/issues/421), and also @dillbyrne came out with something pretty neat.

Implementing HDMI CEC remote support would provide a better out of box experience  IMHO.

[2017-11-07 13:21] #245 closed

[2017-11-07 16:31] redneckmatt opened #289 "Deleting game while in custom group causes SegFault"
**Problem definition:**
Deleting a game from the system from inside a custom collection causes the interface to crash. Repeatable.

Code current as of 11/6/2017

**Problem recreation inside EmulationStation:**
- create custom collection
- add game to this custom collection
- complete adding games to collection
- navigate to collection
- open the Options menu for the game you wish to fully delete
-

[2017-11-07 16:51] pjft commented on #289
Thanks for the thorough description.

The moment you say

and then it crashes, I'm pretty much sure that the issue will be in us trying to get or set a cursor that's no longer valid. I tested and debugged plenty of such scenarios, which exhibited similar behavior, hence my gut feeling about it.

I'll take this on as soon as reasonably possible - apologies for the trouble here, and thank you very m

[2017-11-07 18:27] pjft commented on #289
Thanks.

There must be a problem with `CollectionSystemManager::deleteCollectionFiles(FileData* file)`, as that was put there precisely for that particular use case.

I'll try to look into that.

[2017-11-07 23:29] pjft commented on #289
Hi.

I just submitted a PR that should fix this.

Do you have a way to test #290 and see if it no longer happens?

[2017-11-07 23:31] #289 closed

[2017-11-07 23:36] pjft commented on #289
Thanks @joolswills for the quick turnaround.

In that case, @redneckmatt could you install the ES dev version and check whether it's fixed? I'd like to confirm that this fix addresses the exact issue you were having, which I think I narrowed down but want to make sure I'm not fixing something else :)

Have a good evening everyone.

[2017-11-08 01:19] redneckmatt commented on #289
Loaded up the dev branch via the emulationstation menu.
Reads as Emulationstation v2.7.0RP

For a game that has been previously scraped:
- added a game to the custom collection
- closed editing the custom collection
- deleted the game
 dumped to terminal.

`terminate called after throwing an instance of 'std::out_of_range'
  what():  vector::_M_range_check: __n (which is 4294967295) >= this->size(

[2017-11-08 01:28] chewvodka commented on #245
Cool, so just to clarify.. update ES from source and the fix will go? :)

[2017-11-08 06:25] WXDFever opened #291 "A suggestion"
Hello, guys. I am a newbie for retropie and I am just wondering if ES can support video preview in emulator selection memu.

For example as the picture below:

![example](https://user-images.githubusercontent.com/29010142/32534412-6a378e5a-c490-11e7-8897-df14e6ba4ed8.jpg)

can the picture in red frame replaced by a video?

I am just a newbie, not sure if it's a silly question. Thanks in advance

[2017-11-08 06:31] joolswills commented on #291
You should use the RetroPie forum for support.

[2017-11-08 06:31] #291 closed

[2017-11-08 06:42] pjft commented on #289
Hm. And that didn't happen prior to this change, I take it? That sounds like a substantially different problem, for which I have little to no idea about. That I'll have to dig into a bit more.

Can you share a bit more detail around how/when exactly does it crash? Is it the same as before, when exiting the menu? Does the have disappear from the list?

Thanks.

[2017-11-08 14:48] redneckmatt commented on #289
Referencing the original post, prior to this change it was a drop to a segfault. Now there is an error message being shown.

I hadn't tested deleting a non-scraped game from a collection before.

[2017-11-08 18:06] pjft commented on #289
Thanks, and apologies but I need a bit more to work with. What you're saying is that prior to the change, deleting a scraped game resulted in a segfault and now results in this message you posted, is that it?

You had mentioned that the deleted game wasn't being removed from the list, and the next one selected. Is that still the case?

Thanks.

[2017-11-08 21:25] pjft commented on #289
Interesting.

I cannot replicate that in this new version, unless it is the last game in a system - then I get the exact same message. That is a different error, though, and happened before as well when you deleted the last game from a system.

If that's not what you're experiencing, can you create a video from your phone and send it over, so I can try to see what I may be missing?

Thanks.

[2017-11-09 22:51] emersonnovais commented on #186
I have the same problem too. :(

[2017-11-10 09:18] zigurana commented on #186
ok, we'll need a bit more information to crush this bug, can you please supply:
1. The path + name of folder you are trying to scrape,
2. the exact steps needed to reproduce this issue.
3. are you scraping all metadata, or just an image ?
4. does this happen for all folders?

[2017-11-10 13:50] altiereslima opened #296 "Controller in Windows - Shoulder buttons and Trigger Buttons"
Shoulder buttons do not perform page up/down actions in Windows. Also when setting the controller by pressing the button LEFT TRIGGER or RIGHT TRIGGER  it recognizes it as two commands.

[2017-11-10 14:54] pjft commented on #245
Right now I actually think you can just install from binary and you should be good to go.

[2017-11-11 00:43] emersonnovais commented on #186
Zigurana, thanks for atention.

1. For example, I have the game "One" of the PSX. My path is (Ubuntu):

~/Roms/Sony Playstation 1/One (USA)

2. The step is:
Hit the "select" button for Options > Edit this game's data > Scrape > [Game selected in menu list] > Save
When the "save" button is pressed, the game crashed. The terminal output error is:

retrocon-os@ubuntu:/usr/share/retrocon_os/emulations

[2017-11-11 00:47] emersonnovais commented on #296
I have the same problem too. The tags of page up and page down is not recorded in the es_input.cfg file. I had to set it manualy adding the tags

		<input name="pagedown" type="button" id="5" value="1" />
		<input name="pageup" type="button" id="4" value="1" />

being that the buttons corresponds my shoulders button.

[2017-11-13 02:22] Protected opened #302 "Swap left analog and D-Pad"
How about a "hotkey" combination for swapping left analog and D-Pad (press again to swap back to normal) without having to manually reconfigure the entire controller? It would be a godsend for controllers that have the D-pad at the bottom. For example, if playing a SNES game, swap the D-pad into the analog stick so it's in a comfortable position. If playing PSX, put the actual analog back into the

[2017-11-13 07:45] pjft commented on #302
I think there are reasons for that not to be the case, but there's an option in the RetroPie-Setup configuration editor that does what you need - it sets the analog joystick to also send dpad inputs.

https://retropie.org.uk/forum/topic/5609/use-analogue-as-digital-controls

I have it set for all cores, and disable it for PSX and N64.

[2017-11-13 10:01] Protected commented on #302
Got it, thanks a lot!

[2017-11-13 10:01] #302 closed

[2017-11-13 12:13] coreyreichle opened #303 "Adding tic80 as a OOB machine"
TIC-80 is available from source, or in the deb repos.  This would be a fantastic machine to add to even the experimentals.

I do understand it's not entirely too difficult to add this machine by hand, but it would be nice, as the TIC-80 (And other fantasy consoles) are purpose-built to run on low-powered machines like the Pi.

[2017-11-13 12:20] #303 closed

[2017-11-13 12:20] coreyreichle commented on #303
Wrong project.

[2017-11-14 12:55] SerjTargarien opened #304 "Implement a Full kiosk mode, completely hiding the start and select menus"
Hi, this is not an issue per se but a request, so if it doesn't belong here it can be deleted.

It would be great, now that kid and kiosk mode are implemented, to have a "full kiosk"  mode so no EmulationStation settings or search menu can be accessed whatsoever. I ask for this specifically for people who have modified their pi with a soft-shutdown button and can turn off the system that way. That

[2017-11-14 17:15] hex007 commented on #304
The correct place for discussions is the forums -> https://retropie.org.uk/forum/

[2017-11-14 17:18] #304 closed

[2017-11-15 19:25] hex007 commented on #262
@zigurana a few questions:
- is the device you are using have an SPI Screen ?
- Are you using fbtft and fbcp combo?
- Have you modified config.txt to set HDMI out and changed resolution to 320 240?

[2017-11-15 19:51] zigurana commented on #262
Hey,
My device is a Raspiboy (www.8bcraft.com) which uses [this screen](https://www.8bcraft.com/shop/3-5-lcd-screen-compatible-with-8bcraft-pcb/). Its being connected to the pi zero via the FPC connector.
HDMI is not being used, and the config file specifies the framebuffer width and height at 320x240.
I don't think I am using fbtft, isn't that spi specific?
In any case, the issue is not (only) wi

[2017-11-15 20:02] HerbFargus commented on #262
I've ordered a raspiboy but don't have an ETA of when it gets here but when it does I'll be able to at least help out testing

[2017-11-15 21:49] hex007 commented on #262
@zigurana Is it a DPI screen or composite?

[2017-11-15 21:59] hex007 commented on #262
I see that it is composite. This is how my screen looks like on PAL. The photo is not enhanced at all. The layout difference is an indicator that something is different. Could you try manually executing the binary with resolution params

`emulationstation --resolution 320 240`

I am guessing that this is not the correct resolution as you are on Composite. It is most likely `720 x 576` PAL or `720

[2017-11-16 03:09] WXDFever opened #307 "A suggestion maybe"
Hello, guys. Not sure if this is the right place to ask, I am a newbie for retropie and I am just wondering if ES can support video preview in emulator selection memu in future.

![emulator select](https://user-images.githubusercontent.com/29010142/32871871-8387524e-cabe-11e7-816f-180daed1fefc.jpg)

can the picture in red frame replaced by a video in future version of ES?
Thanks in advance

[2017-11-16 03:14] WXDFever commented on #307
Well, I know Attract Mode(AM) can support this, but I don't like AM, it's not as friendly as ES, lol

[2017-11-16 08:41] zigurana commented on #262
Hi, thanks for the suggestions.
I am sure it is a 320x240 screen driven via the composite signal.

While I appreciate your efforts to troubleshoot my particular screen, but the issue I am aiming at is not there.

When we look in the font size definitions (`font.h` lines 16-19), we see that the `medium` font is defined as 0.045 * screen height. For low res screens, running at 320x240, this correspo

[2017-11-16 16:27] hex007 commented on #262
@zigurana i would like to let you know this.

- if you are using composite, your resolution is not 320x240
- the resolution that the pi puts out is constant based on which sdtv mode you use. Ntsc has 720*480 and PAL has 720*576.
- the display IC is responsible for scaling it to 320*240
- to confirm this please launch ES via command line with resolution parameters.

I understand what you are saying

[2017-11-16 20:22] zigurana commented on #262
Well, turns out you are right!
This is what my screen looks like when running `emulationstation --resolution 320 240`:
![img_20171116_205926418](https://user-images.githubusercontent.com/6103768/32913257-14c77b1e-cb12-11e7-8349-b9dbd7d09397.jpg)

So it's the display itself that downsamples the signal from composite PAL/NTSC to 320x240 ?

The config file is the same as [here](http://www.8bcraft.com

[2017-11-16 21:55] hex007 commented on #262
Yes

How about uncommenting the `sdtv_mode=2` and trying PAL mode compared to current NTSC mode that you are using.

[2017-11-16 22:37] zigurana commented on #262
Well, the PAL mode was a disaster, no image whatsoever. There is no observable difference between the two NTSC modes (0-1).

[2017-11-16 23:19] hex007 commented on #262
I guess this might be restricted to 8Bit PCBB. Do you have another setup with 3.5 inch composite display you can try the same sdcard with (preferably a BW type screen.)? That might give an idea of what is going wrong. Try PAL mode on said display too.

Another thing to try is to get the exact resolution ES is running on 8bit PCB. Try `--resolution 720 480` to see if it spans the entire screen.

[2017-11-17 18:09] joolswills opened #311 "Emulation Station bails out if it can't read a rom subfolder"
This leaves the framebuffer in an unusable state on the RPI. Ideally when an exception happens we should cleanup SDL2 and exit cleanly. This issue has been reported quite a few times by people on the forum. It can be recreated by making a roms subfolder with a directly with `chmod 000` for example

[code]

here's a quick hack that fixes this issue - but there likely a way to implement this better.

[2017-11-17 21:18] dwaq commented on #251
I'm having the same issue on a Pi 3. A game called `720°.nes` was added and it wouldn't load. Once I renamed it to `720.nes`, it was fine.

[2017-11-18 00:28] altiereslima commented on #296
Change "pageup" by "leftshoulder" and  "pagedown" by "rightshoulder" in DateTimeComponent.cpp and InputManager.cpp, fixes the page up/down actions in Windows.

[2017-11-18 15:50] darklightindigo opened #312 "Scraping Failure: NES/SNES"
Received multiple reports on TGDB forums that scraping NES and SNES titles returns no results. Tracked back to apparent regression during boost cleanup 2-3 weeks ago.

https://github.com/RetroPie/EmulationStation/blob/master/es-app/src/scrapers/GamesDBScraper.cpp

It can’t be a coincidence that lines 40 and 66 used curly brace openers instead of open-parentheses for the acronyms:
40 { NINTENDO_ENT

[2017-11-18 17:09] tomaz82 commented on #312
Good find! I'll fix it right away.

[2017-11-18 17:13] tomaz82 commented on #312
https://github.com/RetroPie/EmulationStation/pull/313

[2017-11-18 17:43] #312 closed

[2017-11-19 05:45] darklightindigo commented on #312
Thank you!  Everyone at TGDB will be happy to hear this.  :smile:

[2017-11-21 19:25] zigurana opened #315 "[Enhancement] create CarouselComponent class"
The idea is to split out the carousel used in SystemView into its own class. This would enable more applications (ie. in gamelistviews).

The new component would probably be multiple-inherited from GuiComponent and IList.

[2017-11-21 19:36] hex007 commented on #315
Plans on making a NES Classic type of Gamelist scrolling?

[2017-11-23 12:40] mellebeek opened #316 "installing emulationstation on crouton fails"
removed a chroot with emulationstation in for a clean install. Package/Setup script/Make all fail on the same errors.

~/EmulationStation$ make
[  1%] Built target nanosvg
[  2%] Built target pugixml
[  3%] Building CXX object es-core/CMakeFiles/es-core.dir/src/AudioManager.cpp.o
/home/$user/EmulationStation/es-core/src/AudioManager.cpp: In member function ‘void AudioManager::unregisterSound(std::

[2017-11-23 15:38] leosmeira opened #317 "Crash after remove last game in Favorites list"
terminate called after throwing an instance of 'std::out_of_range'
  what(): vector::_M_range_check: __n (which is 4294967295) >= this->size() (which is 1)
Aborted

[2017-11-23 15:42] pjft commented on #317
Thanks.

Can you check if it happens in 2.6.5? There's a similar report here:

https://retropie.org.uk/forum/topic/14491/crash-removing-favourite

so want to check whether it'd be the same or not.

Thanks.

[2017-11-23 16:39] leosmeira commented on #317
I tested now and the same error occurred in v2.6.5.

Tested in: v2.7.3RP and v2.6.5

[2017-11-23 17:23] pjft commented on #317
Huh. Thank you. Maybe you'd want to join that thread, as it might be that steeeb misremembered that.

I'll look into that shortly, hopefully.

[2017-11-25 12:52] jrassa commented on #315
I played around with something along these lines a while back but didn't get to far with it.  One concern I had about basing it on the carousel implementation is that the carousel, creates an ImageComponent and for every element.  This works for the carousel, but I was concerned that it would not scale well to the gamelist where there are potentially a much larger amount of elements.  Of course, I

[2017-11-25 13:26] zigurana commented on #315
Hey John,
Thanks for thinking about this.
The end result will better if we take this one on together, I think.

Your point is a valid one, creating as many image components as there are list-items will surely cause issues. But could we not create as many as there are likely to be shown?
So for a carousel with 10 elements visible at a time, we would need only so many (+maybe some padding for a resp

[2017-11-25 19:33] hex007 commented on #315
Whats this? Is someone thinking of tackling GridView again?

I suggest moving the discussion to forums as the comments would be too much on here. I would love to help where ever possible. Can we break this down to simpler tasks so devs can work together in parallel ?

[2017-11-25 22:21] tomaz82 commented on #315
@hex007 GridView is on my todo ( in steps ) once I'm done with the stuff I'm currently working on. Once things settle down I'll read through the existing code and the PR made quite some time ago, along with whatever repo that one was based on, to see which tasks it can be split up into.

[2017-11-27 01:58] madmodder123 opened #319 "On-screen help text does not match theme font"
Some menu sections do not match the font used in the theme's font.
For example the on-screen help text that is displayed on the carousal and the main menu does not match some of the sub menus.

Affected menu settings:
Main Menu > Scraper > Scrape From
Main Menu > Scraper > Scrape Now >
Main Menu > Sound Settings > Audio Device
Main Menu > Sound Settings > OMX Player Audio Device
Main Menu > UI Set

[2017-11-27 07:58] hex007 commented on #319
Refer to #144. You might be able to replicate it for other dialogues

[2017-11-29 12:51] rgzr opened #321 "Allow to save gamelist filters, apply it when starting"
We have the ability to create filters and to sort each gamelist. I think it will be a great feature an option to "Save filter as default" for each system, so when we restart ES and access this system, the saved filter is applied automatically.

This will allow to hide the BIOS or extra track game entries through their "hidden" tag, or to only show "favorites" by default for a system.

The default

[2017-12-01 12:11] geebles opened #322 "Additional window size options to allow x and y offsets"
**Target system:** Raspberry Pi
**Use case:** Using an oversize LCD and needing to crop the viewport to fit (e.g. handheld console with a smaller cutout for display than the actual physical display) while keeping pixel perfection.

My desire is to show ES on a screen but with the viewport cropped. For example, with a fixed HDMI setting of 800x480, I want to be able to set the ES viewport to 640x48

[2017-12-01 12:39] pjft commented on #322
I wonder, can you not achieve that by passing width and height arguments to ES via the command-line interface?

Try

--windowed --resolution 640 480

or without

--windowed

and see if it does anything.

If not, probably the best approach here would be for the Renderer window initialization be customized for your case, in the following section - I imagine those WINDOWPOS_UNDEFINED are what you're

[2017-12-01 13:22] geebles commented on #322
Thanks for the reply, running with resolution set and/or --windowed results in it being aligned to the LEFT of the screen. All I want is to then offset from the left. The resolution bit is fine and works.

That is what I basically did, i'll pull out my changes later to show how I got the image above. I seem to recall that I had to set the offset but then also had to add the offset to the size (or

[2017-12-01 13:33] tomaz82 commented on #322
I can look into this tonight, should be an easy fix.

[2017-12-01 17:05] xadox-1st commented on #317
Same for me.

[2017-12-01 17:39] #317 closed

[2017-12-01 17:47] tomaz82 commented on #322
Was a bit more involved than I first anticipated, but https://github.com/RetroPie/EmulationStation/pull/324 should do exactly what you need

[2017-12-01 18:40] geebles commented on #322
Wow that was quick! :) Huge thanks, I'll build and test your branch either tonight or tomorrow :) this will really help out :D

[2017-12-02 03:22] jjk212 opened #326 "Too easy to inadvertently remove games from favorites"
In full mode it is too easy to inadvertently remove games from the favorites.  I thought kiosk mode would do the trick, but even in that mode favorites can be removed.

I'd like to make the following suggestion:
  1. Kiosk mode not allow editing of favorite status.
  2. Possibly rework full mode to allow ROM favorite editing to be toggled on and off
      a.  Or at the very least maybe favorite re

[2017-12-03 16:42] geebles commented on #322
Just wanted to follow up and say the fix is PERFECT :) here is the LCD (800x480) with a viewable window set to 700x480 with an 80pix left offset (need to adjust this slightly when I put the glass screen in, but it makes it dead easy to adjust! You can see stuff in the top left and right (battery icon) which is running on unviewable screen areas (need to fix in my code for this also).

![image](htt

[2017-12-03 18:42] tomaz82 commented on #322
I'm happy that the fix, fixed your issue :)

[2017-12-08 02:13] 00sivan opened #327 "Themes page says use RetroPie config."
I know this is the RetroPie page, but it's pretty much all that comes up in search anymore because it's so popular. Building ES on Windows would be easier if the RetroPie themes page offered links to the themes rather than only making them available inside the RetroPie config which is not available for Windows. Thanks for sharing!

[2017-12-08 03:59] jrassa commented on #327
@00sivan All of the themes listed on the RetroPie theme page can be downloaded directly from their respective github pages using the "Download ZIP" option under the "Clone or download" button.  Also, you can check out [RetroCake](https://retropie.org.uk/forum/topic/13828/retropie-like-script-for-windows-7-8-and-10-retrocake), which is a set up scripts for Windows that functions similar to RetroPie

[2017-12-08 04:17] 00sivan commented on #327
Amazing. Thank you. I will check it out.

[2017-12-08 05:01] #327 closed

[2017-12-09 23:50] h4llow3En opened #328 "[Feature] Play on remote resource"
It would be nice if there is a the possibility to connect to a remove "server" e.g. with a raspberry pi there is no emulation of e.g. gamecube possible. But I have a server who would be more than capable to run this. Connecting to a remote computing device which runs the emulation and the pi streams and controls it would be epic.

[2017-12-10 02:37] hex007 commented on #328
Please share ideas on Forums. This is an issue tracker for EmulationStation **only**

[2017-12-10 06:35] #328 closed

[2017-12-13 22:20] jonsimantov commented on #321
This would be super useful for me!

[2017-12-16 04:53] wesmckiel opened #330 "Feature Request: Expose name of selected game as "md_name" text element"
While the title of the selected game is highlighted in the game list, it would also make a strong design element in the layout of the basic, detailed, or video views. It makes sense to place the single most significant piece of data regarding the game (it's title) in a prominent framing position relative to all the other information.

At any rate, I keep wanting to use the game name as a piece of

[2017-12-16 05:04] wesmckiel opened #331 "Feature Request: Alternate formatting when displaying "datetime" elements"
I'd like to display only the year portion of the Release Date metadata. Perhaps a new attribute could be added to the "datetime" class to provide this option?

So many of the month and day entries that you get from scraping are inaccurate or simply read "01/01" because the exact date is unknown. It would be much cleaner to simply show the year.

[2017-12-16 05:46] hex007 commented on #331
Please share ideas on Forums. This is an issue tracker for EmulationStation only

[2017-12-16 05:46] hex007 commented on #330
Please share ideas on Forums. This is an issue tracker for EmulationStation only

[2017-12-16 06:07] wesmckiel commented on #331
This is a request pertaining directly to EmulationStation. Do you mean to say that only proper bugs should be listed in this tracker? Many of the other issues listed are not bugs. If public suggestions are not welcome, why is this a public repository?

Also, precisely which "Forums" are you referring to? Please try to be more helpful and a bit less dismissive. You never know when the latest idiot

[2017-12-16 15:14] hex007 commented on #331
This is a public repo as the project is open source. We have a certain segregation regarding issues and feature requests. Feel free to find us on the forums.

If everyone posted feature requests here it would be difficult to manage them hence we have forums where we take not only developers but also users comments and opinions into consideration while making decisions which bring bigger changes

H

[2017-12-16 19:33] wesmckiel commented on #331
Okay. No problem. I totally understand. Thank you for your help.

[2017-12-16 23:17] #330 closed

[2017-12-17 07:29] pjft commented on #326
Thanks. Just to confirm, it's not that it's been ignored, it's just that this is an isolated report for something that has been commonplace for a while, so for a change to be considered it would probably need a bit more of a critical mass.

Two suggestions: does Kids mode handle that well? Alternatively, you could use a separate collection for the favorites so that it's not associated to the defau

[2017-12-18 19:55] cgmartin opened #332 "Error: Controller Xarcade-to-Gamepad Device not configured"
_(I'm unsure which component is responsible for retroarch-joypad configurations, so if this isn't the correct project please let me know and I'll close/move this issue.)_

I am using the [Xarcade2Jstick](https://github.com/petrockblog/Xarcade2Jstick) service to register an XArcade Tankstick as two gamepad (udev) devices. When I "Configure Inputs" to add both gamepads, the controls work fine within

[2017-12-18 20:00] cgmartin commented on #332
I was able to get it working by moving the two "Xarcade-to-Gamepad Device *.cfg" files into the `/opt/retropie/configs/all/retroarch-joypads/udev/` folder.

I am unsure which system writes these joypads cfg files, but there may be a bug there or in the path mapping of config profiles when launching a core.

[2017-12-23 20:40] johnmanko opened #335 "Enhancements to scraping/gamelist utility"
Here are a few enhancements to the scraping utility that I think are worth adding.

On the scraping menu, add the following option:
* Auto Select Exact Matches & Skip Conflicts (This option will auto-select a result when it's name is an exact match for the search term, and it will skip that game in any other case.  This is great for unattended scraping where you want to come back only have to worr

[2017-12-23 20:43] joolswills commented on #335
Please use the forum for feature requests as detailed when opening an issue.

[2017-12-23 20:43] #335 closed

[2018-01-04 20:42] Jakobud opened #338 "Scraper can't auto resolve near-exact matches?"
The following screenshot is an example of a scraper result.

![img_20180104_133708](https://user-images.githubusercontent.com/87356/34583365-c1885338-f154-11e7-9116-af8cf42918c6.jpg)

Filename is Air Zonk (U) [H1].PCE. It finds the result "Air Zonk".

How come it asks me to confirm this? It's almost an exact match to the filename. I shouldn't have to manually verify stuff like this.

Am I doing so

[2018-01-04 20:46] Jakobud commented on #307
Themes can support videos. I'm not sure how but I've seen it in the documentation.

[2018-01-04 20:53] duiz opened #339 "Hidden feature not working?"
I noticed in the latest Windows build that there is a new Hidden toggle. However when choosing Yes on hidden, the games still remain in the gamelist.

[2018-01-04 21:17] hex007 commented on #307
Kindly submit suggestions on the forums  https://retropie.org.uk/forum/

@joolswills Can be closed?

[2018-01-04 23:32] #307 closed

[2018-01-05 07:27] Jakobud commented on #338
Just thinking more about this, it seems like there should be some sort of threshold in the matching algorithm that will automatically Scrap and Save metadata for a game if the match is above the threshold.

For example, lets say we have a theoretical game file called "Super Baseball.zip". If it comes up with the following matches:

Super Baseball
Super Mario Bros 2
Baseball Simulator 1000

The scr

[2018-01-05 07:39] Jakobud opened #340 "Runtime Customizable Help Labels/SVGs?"
So, the help text at the bottom of the screen is good and helpful. But they are hard coded, right? You can't customize them right?

I'm asking because I have a RetroPie setup with only an NES controller. There is no X or Y or Shoulder Buttons. But the help text still refers to them.

It would be amazingly convenient to be able to custom the labels just by editing a CFG or something.

At one time I

[2018-01-11 16:49] jsmolina opened #342 "ThemeData.cpp:(.text+0xe12): undefined reference to `boost`"
Using xenial, orange pi pc plus build (Ubuntu 16.04.3 LTS).
Linux orangepipcplus 3.4.113-sun8i

During compilation of emulationstation using retropie-setup.sh frontend, I always get the following error:

[code]

Boost lib is found:
[code]

I've been checking a lot of posts regarding g++ version, but I tried using g++ 4.9 and I got the same error.

[2018-01-12 13:52] jsmolina commented on #342
I fixed it by compiling libboost by myself.

[2018-01-12 13:52] #342 closed

[2018-01-13 22:23] emersonnovais commented on #339
duiz, I have the same issue with the Linux version.

[2018-01-14 04:22] meleu commented on #66
Not an issue anymore.

[2018-01-14 04:22] #66 closed

[2018-01-14 21:44] cosmo0 opened #345 "Browsing a games list with presentation videos"
Hello

My setup is : retropie 4.3 on a pi 3 connected through wifi, roms and videos on a NAS, theme "comicbook", game list mode "video".

With this setup, when I browse a games list, it's incredibly slow to change game, because the system seems to load the video in memory BEFORE displaying anything.
So, since it takes a few seconds to load the video, when I press up or down, it blocks for a few se

[2018-01-14 21:51] pjft commented on #345
Are you using OMX player or VLC?

Could you try turning OMX on in Other Settings? That should do your option number 1.

Alternatively you may try to add the delay to load the video to the actual theme and seeing if it helps.

Let us know how it goes!

[2018-01-14 22:10] cosmo0 commented on #345
Yes I'm using OMX player, but turning it on or off doesn't change anything. The videos are 320x240@30 in mp4, so even in software it's not hard to decode. But they are between 1mb and about 6mb. Since the larger videos take longer to load I assume it's more on the network side of thing.

I'll try to edit the video delay. I didn't know it was already possible :)

[2018-01-14 22:19] pjft commented on #345
Hm.

Well, OMXPlayer loads in a separate thread (it literally launches a separate process for OMX Player), so I wonder.

Can you confirm that it also happens if you force it to display the pictures only? Higher-resolution image loading is notoriously slower, so I just want to check that it's not the artwork causing that.

The video loading in OMX Player is (or should be) faster than with VLC, at l

[2018-01-15 08:11] cosmo0 commented on #345
Setting "gamelist view style" to "detailed" does not result in the delay, gamelist browsing is near-instantaneous.
My artworks are not high resolution, images are often less than 100kb.

I've tried to add a delay in the theme, but it doesn't seem to change anything, whether I set it to 1 or 1000. Maybe it's a tiny bit faster at loading the next entry, but maybe it's in my head.

Yes I have omxplay

[2018-01-15 18:07] hex007 commented on #345
You can use `mitmproxy` to log your network requests and responses.

[2018-01-15 19:35] cosmo0 commented on #345
I can confirm that it's the "slow" wifi that's slowing down the system : plugging an ethernet cable solves the slowness.

However, the `delay` parameter in the theme doesn't change anything. Whether I set it to 1 or 10, it tries to load the video as soon as the game entry is selected.
I've edited the `/etc/emulationstation/themes/ComicBook/retropiemenu.xml` file, does it seem like it's the right o

[2018-01-16 16:05] pjft commented on #345
Interesting. That's an odd one.

In regards to the theme, you would change it in each system - you can probably change it in the arcade theme.xml file, for instance to test it out.

Right now if you're changing the retropiemenu.xml file that doesn't seem like it's going to change anything as I don't expect you to have videos running in the retropie menu :)

If there's no delay element, you can add

[2018-01-16 17:28] cosmo0 commented on #345
Well... I wasn't adding delay to the right file (the theme uses include files and I modified the wrong one)... :( Sorry about that :(

There's still the issue of the network (loading of video) freezing everything, though.

[2018-01-16 17:33] pjft commented on #345
Not a problem - we're always learning :)

So, now you can navigate through the games list, the issue ends up being that loading videos via wifi freezes everything, is that it?

I do wonder if it's a faulty wifi adapter on your board? If you have the chance, would you be able to test out your exact SD card and USB drive on a different Pi to see how it fares?

For the sake of testing, would you try

[2018-01-16 17:53] cosmo0 commented on #345
Well, with the delay there's no problem anymore. Or at least I can't trigger the exact moment the UI is stuck.

Without the delay, however, yes, loading the video through a slow network freezes the UI.

I use an USB wifi adapter (TP-Link), because I have a metal/cooling case that's blocking the onboard wifi signal. A speed test finds it's faster than the onboard wifi, and large games load pretty f

[2018-01-16 18:02] pjft commented on #345
Hm.

Can you try the onboard wifi, without the casing, without the USB dongle? Just checking.

I mean, I imagine that such an issue would have been raised before in the forums, as videos have been around for 6-9 months by now and I am fairly sure that quite a few people would have a NAS setup like the one you describe.

If you're keen on further testing, you could be in ES and try a simple test li

[2018-01-20 02:10] andrewvaughan opened #349 "Favorites Only Lists "False" as Option"
I have confirmed on three separate RetroPie installations using EmulationStation.  When attempting to filter by Favorites, the only option is "False" resulting in only showing games that are _not_ a favorite.

A "True" option needs to be added (or, better yet, an option that provides better User Experience like "Favorited" and "Unfavorited").

[2018-01-20 09:04] zigurana commented on #349
The filtering shows all available values, are you sure that any of your games have a favorites = true tag in their Metadata description?

[2018-01-20 09:05] zigurana commented on #349
The filtering shows all available values, are you sure that any of your games have a favorites = true tag in their Metadata description?

[2018-01-20 09:05] zigurana commented on #349
The filtering shows all available values, are you sure that any of your games have a favorites = true tag in their Metadata description?

[2018-01-20 12:00] pjft commented on #349
Thank you Daniel. Indeed that is the case.

If you feel this is the case, could you share your EmulationStation version, and send over via pastebin your es_config.txt file and one example of a gamelist where that occurs?

Thank you.

[2018-01-20 15:29] LodanZark opened #350 "[EmulationStation-dev] UI Mode issues"
The konami code work as intended to switch back to Full UI mode in the stable build, but in dev build isn't working anymore, keep in mind I have the default UIMode_passkey settings:
`<string name="UIMode_passkey" value="uuddlrlrba" />`

Another minor issue it's the pop warning message by switching Full  to Kiosk or Kid mode, more specifically the section where it is displayed the input command, in

[2018-01-20 18:49] andrewvaughan commented on #349
Thanks all,

I am using Emulation Station version `2.7.4RP` on a RaspberryPi 3.  I can send over the `es_config.txt` and gamelist, if needed, but believe the issues is reproducable with the following steps:

This leads me to believe that there is some type of caching or update bug in the way the Favorites shortcut in the menu updates the game's metadata.  Having to re-enter the metadata and save i

[2018-01-20 18:55] pjft commented on #349
Thanks. So, this effectively reduces the behavior to "the index is not properly being updated when the first favorite is set". :)

I'll take a look at that, should be a simple fix. I'm pretty sure I had added code to make that happen.

Can you clarify one thing, though: is your step 5 really saying "exit ES and restart it"? Or did you just mean exit the menus and go to the filtering menu and no fa

[2018-01-20 18:59] andrewvaughan commented on #349
Correct on the latter, Step **5** just means return to the game list and check the `FAVORITES` filter again.

[2018-01-21 11:22] #349 closed

[2018-01-26 04:54] danielrosero opened #355 "Scrapper disconnects when screensaver comes in."
Had a bad time scrapping 5k+ roms. I noticed that every time at 20-30 scrapped roms it was disconnecting or not responding somehow.

To solve this, I just disabled the screensaver.

Maybe is lacking for some condition or something interiring with the scrapping process when the screensaver comes out.

*Excuse my english. Not my main language tho.

[2018-01-27 15:26] nitrofurano opened #357 "ppa needed for ubuntu 17.10, 18.04 and so on"
if someone know where can we find a ppa for ubuntu 17.10, 18.04, and so on, please let us know! thanks! :)

[2018-01-27 15:32] joolswills commented on #357
General questions would be best put on the RetroPie forum.

There is no PPA with new ES builds I am aware of.

[2018-01-27 15:32] #357 closed

[2018-01-29 23:43] LodanZark commented on #350
uninstalled the emulationstation-dev and compiled again and it seems fixed all issues mentioned above.

[2018-01-29 23:43] #350 closed

[2018-01-30 07:06] pjft commented on #350
When you say "compiled again" do you mean the latest EmulationStation dev version, or the latest main version?

[2018-01-30 09:40] Koerty commented on #206
This is my grid theming syntax propositions. Maybe I missed one or two parameter since there is so many of them, but it doesn't hurt the general idea.

Condensed syntax, similar to the one used by the text list :

[code]

Middle ground approach, halfway between current theming syntax and the condensed one from the text list :

[code]

As soon as we agreed on a theming syntax I will start it implem

[2018-01-30 13:40] Koerty commented on #206
@jrassa I think we completely missed a point a few comments ago, the grid display games name (the one right under the tiles, not the selected game name displayed on top of the screen). This mean the margin can't be set to zero or a low value, or we should allow the theme to hide games name, which isn't really practical either for ergonomic reasons (in case the user miss some box arts in his game c

[2018-01-30 14:52] LodanZark commented on #350
the latest emustation dev version, i have the stable version uninstalled to avoid confusion

[2018-01-30 18:20] RoelerCoaster opened #360 "Scraper does not find any Game & Watch games from TheGamesDB"
I just tried scraping a couple of Game & Watch games using the built-in scraper with TheGamesDB as source.
However, for every game the scraper reports that no results are found, yet TheGamesDB does have G&W titles in the system (for example: http://thegamesdb.net/browse/4950/)

The scraper appears to be using  `Game & Watch` as the name of the platform for querying the games. It seems, however, th

[2018-01-31 04:18] jrassa commented on #360
This should be a simple fix.  I will look into adding it soon.  Thanks for reporting.

[2018-01-31 23:12] Darknior commented on #339
You must change your ES MODE to KIOSK or KID to hide the games you have selected.
In NORMAL mode you can see all the games.

[2018-01-31 23:23] Darknior commented on #258
Good idea :)

Same we never really use this option, only for not working games, not really important to move it.

In this case i think it can be really cool if ES can read the XML to get MEDIA PATH and remove them too.
To save place.

[2018-02-01 03:30] #339 closed

[2018-02-01 03:54] #360 closed

[2018-02-02 08:40] nintendontit opened #365 "Missing escapePath function in development"
with stable:
/opt/retropie/supplementary/runcommand/runcommand.sh 0 SYS mastersystem /home/pi/RetroPie/roms/mastersystem/Alex\ Kidd\ in\ Miracle\ World\ \\(USA,\ Europe\\).7z

with development:
/opt/retropie/supplementary/runcommand/runcommand.sh 0 SYS mastersystem /home/pi/RetroPie/roms/mastersystem/Alex\ Kidd\ in\ Miracle\ World\ (USA,\ Europe).7z

I start with wrong suppose that is comma charac

[2018-02-02 08:49] tomaz82 commented on #365
It's not missing, it's moved, I'll fix this when I get home from work. Seems to not properly escape the last ')' character at the end.

[2018-02-02 16:37] tomaz82 commented on #365
#366 fixes this once it's merged

[2018-02-03 14:02] tomaz82 commented on #365
This should be fixed now?

[2018-02-03 14:27] #365 closed

[2018-02-05 13:30] Koerty commented on #206
@jrassa What do you think about my 2 previous comments ?

[2018-02-05 14:54] lilbud commented on #206
I feel like having the ability to just not add certain elements if they are not needed should be used for all of ES. Because if your theme doesn't use something, you gotta hide it off screen.

[2018-02-05 18:15] EctoOne commented on #206
@lilbud I believe that is already implemented. I noticed that when I was working on the Chicuelo theme. That only had elements in the xml that the theme used. When I made the code for the current version, I tried using that method and it worked. But it seems to be not fully supported yet. I got a message that in some case the rating stars popped up. So in the end I added a code block to move all u

[2018-02-06 07:25] Koerty commented on #206
@lilbud @EctoOne If you talk about showing/hidding metadata (the game name displayed on top of the screen in the grid view being part of metadata) then we already discussed this on the related pull request with @zigurana and chose to use the same behavior as with detailed view : themers have to set metadata offscreen to hide them. If we decide to change this behavior for the detailed view and hide

[2018-02-06 08:19] EctoOne commented on #206
@Koerty I personally would always say that the theme creator should be able to decide what he/she wants to show. If that is to complex to implement, I would prefer no names in the grid if md_title is available. Then I could at least freely choose the position of the names instead of being restricted to have it at fixed positions.

When it comes to the syntax, I would prefer the condensed code exam

[2018-02-06 09:16] Koerty commented on #206
@EctoOne This isn't complex to implement, but I think hidding games name in the grid is debatable. I don't know if that happen often, but if the user miss some games' box art then it will be a pain for him to navigate through the grid if names are hiddens.

[2018-02-06 09:21] Darknior commented on #206
Yes for my part i will show it too ;)

[2018-02-06 15:06] EctoOne commented on #206
Would it be possible to have the name inside the grid so that if an image exists it would be on top of the text? Kind of like the system carousel works, where the text appears if an logo is missing.
Anyway, since grid views main purpose is to show images, I think that the user is also responsible to get/make all of them.

[2018-02-06 20:05] Koerty commented on #338
The scraper is weird, I remember when I scrapped metadatas for my genesis collection it couldn't find any game for either "Street of rage 2" or "Street of rage II" but when I used the search tool on their website using my web browser, both worked ...

[2018-02-06 20:08] Koerty commented on #338
This is a kinda different issue but what I meant is you can't really trust what's going out of this scraper.

[2018-02-07 04:35] Koerty commented on #206
Technically it shouldn't be hard to do that but this mean big changes to this part of the code. I don't know if this is the right solution either, that's why I would like to have some feedback from retropie's main developers.

[2018-02-07 11:06] EctoOne commented on #206
It was just a suggestion.
Another question tho, how does the text interact with the grid spacing? I assume that if we are forced to have text, the spacing between two rows depends on that and therefore they can't be very close.
And has the text a fixed length? If yes, how long is it? If its based on the grid, it can be really short if someone wants a dense grid. If it's a fixed size, will the name

[2018-02-07 11:06] EctoOne commented on #206
It was just a suggestion.
Another question tho, how does the text interact with the grid spacing? I assume that if we are forced to have text, the spacing between two rows depends on that and therefore they can't be very close.
And has the text a fixed length? If yes, how long is it? If its based on the grid, it can be really short if someone wants a dense grid. If it's a fixed size, will the name

[2018-02-08 02:42] Koerty commented on #206
Actually the text width is the same as the image width, you can see it on the screenshot about 10 comments ago.

[2018-02-08 16:00] nitrofurano opened #369 "ubuntu PPA needed"
if someone can help creating a PPA of this EmulationStation fork, please do - it seems that the official EmulationStation is discontinued, so i guess this RetroPie fork is the main one now...

[2018-02-08 16:08] joolswills commented on #369
Sorry - No-one here has any plans to maintain a PPA. This fork is primarily maintained/developed for RetroPie. You can manually build and install on Linux though.

[2018-02-08 16:08] #369 closed

[2018-02-09 18:57] LodanZark opened #373 "[emulationstation-dev] Unable to boot on stretch (build: b7679ba)"
error:
emulationstation: /home/pi/RetroPie-Setup/tmp/build/emulationstation-dev/es-core/src/resources/font.cpp:17: Font::FontFace::FontFace(ResourceData&&, int): Assertion "!err" failed.
Abortion.

[2018-02-09 18:58] joolswills commented on #373
You must have updated the dev version before updating RetroPie-Setup. Please use the forum for support.

[2018-02-09 18:58] #373 closed

[2018-02-09 19:18] LodanZark commented on #373
I though I had the latest retropie-setup script, I was wrong.  It's working everything now, except the konami input go to fullUI mode. Thanks

[2018-02-14 01:48] mooware commented on #265
I tried to reproduce this, but it seems to build just fine, at least with VC15.

As far as I can tell, my changes in the linked PR also shouldn't affect this code. And if the source path "EmulationStation-2.6.2" means that this is the git tag v2.6.2, then this PR wouldn't even be in there. The v2.6.2 tag also has an assignment of NULL to a std::function at GuiGamelistOptions.cpp(165), which matche

[2018-02-18 20:36] grant2258 opened #377 "put raspberry pi hdmi to sleep (turn backlight off)"
for the raspberry pi you can execute

vcgencmd display_power 0
vcgencmd display_power 1

too turn the display signal on and off

I think it would be more universal if a turn screen off-on script option could be added ie it runs a
sh screen_status.sh on
sh screen_status.sh off

and you just add your custom commands to the bash script. Right now i just ssh and do it

[2018-02-18 22:43] TheSIlentLink commented on #377
This would be a great feature for people using RetroPie on Monitors.

[2018-02-19 11:20] grant2258 commented on #377
See im not looking for a system specific option. Its just a kind of universal option to turn a monitor off.  It will change from system to system so a generic script to do the magic would be an ideal solution.

[2018-02-20 15:03] Darknior opened #379 "NEW BUG: Bad Cover IMAGE maxsize if i use Video fixed size"
https://github.com/RetroPie/EmulationStation/commit/e52e63cf9cbbda6899a8bfd7b8146db9a4ac899f

I'm not sure it's your commit @tomaz82 that create this new bug for me, but now i have a strange image problem.
If i understand fine you make it to fix the problem with the THUMBNAIL that don't use the VIDEO FIXED SISE if i want to show it before video with OMX Player. No problem if i use MAXSIZE for the

[2018-02-20 15:11] tomaz82 commented on #379
Are you saying, that if you use <size> both the video and the image is stretched to that size?

[2018-02-20 15:22] Darknior commented on #379
If i use SIZE on VIDEO the IMAGE will have the same size.
If i use MAXSIZE on VIDEO the image will use the video or his MAXSIZE.
If i have a THUMBNAIL the SIZE if forced to it but we can't see it like a problem because it's what we want to show it before the video.

The problem was you use the SIZE or RATIO on IMAGE also on the alone image. You would to do it only on the image used to show before

[2018-02-20 15:24] Darknior commented on #379
[code]
Not working fine force the size to the <image> too :(

with `<maxSize>0.3344 0.4452</maxSize>` working fine, image use his maxsize but i can fix all my videos like i want :(

[2018-02-20 15:26] tomaz82 commented on #379
Yes I see, that is not easely fixed due to how ES handles it's resources, it only loads the image once, and now it's used in 2 different places, at 2 different sizes, which causes a problem. No other theme has done this before. Usually you replace the md_image with md_video when you do the video view. I wont promise anything, but I'll see if there is any way to fix this,

[2018-02-20 15:42] Darknior commented on #379
A quick fix was to make what you do only on thumbnail only use for the video replace.
Image is used for the cover, and i'm not alone to do it, but others don't see it for the moment because they don't use the ES-DEV version.
Fix the thumnail size like video is perfect. We can't use it anywhere.
But please don't link the video and image size. If the guy want to do it himself he use the maxsize opti

[2018-02-20 16:06] tomaz82 commented on #379
Show me any other theme that does this.

[2018-02-20 16:38] Darknior commented on #379
All the theme that show a cover and a video at different place.
I'm not alone. And it is not the problem it is really a bug we don't have before.
We have thumbnail to replace video, it is not cool to resize the image too.

For exemple Comicbook show video + Cover : (in video mode like me, not detail)

![test](https://user-images.githubusercontent.com/3703317/36436458-96cdac08-1664-11e8-87b0-b8bf15

[2018-02-20 17:44] tomaz82 commented on #379
I gotta check this, there has not been any changes as far as I know that would cause this, the thumbnail code has always loaded the image if no thumbnail existed. So I have a hard time to see how this would be a "new bug"

[2018-02-20 17:51] Darknior commented on #379
Thanks a lot
For me it's NEW because this morning before update ES i don't have this bug and i change nothing on my skin.

[2018-02-21 23:42] joolswills commented on #379
@Darknior No need for things like "NEW BUG" in the title. Also, please skip the drama - eg "all these skin will be crappy :(". I am getting a little tired of your github contributions. Also if you like a feature request, please use the built in github reaction button, rather than spamming an issue with your excitement etc.

[2018-02-21 23:46] joolswills opened #381 "Delay when returning to ES with large list of ROMs"
@tomaz82

I noticed a delay when returning to Emulation Station after launching a mame title (with a full set). I have bisected it to cd2f2ee42b911711db6bd6e0276bea494a389e88

[code]

I assume this is because it is scanning for thumbnails/marquees for each entry as it's not noticeable with short lists. I was also using a remote filesystem, which may make the problem worse.

Ideally we would only s

[2018-02-22 00:07] Darknior commented on #379
@joolswills I write "new" because the week before, the ES DEV version has not this bug. It's for help, but i can only write bug.
I'm not very strong in english, some time i use a bad word, i write crappy but i verify and i want to write break or something like that. Because yes if a skin use size and not maxsize the image will have a bad size.
When i like something i write nothing i only use the 👍

[2018-02-23 04:03] altiereslima opened #382 "jrassa Continuous build dont work Mame and FB Alpha (Windows 10)"
jrassa Continuous build dont work Mame and FB Alpha after this commit:https://github.com/jrassa/EmulationStation/commit/8e41791222f0aea144088e8486cda07fbda01d78
https://ci.appveyor.com/api/buildjobs/yxmft1by5vfgwtyq/artifacts/EmulationStation-Win32.zip

tested in Windows 10 Retroarch 1.7.1 and 1.6.7 x64

es_log:

lvl2: 	 req sound [video.launch]
lvl2: 	Attempting to launch game...
lvl2: 	 getting

[2018-02-26 18:05] joolswills commented on #381
I would like to revert this on the stable branch for now, until we have a solution on master. But happy to hear feedback on this.

[2018-02-26 18:32] pjft commented on #381
No concerns with that.

[2018-02-27 17:25] joolswills commented on #381
I have temporarily reverted this on the stable branch and bumped the version. I bumped master to 2.8.0rp-dev also so it's more clear when people are using the in development version.

[2018-03-07 03:32] madmodder123 opened #385 "Metadata Release Date cut off"
Posting this here from https://github.com/Aloshi/EmulationStation/issues/449

Seen on RPI2+ RPI3
RetroPie 4.x+
seen on 720p and 1080p

New screenshot:
![snapshot](https://user-images.githubusercontent.com/33565771/37072146-c75becde-2174-11e8-85b2-3ae1189f752a.png)
Old "screenshot"
![](https://cloud.githubusercontent.com/assets/6536462/7423573/23260c82-ef5c-11e4-83ae-c2a96f0f8c64.jpg)

This issue i

[2018-03-12 20:06] JackoboLeChocobo opened #388 "Using EmulationStation on Windows 10 with as path a samba server created on RPi3"
Hi everybody,

I have successfully setup my RPI3 with a samba server.
I can see the server on Windows 10 ( \\raspberrypi\public )

I tried to apply this config for example :

[code]

But EmulationStation can't see the roms, but in cmd.exe we can access to the samba server.

Can we use a linux samba server like I would like to the the files on EmulationStation on Windows 10?

In a friendly manner,

[2018-03-12 20:31] JackoboLeChocobo commented on #388
Information : The same configuration works without issue on EmulationStation of Aloshi ( installed with  https://emulationstation.org/downloads/releases/emulationstation_win32_latest.exe ) .

[2018-03-12 20:48] JackoboLeChocobo commented on #388
New information : Works with Retropie EmulationStation 2.2.2.220 . The bug affects the Pre-release version

[2018-03-22 09:13] Koerty opened #389 "GridView roadmap and FAQ"
# Summary
**Introduction
Roadmap
FAQ
Theming syntax
Ressources**

# Introduction
The grid view is an huge feature for EmulationStation and many points are suggest to discussion (design, implementation, ...) so I created this post to gather all the informations related to the grid view and I will keep it updated accordingly to further developments and discussions.

# Roadmap

Shortened status for b

[2018-03-22 20:37] hex007 commented on #389
@Koerty  Can we move this to Wiki ?

[2018-03-23 07:32] Koerty commented on #389
@hex007 Indeed we can ;)

The real question is : should we ? @joolswills

[2018-03-23 08:14] hex007 commented on #389
From the Wiki page

Wikis provide a place in your repository to lay out the roadmap of your project, show the current status, and document software better, together.

[2018-03-23 09:02] Koerty commented on #389
@hex007 I was asking more like an authorization from the owner of this repository to put that in his wiki which is empty right now ;)

[2018-03-23 13:15] Koerty commented on #389
@hex007 I'm rewriting this for the wikia,

[2018-03-25 09:14] danielandross commented on #288
Plus 1. When I start emustation only to get to kodi for media playback i do not want to connect a gamepad only to select kodi.

[2018-03-30 06:59] Zippo2la opened #399 "add languages"
how to add other languages to Windows versions

[2018-04-02 11:33] Koerty commented on #206
@jrassa What about an algorithm similar to what google image do ?

![google_image](https://user-images.githubusercontent.com/24305945/38194786-02ed8e78-367a-11e8-9022-dcccbf63b9dc.png)

Pros :
- Allow different images ratio with a pretty consistent margin, without holes, cropping or reordering

Cons :
- When many images have very different aspect ratio, the view feels a bit chaotic with no clear s

[2018-04-02 14:51] lilbud commented on #206
I agree with you that it feels way too cluttered. Maybe do the grid with a max size option.

Like this: <MaxSize>0.40 0.40</MaxSize>. The box art would stretch until either the height or width is 0.4, and then the rest scales proportionally.

[2018-04-02 14:59] Koerty commented on #206
@lilbud That's what I did, as @jrassa suggested.

The problem with this is our screen aspect ratio is either 4:3, 16:9 or 16:10, so our tile will **never** be a square, but a rectangle with the same aspect ratio.

This lead to huge margins in most case, as you can see in the screenshots on the related pull request :
https://github.com/RetroPie/EmulationStation/pull/396

[2018-04-02 23:47] Koerty commented on #399
Localization isn't supported by this version of EmulationStation.

[2018-04-04 03:00] jrassa commented on #206
@Koerty I would suggest focusing on a standard grid layout for the time being.

Part of the problem with the screenshots you reference is that the images are of mixed sizes.  Most are boxart with a squarish aspect ratio, while one is widescreen aspect ratio.  The tile size you have set for now appears to be based on the single widescreen image which results in large margins between the mostly squa

[2018-04-04 10:47] Koerty commented on #206
@jrassa No, the tile size is not based on the single widescreen image, it is based on the screen size, like all the UI elements.

In this example :
- Screen size = 1366x768px
- Max tile size = 0.19 0.19
- So max tile size in pixels = 1366 * 0.19, 768 * 0.19 = 256x146 px

That's why the tile size have a bigger width than height, because of my screen aspect ratio.

Using the same max tile size and f

[2018-04-04 10:50] Koerty commented on #206
I did some experiments with that and I think I can affirm a background/selector sized to the image= + some padding around it look way better than a background/selector sized to the tile max size.

[2018-04-04 13:56] jrassa commented on #206
@Koerty You are correct that all sizes are based on the screen size, but I guess I should have said that the tile size is better optimized for a widescreen image.  Since you are using equal values (0.19 0.19) the tile size maintains the aspect ratio of the screen.  However, these values could be adjusted (i.e. 0.19 0.33 or 0.11 0.19) to have a tile size closer to that of the expected image, result

[2018-04-04 13:58] Koerty commented on #206
See the screenshots below :

Using my test theme.
![capture d ecran de 2018-04-04 15-52-50](https://user-images.githubusercontent.com/24305945/38311968-c44823b0-3820-11e8-8e90-924843786b06.png)

Using a custom modified version of @lilbud Material theme
![capture d ecran de 2018-04-04 15-50-14](https://user-images.githubusercontent.com/24305945/38311967-c4217d50-3820-11e8-8f7c-777a2a8b430e.png)

[2018-04-04 14:33] Koerty commented on #206
On another side, a tile with really big width allow to show more text :

![capture d ecran de 2018-04-04 16-31-19](https://user-images.githubusercontent.com/24305945/38314094-c98fd3c2-3825-11e8-8556-1576e864af6c.png)

[2018-04-04 14:39] Koerty commented on #206
Damn you @lilbud your theme cut all my game names :'(

![capture d ecran de 2018-04-04 16-37-13](https://user-images.githubusercontent.com/24305945/38314433-758f1764-3826-11e8-91ff-bdb808a05fd0.png)

[2018-04-04 16:42] lilbud commented on #206
You should put the game name separate from the tile. Like put it at the top.

[2018-04-04 17:04] pjft commented on #206
This looks great - thanks @Koerty for chasing this, and @jrassa for taking the time to go through these changes and reviewing them.

A few questions, out of curiosity:
- Will this view have video support as well? Not necessarily at launch, but wondering.
- Are all the tiles like this rounded square, with white background, or is any/all of it theme dependent?
- What if there's no image? Is there a

[2018-04-04 17:37] Koerty commented on #206
@lilbud Thanks for your input. I had some ideas regarding this point so I think I will make a post of the forum to have all kinds of input (from dev/themer/users ...).

@pjft Thanks for your interest, I'm doing my best so this awesome feature don't die once again.

No it won't support video when released. But I planned to do a big refactoring of how are handled the game collection views, if @zigur

[2018-04-04 17:44] pjft commented on #206
Thanks, all sounds fair.

Well done!

[2018-04-04 18:02] Koerty commented on #206
Thanks. If you have time to take a look there is some ongoing pull requests :wink:

[2018-04-04 18:11] pjft commented on #206
I have been seeing them coming through, but alas I haven't had the time to really dedicate to this outside of work. I apologize.

[2018-04-04 18:19] Koerty commented on #206
No problem, I didn't want to make you feel bad about it. No need to apologize.

On another hand, if you really want to show your support, I know an other way : you can send me high quality coffee or tea, that help me go through all of this mess.

[2018-04-08 11:08] Koerty commented on #206
Here is my final proposition regarding the theming syntax :
[code]

Most of the default gridtile parameters, beside colors, **override** the selected gridtile parameters **if not explicitly set** by the theme. This mean if you set the default gridtile maxSize **but not** the selected gridtile maxSize in your theme, it will be automatically set to the default gridtile maxSize * 1.2

Here are the de

[2018-04-12 22:05] #399 closed

[2018-04-13 19:00] altiereslima commented on #382
This works fine.
https://github.com/jrassa/EmulationStation/issues/7

[2018-04-14 02:39] jrassa commented on #340
@Jakobud You can now override any of the button svgs by placing them in %home%/.emulationstation/resources

You can reference the files and directory structure [here](https://github.com/RetroPie/EmulationStation/tree/master/resources).

This will allow you to replace the button svgs with ones that match the controller you are using.

There isn't currently anyway to remove individual items from the

[2018-04-14 18:48] Jakobud commented on #340
Great! Interesting... so are resources different depending on the theme?

[2018-04-14 21:17] EctoOne commented on #340
No, you can only change them globally. Like @jrassa said, you can make your own help bar and add it to you theme. Some themes have a custom bar (I have at last seen one before but I'm not sure which theme it was).

[2018-04-15 03:27] #382 closed

[2018-04-15 17:48] flyinghead commented on #355
I believe I'm seeing the same issue but it seems to be due to Power Saving, which itself is influenced by the screensaver settings.
What happens is the scraper disables power saving when starting. But it's re-enabled by the IList component when presenting the results. It stays enabled afterwards and the UI freezes and async http tasks stop being updated as soon as it kicks in. UI updating and scra

[2018-04-15 20:11] Koerty commented on #224
Moved this here from your topic on the forum :

datetime

(to have the same properties as the other metadata fields)

    backgroundColor - type: COLOR;
    origin - type: NORMALIZED_PAIR.
    alignment - type: STRING.

textlist

    backgroundColor - type: COLOR;

helpsystem

    backgroundColor - type: COLOR;
    origin - type: NORMALIZED_PAIR.
    alignment - type: STRING.

[2018-04-15 20:24] Koerty commented on #224
@EctoOne What do you mean by "alignement" for the helpsystem ? You can already set the origin to "1 0" to align the helpsystem to the right.

[2018-04-15 22:00] jrassa commented on #224
@Koerty, by alignment, I believe he is referring the alignment of elements within the HelpComponent.  I believe currently they are rendered from the left edge of the component flowing right.  Functionally it would be similar to the the alignment option on TextComponent and allow the theme to specifiy either "left", "right", or "center".

[2018-04-15 22:33] EctoOne commented on #224
Yeah, I thought that the help system is an element that can be resized, but I just looked at the themes.md and noticed that it has no options to do that. So I don't know if it is possible to add that.
I only cared for origin back then because It was annoying to center the help system over and over again when I was trying different fonts.

Since we are speaking about missing options, I recently tri

[2018-04-15 22:45] Jakobud commented on #340
Okay so in the resources I see stuff like "button_a.svg". How do I change for example what button starts the game?

[2018-04-15 23:25] Koerty commented on #224
But if you align all the text to the right within the help prompt, then it will look like the text is associated to the button on its right, which is misleading for the user.

[2018-04-16 00:40] EctoOne commented on #224
It obviously should align the icons too not just the text. Example: If I set origin and position to 1 1 on something like the gamelist with alignment set to left, there will always be some space on the right side. I assume that will be the same if I set the origin of the helpsystem to 1 1, but I might be wrong since I have no idea how the helpsystem is rendered, especially since it is different fo

[2018-04-16 02:32] EctoOne commented on #224
Sounds like the size (width in this case) is dynamic then, good. I guess alignment is unnecessary then, thanks!

[2018-04-17 12:25] JackoboLeChocobo commented on #388
I will test that in the future release, I have created a fork that removes VLC depedency and restore the original joypad configuration of EmulationStation. I will apply my changes on the latest commit of your code and try it again.

[2018-04-17 21:56] JackoboLeChocobo commented on #388
The fact that we MUST asign a letter for a samba share is a high regression for network support. I will still use on my side the library Boost.

[2018-04-18 02:15] wfcarvalho opened #420 "zindex scroll bar gamelist"
I'm trying to implement zindex for the gamelist, I managed to make the image appear, but it does not follow the scroll bar, how do I fix it?

I put it this way

		<image name="background_gamelist" extra="true">
			<path>./misc/image/bg_gamelist.png</path>
			<pos>0.0525 0.100</pos>
			<size>0.300 0.040</size>
		</image>

		<textlist name="gamelist">
			<selectorColor>9aff9f</selectorColor>
			<sel

[2018-04-18 03:48] jrassa commented on #420
@wfcarvalho I answered your question on the forums.  For future references, question like this should be asked on the forums, not github.

[2018-04-18 03:48] #420 closed

[2018-04-19 21:55] julenvitoria opened #421 "EmulationStation does´t save metadata when you power off throug gpio script"
EmulationStation does´t save metadata when you launch a script to power off/reboot with a generic button connected to a gpio.This could be very interesting for many different projects, like bartops, gameboy zero, etc. It would also be interesting for anyone who had a system with a lot of roms because having so many roms is essential to make the list of favorites.

Thanks

[2018-04-19 22:14] pjft commented on #421
Hi.

Realistically, what you're saying is effectively "ES doesn't save metadata if we kill the process".

I've seen plenty of threads in the forums about this specific situation and with some workaround scripts.

The only way this would be addressed at the root of the problem is if metadata would be saved on change rather than on exit.

I suppose that could be a fairly feasible change to the code

[2018-04-20 03:35] hex007 commented on #421
@pjft Why dont we implement a SIGTERM signal handler to cleanly exit, saving metadata, which handles this issue??

[2018-04-20 05:41] julenvitoria commented on #421
@pjft Yes, I've seen plenty of threads in the forums too but no one really works. The best one that works in the past is meleu's script in retropie forum but it doesn't work now with the last updates.

@hex007 I'm trying this with an script killing ES first with pkill and it runs ok when you are in ES menu. The problem is when you are running an emulator... this needs to close the emulator first,

[2018-04-20 08:27] hex007 commented on #421
Rant: Why are users shutting down directly from the Emulator. Have they never used a Computer ??

ES is in a suspended state when emulator is running. The alternative to handling this is to start emulator in a forked process and poll it regularly while also listening for the signal. This way when sigterm is received, it will gracefully exit.

[2018-04-20 09:54] julenvitoria commented on #421
I’m with a GameBoy Zero project and, for example, this could be interesting if I build one with low-battery auto power off. In other cases it could be because of comfort... What is the use of a shutdown button through gpio if I have to turn off through the menu? 😅

[2018-04-20 15:50] hex007 commented on #421
@pjft looks like we have a direction to work with

[2018-04-20 23:57] #224 closed

[2018-04-24 05:56] mc2programmer opened #425 "[Feature Request] (<animation></animation>) sprite support for themes"
I am not sure if this is already implemented as sdl2 already supports sprite animations (if it is please disregard)
add an <animation> tag to themes that supports all the parameters for sprite animations.
This would greatly improve the customization/creation of themes. Gets rid of the need for other silly low quality implementations such as animated gif support, and should be much easier to implem

[2018-04-27 06:21] Joemommasfat opened #427 "Raspberry Pi runtime error"
Commit 1a4d13b6b39256b1b01f13ead2e653f0bfd7d3ea "Remove builtin resources" causes an error when starting Emulation Station on  Raspberry Pi.

`lvl0: 	Error - File type unknown!
emulationstation: /home/pi/RetroPie-Setup/tmp/build/emulationstation/es-core/src/resources/Font.cpp:17: Font::FontFace::FontFace(ResourceData&&, int): Assertion `!err' failed.
Aborted`

[2018-04-27 06:39] pjft commented on #427
You need to update RetroPie-Setup and install ES from there. It will copy the required files to the runtime folders.

[2018-04-27 13:44] Joemommasfat commented on #427
Yup.  Sorry for the false alarm.

[2018-04-27 13:44] #427 closed

[2018-04-27 21:07] pjft commented on #421
Thanks all for chiming in.

Just to clarify, the fact that we seem to have some sort of consensus on a technical approach here doesn't suggest that:
a) it is the approach that'll be implemented;
b) it will be done like proposed;
c) it will be done soon;

At a personal level, I'm not especially thrilled with programming by exceptions, and this is exactly what it is. It also means that, should the u

[2018-04-30 13:13] Koerty commented on #425
I heavily support this feature request.

The reason is this is something I had in mind since a long time, it could have nice use case in the grid view, to add a "pulse effect" to the selector for example.

I never got time to look at how to implement that, but I hope it happen at lower level (like at the texture level), so both ImageComponent and NinePatchComponent, which have completely different

[2018-05-01 14:43] Enverex commented on #427
What about other operating systems / distros? I'm getting this on Linux after having built from GIT.

[2018-05-01 23:01] maksun commented on #381
Hello, I use 2.8.0rp-dev and I notice ES is taking around 30 seconds to start or restart. During this time (those ~30s) it stays is at 100% CPU. If I replace my USB key (containing many ROMs) with an empty one, it starts normally. Could you please confirm we are talking about the same problem? Thanks.

[2018-05-03 16:57] borestad commented on #272
![image](https://user-images.githubusercontent.com/286455/39591339-bfec71d2-4f03-11e8-8da3-90f87ee17692.png)

This is me, running on Ubuntu 18.04. Skyhigh cpu and currently have seen tops of over 1300fps ...this really needs to be capped somehow.

[2018-05-03 20:10] tomaz82 commented on #272
It already is, it's called v-sync, either you have that off in options, or your drivers force it off.

[2018-05-08 06:29] pszalanski commented on #427
I just tried building ES from source on Arch Linux, based on this repository here. It also fails with an assertion and simply creating the resources folder does not fix it.

Any suggestions on how to get it to run?

[2018-05-09 19:30] raelgc opened #431 "Hide more features on Kiosk mode"
Hi guys,

I've configured some boxes to work in the Kiosk mode, but still kids are messing with them. Then, when the next kid will start to play, a lot of the configurations are changed.

Basically my idea is to hide more options/features in Kiosk mode:

1 - hide the entire main menu (the one fired with <kbd>start</kbd>): some kids will put sound volume to `0` or will shutdown the system;

2 - on

[2018-05-10 07:05] pjft commented on #431
I'd like to get @zigurana 's perspective on this, but in summary the idea would likely be that if it's a new mode it will likely have a better chance of getting approved.

There's a reason why volume is there, as on handhelds or devices without volume control that's the only way to actually change it.

For the launch screensaver entry I'm fairly sure you can disable that setting in the menu (scree

[2018-05-10 10:28] raelgc commented on #431
Well, imho a kiosk mode should really act as a kiosk and be "untouchable". Actually it's more close to a "Simple Options" mode.

Anyway, let me think in line with your thoughts for a possible second approach.

Screensaver: just found the option to hide controls now. For some reason, the **ScreenSaver Controls** option lives under **Main Menu** > **UI Settings** > **ScreenSaver Settings** > **Video

[2018-05-10 10:36] pjft commented on #431
Do move it one level up, must've been lost in a refactoring. Thanks.

In regards to exiting, though, how would you actually shut down the device? I understand the use case, though the use case implemented here is a middle ground, for home use. It's not running 24/7, and in specific for the Pi there's no real way to shut it down (unless you own a power button GPIO thingie).

I personally don't oppo

[2018-05-10 10:50] dankcushions commented on #431
personally i would remove shut down from kiosk mode, also. i keep my pi on 24/7 at home (doesn't everyone?!) and even if i didn't, i view 'kiosk' as 'unattended' mode, like if you had a bartop and left it running with friends over. i would want to be able to leave it knowing that the only thing it could be used for is playing games, and no settings could be changed. i would remove volume, also. i'

[2018-05-10 10:58] raelgc commented on #431
@dankcushions exactly my thought. Maybe like @pjft commented, a new mode, like `arcade` or `unattended`.

[2018-05-10 11:04] pjft commented on #431
I won't object to any of these strongly, other than asking for really appreciating @zigurana 's perspective.

Truth be told, volume is the main one I'd miss there in that case, but I admit it might not be a strong enough case for it to be kept. I do believe that Volume was explicitly asked by someone, as it was not part of the original design.

Any objections on it being a separate mode - or, alte

[2018-05-10 11:26] raelgc commented on #431
@pjft Probably the current kiosk should be something like "Simple". So we'll have Kiosk (a real unnatended mode), Simple (the current kiosk) and Full.

Just need to figure a way to not break people upgrading. I.e., people already using the current Kiosk that should be, after upgrade, get into the Simple.

About the other approach for current Kiosk: we can keep volume, hide Favorites and ListOption

[2018-05-10 11:28] pjft commented on #431
I don't object to the first option. If the concern is about upgrading, we can instead name the new mode "Full Kiosk" or "Locked Kiosk" or something.

Thanks.

[2018-05-10 16:53] zigurana commented on #431
Hey guys, (thanks @pjft for tagging me! )
What to include/exclude in the different UI modes (Full/Kiosk /Kid) came up during the initial development, and along much the same lines.
My guiding principle for Kiosk mode has always been that users in Kiosk mode should not be able to damage the system, while still be able to access all games. Now what you all consider 'damage' is up for discussion. I c

[2018-05-10 17:08] raelgc commented on #431
Well, how about name this unattended mode `arcade`, then? In an arcade you cannot change volume, shutdown, add/remove favorites, etc.

[2018-05-10 17:29] zigurana commented on #431
Sure, I mean you dont need my permission to make anything you want :-).
I just want to warn against creating a never-ending list of UI modes with varying degrees of exposure of the full UI.

Now, if you think there is a consensus on this, and that the name 'arcade' is descriptive enough to make it's use clear to users, go for it!

[2018-05-10 17:41] pjft commented on #431
@zigurana great to hear from you, hope you're doing well!

If you don't have any objections, as you were the one creating this initially, I'm fine either way - be it a new mode or changing the current one. Just wanted to make sure that your original use case wasn't broken.

Best!

[2018-05-10 17:44] HerbFargus commented on #431
One thing retroarch has done is made the menu configurable so that users can disable any portion of the menu they like (though they require a manual modification of a config file to bring them back), just another idea. or could just have a tier of all settings, no settings, and then somewhere in between - I believe this is pretty much what we discussed the last time we went through this

[2018-05-10 17:51] raelgc commented on #431
@zigurana What do you think if instead of introduce a new mode I do the following in current kiosk mode:

1. hide/disable favorite controls and list-view controls
2. add a `--no-quit` parameter, similar to `--no-exit`
3. move the ScreenSaver Control show/hide button one level up (it's under Video ScreenSaver Settings)

[2018-05-10 18:29] zigurana commented on #431
Hey Herb! That route is indeed the only real way around this issue once and for all. It's a mayor effort though, so a long term goal, at best.

@raelgc: I agree that introducing is maybe a bit overkill, especially if it is not entirely clear what a certain UI exposes or not.
Looking again at your first post, it seems that your users are mostly children that have some difficulty understanding /navi

[2018-05-10 18:58] raelgc commented on #431
I'm fine implementing this in kids mode, @zigurana. Nice suggestion, indeed!

The only effort for someone creating a bartop/arcade will be tagging all games as a kidgame (really simple to achieve using command line or even a find/replace tool in any text editor).

[2018-05-10 20:15] zigurana commented on #431
Yeah, that's a pain, for which a command - line switch could be introduced (--force_show_all or somesuch), if you want to save yourself and others from editing their metadata. Good luck, i will be happy to have a look at your PR in due time.

[2018-05-11 00:44] raelgc commented on #431
For the above PR, aside to the changes to kids mode (hide main menu, screensaver), I've added a `--force-skip-filters` option. So, for an arcade mode, we can use `emulationstation --force-kid --skip-filters`.

Additionally I've moved the ScreenSaver Controls toggle one level up.

[2018-05-11 13:06] pjft commented on #431
Thanks.

Just a note, probably personal preference but I think it's good as this is ultimately the RetroPie repository: I'm usually not be thrilled with adding a command-line option without a paired menu option for it. The majority of the users of this ES fork will be people who install it and use it in RetroPie. Given that they don't have an easy way to use those options, I'd support implementing

[2018-05-11 21:53] raelgc commented on #431
@pjft Following your request, I've added a `ENABLE FILTERS` entry under **UI Settings**. I've renamed the internal setting entry to be `ForceDisableFilters` (as parameter, `--force-disable-filters`).

When this option is changed throw the UI, I'm using `ViewController::get()->ReloadAndGoToStart()` as this will remove filters for all systems. Additionally when filters are disabled, I'm hidding the

[2018-05-12 02:49] bsinky commented on #427
Building from source on Fedora 26, I was running into the same issue.  What I did to fix it:

- build EmulationStation as usual
- `git checkout 3adadc9` (the parent commit of when data/resources was removed)
- `mkdir -p ~/.emulationstation/resources`
- `cp -r data/resources/ ~/.emulationstation/`

I don't know if this is the best way to get the needed resources (I'm guessing they're kept somewhere

[2018-05-16 23:18] goodjaerb commented on #427
Doesn't this mean the build instructions are moot now because it compiles a binary that fails? I get Retropie-Setup can install it but what about forks? I suppose I'll use bsinky's suggestion and keep the resources folder handy on my Google Drive.

[2018-05-17 00:48] jrassa commented on #427
@pszalanski Just creating the resources folder is not enough.  You need to copy the resources folder and its contents from the source.

@bsinky You shouldn't need to checkout out an old commit to get the resources they are still included with the source.  They were moved from `data/resources` to `resources`.

@goodjaerb ES will check 3 different locations for the resources directory.
 * %home%/.em

[2018-05-17 01:27] goodjaerb commented on #427
I'll try it out. I wish I found this issue thread before I spent all night figuring out which commit broke it (but at least i found this thread before reposting :)  and I don't know how I didn't notice the folder was still there for all the searching i was doing. But I wouldn't have known where to put it. Thanks. If nothing else shouldn't 'make install' place the resources in ~/.emulationstation?

[2018-06-01 18:39] #377 closed

[2018-06-02 17:20] einsteinx2 commented on #50
Any update on this? I know scraper ships as an option to install in the RetroPie, but it functions as a standalone tool. It seems like this was mostly completed. I've been using scraper on my desktop and then moving files over, as I find it faster that way, but it would be nice to have it in the UI.

[2018-06-03 18:14] jvalecillos commented on #427
I think this issue should be re-opened. The application just doesn't work without these resources in a custom directory that is not documented.

[2018-06-04 21:17] #431 closed

[2018-06-05 15:14] hzulla opened #442 "Feature Request: Need help implementing button labels"
If the [east/south/north/west](https://github.com/RetroPie/EmulationStation/pull/438) patch were accepted, the next iteration would be to include controller-specific button labels.

The idea is to let the user choose from common button label configurations (SNES / XBOX / PSX / etc.) and store this for the specific `inputConfig`. The `HelpComponent` icon display should then change the icons accordi

[2018-06-05 15:54] dankcushions commented on #442
Yes, I like this!

If we got this done a future step could be that once a 'preset' (PSX,Xbox, etc) has been selected, or custom labels have been entered, we then populate them to the users autoconfig file that is normally generated by the input configuration.

for example:
[code]
https://github.com/libretro/retroarch-joypad-autoconfig/blob/master/udev/Sony-PlayStation3-DualShock3-Controller-USB.cf

[2018-06-06 15:47] jrcharney opened #444 "Emulationstation does not support Bluetooth Steelseries controllers"
I am shocked nobody has ever come here to post this as an issue. Just about every other site reports this problem (Reddit, Raspberry Pi's forum, and RetroPie's forum) but not here.

So let's get down to the brass tax of the issue.  Emulationstation does not recognize the SteelSeries Stratus XL game controller.  While I hope I don't need to go to the RetroPie repo to report another issue involving

[2018-06-06 17:23] pjft commented on #444
Why, hello there.

Can you share more info as to what leads you to state that "EmulationStation doesn't recognize it"? Meaning, is it an EmulationStation issue or a wider OS issue? Can you get the controller to work on any of the emulators or Kodi, for instance?

Different answers may suggest different approaches or requests for info.

[2018-06-07 11:35] hzulla opened #447 "Sometimes, the option arrow is pixelized. Sometimes, it is not."
This happens when testing on a hidpi monitor (3840x2160).

For some entries in this menu, the left arrow is pixelized ("UI MODE", "START ON SYSTEM").
For other entries, the left arrow is drawn as expected ("TRANSITION STYLE", "GAMELIST VIEW STYLE").

Same bug occurs in other menus as well.

![pixelized](https://user-images.githubusercontent.com/1705654/41097160-4f7d7986-6a57-11e8-92ca-eb2cc772c80c

[2018-06-07 11:50] hzulla commented on #447
Update: Was able to find this for a right arrow, as well.

![pixelized2](https://user-images.githubusercontent.com/1705654/41097859-bcd43f5e-6a59-11e8-989b-9ba0d27cea81.png)

[2018-06-07 11:59] hzulla commented on #447
This occurs randomly and is not producible.

[2018-06-07 12:15] pjft commented on #447
I observe this as well frequently. 1080p. No consistency here.

It's highly likely that it's related to SVG resizing, being rasterized at different sizes before being rendered. I never really looked into it, though.

A good place to start is looking into

https://github.com/RetroPie/EmulationStation/blob/master/es-core/src/components/ImageComponent.cpp#L116

seeing what arguments are invoked here

[2018-06-07 15:51] hzulla commented on #447
It's weird that it's random. Can it be a concurrency issue in `OptionListComponent`'s resizing of the arrow images based on the text height?

[2018-06-07 17:04] pjft commented on #447
Can't say that it can't be, though it's probably just a sequence of resize events that messes it up though.

[2018-06-07 19:43] brettoblaster opened #448 "Wired controllers stop responding randomly during game."
I’m using a Pi3B with an original PS2 controller. Starting a few months back, the controller would just stop responding when I would start up a game. Then I would start-select out of the game (using a wireless keyboard which DOESN’T freeze), start up again, and then freeze again. It takes several restarts for the controller to finally work properly. And it’s always at the beginning of the night wh

[2018-06-07 20:16] dankcushions commented on #448
Dupe of https://github.com/RetroPie/RetroPie-Setup/issues/2419. same comment applies.

[2018-06-07 20:28] brettoblaster commented on #448
Would you mind telling me where I CAN post this issue?

[2018-06-07 21:12] #448 closed

[2018-06-08 15:37] hzulla commented on #447
Yep, it's a concurrency issue. The reason appears to be [this test](https://github.com/RetroPie/EmulationStation/blob/master/es-core/src/resources/TextureData.cpp#L37) - for some reason, it appears that the next call to `setSourceSize()` is already done while `initSVGFromMemory()` hasn't finished yet. As a result, it renders the image with the older lo-res width/height value stored in the image wh

[2018-06-08 17:57] hzulla commented on #447
So `OptionListComponent` isn't buggy. It rapidly fires off a number of resize events until the UI measurement has stabilized, which is suboptimal, but the bug is that `setSourceSize()` may not be called while `initSVGFromMemory()` is running.

[2018-06-12 15:10] hzulla opened #452 "Race condition in TextureData"
This describes the core issue of #447.

The race condition is this:

* An empty `OptionListComponent` is created.
* It starts with a [left arrow](https://github.com/RetroPie/EmulationStation/blob/46c274ebe4377804f14a83f53114d90765f2f767/es-core/src/components/OptionListComponent.h#L151) and a [right arrow](https://github.com/RetroPie/EmulationStation/blob/46c274ebe4377804f14a83f53114d90765f2f767/e

[2018-06-12 15:16] hzulla commented on #452
The pull request in #453 is just a workaround for #447.

(Sorry, I lack the proper knowledge of the UI code to fix the race condition behind it.)

[2018-06-12 21:35] pjft commented on #452
Thanks for the details here!

Could you test #454 and see if it fixes it for good?

Also, out of curiosity, what's your development/debugging setup - meaning, how did you get to this sequence of steps? Just looking for inspiration.

Best.

[2018-06-13 07:41] hzulla commented on #452
This is an x86 Ubuntu desktop for development. I'm using Retropie with my kids on a RPi3.

Reading the code and adding a lot of `LOG(LogError) <<` debugging messages to trace what is going on. The race condition was finally found by adding such logging messages in `setSourceSize` and also at the beginning and the end of `initSVGFromMemory` - then it turned out that the calls were intertwined.

[2018-06-14 22:14] #447 closed

[2018-06-17 16:41] GM-Script-Writer-62850 opened #455 "Game list searches hidden folders"
The include hidden files option is set to off but hidden folders are searched and it add them with a blank name, selecting one blank menu entry shows the non-hidden files in the hidden folder
* this was not a issue in Aloshi/EmulationStation (*using the original theme: simple 1.0 from april 2014)

I was able to workaround this using the game-list-only feature

[2018-06-19 04:55] lostless commented on #442
Dankcushions,  thats a great idea. We don't necessarily need to label the controllers with the proper button names, but simple y(left), B(down) Ect would do just fine when ES makes a retroarch auto config file.  It'll sure make editing button configs on retro arch 1.7.3 and up much easier to deal with

[2018-06-19 05:51] pafffff opened #456 "Game description scrolling problem (bug?) in detailed view"
Hi

My configuration: Emulationstation (compiled from source on 13th June) on Retropie 4.4 (downloaded as image) on a RasPi 3B

I have a problem with long game descriptions not scrolling correctly in ES detailed mode.  What happens is that the text is displayed and scrolls to a certain point and no further. It does neither scrolls to the end of the text nor comes back to the beginning (scrolls onl

[2018-06-19 06:51] pjft commented on #456
You should probably post this on the forums first, but you probably have the power savings settings turned on. Can you check?

You should disable them in the ES other settings menu (I think that's where they live). Can you check? And do you recall changing those?

[2018-06-19 17:56] #456 closed

[2018-06-19 18:05] pafffff commented on #456
It worked, thank you!

I posted this on the RetroPie forum but nobody answered.

[2018-06-19 19:39] pjft commented on #456
Had you changed that or was it a default, out of curiosity?

[2018-06-19 19:57] pafffff commented on #456
I had changed it manually, with the default RetroPie image version 4.4 for RPi 2 and 3, it was disabled.

[2018-06-20 09:30] pafffff commented on #321
+1

Or, easier, make "hide hidden games" the default.

[2018-06-25 20:05] rsn8887 opened #457 "Slow initial startup show ES title screen for >3 minutes with no progress bar."
I have many thousands of roms present, some of them without game list files. In this situation, ES takes forever to load on power up (~3 minutes). I think it is looping over all the roms to find the filenames. I don't understand why this is so slow, since it is not scraping the roms.

It would be nice to a) speed up the launch of ES on boot, b) display some kind of progress or at least a number in

[2018-07-01 19:47] billywade commented on #457
From what I can tell, there were plans to fix this in upstream. Whether or not that's happening on the fork, no idea.

https://github.com/Aloshi/EmulationStation/issues/191

[2018-07-06 11:53] billywade opened #459 "Store games and metadata in SQLite database"
This was mentioned on the old branch, but I want to mention it here for posterity and to hopefully get some help on it.

As it currently stands, ES scans storage every time it loads, causing massive loading times. Aloshi had the idea of using what is now standard for other media libraries, scanning only on request of the user and storing the results in an SQLite database, so loading times and memo

[2018-07-16 00:29] csonsino commented on #421
@julenvitoria I had a similar problem shutting down my RetroPie arcade cabinet from a GPIO button.  I think that Emulationstation saves metadata on the kill signal, but you need to let it finish before rebooting/powering off.  Here's my clean shutdown script that I execute on GPIO button press.  I'm not sure if it saves all metadata, but it seems to save the favorites list:

[code]

[2018-07-21 23:15] qphoria opened #461 "ES 2.7.5RP - Crashes when choosing "Back" in Other Settings"
Topic here: https://retropie.org.uk/forum/topic/18620/script-to-restart-es-or-reboot-system-on-segfault-or-es-crash

How I reproduce:
1. Be in Full user mode
2. Open the "Other Settings"
3. Choose "Back" and hit the "A" button
Crashes every time with:
`emulationstation: /home/pi/RetroPie-Setup/tmp/build/emulationstation/es-core/src/components/OptionListComponent.h:235: T OptionListComponent<T>::ge

[2018-07-22 00:00] qphoria commented on #461
Actually happens when I hit the "B" button as well

[2018-07-22 00:09] qphoria commented on #461
False alarm. I manually edited the es_settings.cfg file and had an invalid value for PowerSaver. I fixed that through the menu and it's fine now

[2018-07-22 00:09] #461 closed

[2018-07-23 18:23] #95 closed

[2018-08-09 10:45] Enverex commented on #459
This would catastrophically break my setup and I assume the setup of anyone that generates their gamelists outside of EmulationStation itself (mine's generated by the scraper that I use).

ES should only scan-on-demand when launched with the "--gamelist-only" option which only uses the existing gamelists and doesn't scan for new files, but I have a feeling that this switch is only half working, be

[2018-08-09 14:00] billywade commented on #459
That looks right, but after digging through the code, I'm having a hard time figuring out what could be causing it: the default setting is not to scan, nothing seems to override that, so my guess is that I'm overlooking it.

[2018-08-16 01:18] jadeglaze opened #469 "[Feature Request] Visually browse and directly load save states"
In the current world, ES is platform and game centric. You flip though platforms, then browse through long game lists, then start a game. Only then can you load save slots, and often it takes a few tries to figure out which slot you wanted and load it.

My idea: Make the save states first-class citizens. There's a bunch of ways to do this but one approach might be another special menu akin to "Fav

[2018-08-18 13:26] Azelphur commented on #427
I agree with @jvalecillos and @Enverex and think this should be reopened, for Linux packages, the current setup cannot work. You've got three directories it looks in:

- %home%/.emulationstation/ - Package manager would be doing a system-wide installation, the users home directory is not known (And even if it was, bad practice)
- executable path - Would be /usr/bin, putting a resources folder in /

[2018-08-20 03:01] billywade opened #472 "[Feature Request] Establish this repository as an independent repository"
Aloshi's upstream has been pretty well untouched for some time, and all main development happens here now. By maintaining the internal link to the upstream, the repository loses features like searching through the code on the GitHub website.

I totally get and agree with making sure it's loud and clear in the documentation that this originally belonged to Aloshi, credit where credit's due, but sin

[2018-08-20 08:58] cmitu opened #473 "FileUtils: Error generating image path when $HOME ends with slash"
First reported in https://retropie.org.uk/forum/topic/18924/metadata-being-changed-on-exit.

  When the $HOME/%HOME% variable ends with a trailing `/`, the `removeCommonPath` generates the wrong `image` path in the `gamelist.xml` file. The function is called, when metadata is saved, from `createRelativePath` with the input parameters:
 * `path` = C:/Portable/emulationstation//.emulationstation/dow

[2018-08-20 09:03] tomaz82 commented on #473
I'll look into this

[2018-08-20 09:15] cmitu commented on #473
Correcting my post:
A possible fix is to replace the `getGenericPath` inside `removeCommonPath` with `getCanonicalPath`, this will normalize the common parameter and remove the final / from the directory name.

[2018-08-20 11:43] tomaz82 commented on #473
Ran several tests and I can't reproduce this bug.
getGenericPath does remove the double / so it returns the path `.emulationstation/downloaded_images/pcengine/Legendary Axe, The (USA)-image.jpg`

[2018-08-20 12:02] cmitu commented on #473
No, it seems #413 didn't fix it. I've run the latest master today and reproduced it using the portable ES toolkit which starts ES with:
[code]

 `%HOME%` gets set to `C:/Portable/emulationstation/` and this is - seemingly - what generates the path problem.

[2018-08-20 12:04] cmitu commented on #473
To reproduce the problem, I just scraped one game with the built-in scraper, then exited ES. The `gamelist.xml` was updated and the `image` was set to the wrong path.

[2018-08-20 12:07] cmitu commented on #473
RE: `getGenericPath` - I guess it does the normalization, the problem is that the original path

[2018-08-20 12:09] cmitu commented on #473
Sorry about the closing/reopening, wrong button to press. Can you try re-producing the problem starting ES with the `HOME` set (ending in `/`) and re-scraping one game to see how the `gamelist.xml` is saved ?

[2018-08-20 21:56] dankcushions commented on #472
i disagree. i feel like this is against the spirit of forking. plus i feel like the differences to the original aren't total overhauls, but improvements to the original design.

searching the repo is trivial if you download it.

[2018-08-20 22:15] billywade commented on #472
@dankcushions You're right, it's just that this one is maintained. Again, maintain the link in the documentation and README, just take it out of the GitHub path so it has more functionality. If I remember correctly, there are other problems of using a fork, the searching was just what came to mind.

[2018-08-23 13:51] pszalanski commented on #427
@jrassa Please integrate a change which makes the app search in `/usr/share`, just like @Azelphur suggested. This has been common practice for all linux programs that I know of.

[2018-08-23 15:03] billywade opened #477 "Error in font.cpp"
the latest AUR/git build doesn't launch for me, complaining
[code]
The log files are empty, otherwise I'd include them. Let me know if you need anything else.

[2018-08-24 02:48] cmitu commented on #477
Looks the same error as in #427, the packager didn't include the necessary resources with the package.

[2018-08-24 03:15] billywade commented on #477
Yup, fixed. It even fixed an issue with me not being able to launch the app outside of the build directory. Thanks!

[2018-08-24 15:58] #477 closed

[2018-08-26 17:28] SX-111 opened #478 "Can anyone help me compile EmulationStation independently?"
I would like to compile EmulationStation independently, without installing RetroPie.

In the official page of EmulationStation there is a guide to do it, I followed the instructions and it does not work.

I leave the link to the independent installation guide: [https://emulationstation.org/gettingstarted.html#install_rpi_standalone](url)

I use Raspbian Stretch Lite 9 (without desktop), which can

[2018-08-27 01:33] SX-111 commented on #478
So can I ask in the RetroPie forum about how EmulationStation is installed without installing RetroPie?

At first I did not want to ask in the RetroPie forum because I thought they would reject me or something like that.

I will consult in the RetroPie forum, if you authorize me.

[2018-08-27 01:35] joolswills commented on #478
First try and follow the instructions I linked. Also, why not just install it using the retropie script if you are unable to compile it manually.

[2018-08-27 01:40] SX-111 commented on #478
I would like to learn how to do it manually. But I didn't know that RetroPie-Setup could do that.

[2018-08-27 01:47] SX-111 commented on #478
One more question . . .

Can I build EmulationStation using this fork or do you not authorize it?

[2018-08-27 01:50] joolswills commented on #478
Yes. and use the forum for further questions as I have requested.

[2018-08-27 02:07] SX-111 commented on #478
**Millions of thanks, friend!!!**  :-)

I'm going to try, friend. If it does not work, I will not hesitate to consult the RetroPie forum.

Thank you **@joolswills** for dedicating your time and sorry for the inconvenience!!

[2018-08-30 02:11] #473 closed

[2018-09-05 01:16] duiz opened #479 "[Feature Request] <originalSize></originalSize> for displaying media in native res"
One issue I often stumble on in different themes is the stretching of media, especially videos which can differ per system and introduce artifacting, shimmering and noise. Basically, it would be useful to add a <originalSize></originalSize> that displays the media in its native res so that some media can be more dynamically displayed without it affecting the quality of the source.

The issue has b

[2018-09-08 13:47] 5schatten opened #481 "[Feature Request] Add background music to ES"
Well I was wondering if it's possible to adopt this commit to the RetroPie fork of ES?

https://github.com/recalbox/recalbox-emulationstation/commit/f149f34430c86158372d4e2d85ae4f0485ac49ab "added ogg and mp3 bg music support with sdlmixer"

It would be nice if we could set some sort of bgm while browsing the games.

[2018-09-14 18:10] Sterophonick opened #484 "Unable to have one screensaver for every system."
Hello.
Is it too much to ask to have the ability to have one video as the screensaver for the entire frontend without making duplicates of the video file for every single ROM? I kinda want to use that as an attract mode.

[2018-09-15 07:53] pjft commented on #484
Hello. It's certainly not too much to ask, no, but it does takes time and effort. I don't have a lot of time in the foreseeable future, so I'm not going to create any expectations here, but if you'd want to take a stab at it yourself, I'd be happy to point you in the right direction.

Alternatively, the best place to post suggestions is really the forums over at https://retropie.org.uk/forum/ - I'

[2018-09-15 12:05] UnluckyForSome opened #485 "Theme UI sounds e.g <sound name="systemscroll"> only half implemented"
Currently, within a theme's .xml, only

`
		<sound name="launch">
			<path>./art/launch.wav</path>
		</sound>
`
seems to be implemented. I read somewhere these were one of the last things that the original ES developer was working on before abandoning the project, so they never got round to adding the rest. Looking at old theme files, it looks like support was originally intended for the following

[2018-09-17 16:55] danger89 commented on #50
The default scraper currently installed within EmulationStation is the built-in one right (not the one from sselph/scraper )?

What are the benefits of the sselph scraper vs the current one? And should I request an API key for the new thegamesdb API v2..? I'm contacting  Zer0xFF via discord.

[2018-09-17 17:13] danger89 commented on #50
@joolswills Please, request an API key for v2 via the forum: https://forums.thegamesdb.net/viewforum.php?f=10

The main repo maintainer normally maintain the key. Sselph already requested one for himself, but maybe its a good idea to have one for emulationstation as well (since we do have two different scrapers here).

[2018-09-18 23:57] akhoury6 commented on #186
2018 I have this same issue, where emulationstation crashes when scraping a folder, as opposed to a file. Example path:

~/RetroPie/roms/psx/GameTitleGoesHere/

[2018-09-19 07:05] pjft commented on #186
Hmm. I was under the impression that I had fixed something to this effect, or maybe it's a different issue with similar symptoms.

What version are you on, and could you test it on the Dev branch?

[2018-09-19 21:41] mediamoshpit commented on #186
Your fix hasn't been implemented in the main branch yet. Same goes for the 'Last Played' limit #383. I check for them every now and again.

[2018-09-19 21:48] pjft commented on #186
Oh. Team: any concerns with migrating any of these to the main branch? I use the Dev branch as my main one, and have done so for the past several months as far as I remember, and I noticed no real issues. At least the bug fix commits could perhaps be migrated?

Just a thought. Let me know if you need any help with that.

[2018-09-20 01:30] einsteinx2 commented on #50
Yes that's correct. To use sselph's scraper you have to drop into the terminal.

I don't have an exhaustive list but in general it's faster and more accurate, or at least that's been my experience. And especially on my computer using multiple threads it's super fast (no reason that shouldn't work in RetroPie also, though the included version right now seems to be single threaded, or at least I rem

[2018-09-20 11:35] joolswills opened #486 "ES crashes if StartupSystem doesn't exist"
A user set the StartupSystem, but then later removed it and their ES now crashes on exit. They fixed it by manually changing the config, but this should be checked/caught in the code.

https://retropie.org.uk/forum/topic/19345/pi3-hangs-when-exiting-es-ui-menu/8

[2018-09-20 11:40] tomaz82 commented on #486
I'll take a look

[2018-09-20 17:51] akhoury6 commented on #186
Seems like you guys figured out the issue, but in case you still need it I'm on:

Version 2.7.6rp, built Jul 11 2018 - 17:35:52

[2018-09-21 10:13] 5schatten opened #488 "[Segfault ]Remove trailing '/' in getGenericPath"
This patch https://github.com/RetroPie/EmulationStation/commit/15ccfc5a05ca82fe443c5844d57255563090479c results in a segfault for me when I try to launch ES by systemd through this script https://github.com/5schatten/LibreELEC.tv/blob/libreelec-9.0-rr/packages/oem/files/usr/bin/emulationstation-frontend.py

dmesg:
[  467.492513] emulationstatio[1681]: segfault at 7ffff2e29fa0 ip 00007f96c3edd86e s

[2018-09-21 17:15] Koerty commented on #485
As I said in #155 , `<sound name="launch">` work, `<sound name="back">` only work if you are in a subfolder and get back to the parent folder, and I'm not sure but I think I saw a `<sound name="select">` somewhere but it doesn't work.

[2018-09-22 01:11] jordirodo opened #489 "Log location configurable"
Once you have your retropie system ready and stable, would be good to set emulationstation logs to /dev/shm, avoiding SD Card degradation.
Thus, having an option to specify log location would be great.

[2018-09-25 15:31] 5schatten commented on #481
I don't use RetroPie but the ES fork. I thought if the screensaver can play some music the normal game browser could do this as well

[2018-09-25 16:13] slappymcphee commented on #481
the only way to invoke BGM is to have a standalone application installed to do so like mpg123 and then invoke it via code that you write. for example modifying the autostart.sh script used with RetroPie. one of the issues with this is that you can install RetroPie or ES on various platforms and the different platforms might need a different audio application to be able to execute the process. Ther

[2018-09-25 16:27] joolswills commented on #489
You can try symlinking it. There is not point changing this log location to "avoid sd card degradation" - it will have no impact vs all the other things that are written to the sdcard.

[2018-09-25 16:27] #489 closed

[2018-09-26 21:49] 5schatten commented on #481
Well thats not what I mean. Since ES has meanwhile a "full" featured audio section *and* plays background music while showing some screensaver pictures IMHO it should be possible to play some music too while browsing the games *without* any additional script. Of course it would make sense to add mpg123 support or ogg or flac to play some compressed music files too.

I don't think about some crazy

[2018-10-01 20:43] dsx724 opened #490 "RetroPie-Setup/tmp/build/emulationstation/es-core/src/resources/Font.cpp:412: void Font::renderTextCache(TextCache*): Assertion `*it->textureIdPtr != 0' failed."
retroarch runs just fine but emulation station fails. I have tried both master and stable branches to no avail. I manually copied the resources files from es-core to .emulationstation/resources.

Anything else I should try? emulationstation --debug doesn't give much details.

[2018-10-01 20:43] dsx724 commented on #490
This is with SDL2 compiled with KMS DRM video driver.

[2018-10-02 07:56] dsx724 commented on #490
@cmitu ls ~/.emulationstation/resources/
arrow.svg   busy_1.svg  busy_3.svg         button.png            checkbox_unchecked.svg  fav_remove.svg  help     on.svg                               opensans_hebrew_condensed_regular.ttf  scroll_gradient.png  splash.svg       star_unfilled.svg               textinput_ninepatch.png
busy_0.svg  busy_2.svg  button_filled.png  checkbox_checked.svg  fav_add.sv

[2018-10-02 16:43] cmitu commented on #490
I can't reproduce the issue. I run `emulationstation` from $HOME and crashed with the same error. As soon as I copied the `resources` folder in `~/.emulationstation`, the crash disappeared. Check the permissions on the folder and make sure you copied all the required files.

Installing ES from the RetroPie-Setup script will produce a working installation also, you can take a look at how it's insta

[2018-10-02 16:49] dsx724 commented on #490
Can you give me the output of `ls -al ~/.emulationstation/resources/`? I am doing this on aarch64 with a custom SDL2 enabled for GLES2.

[2018-10-02 16:50] dsx724 commented on #490
The emulators run fine manually but this is preventing the emulators from launching.

[2018-10-02 16:55] cmitu commented on #490
This is the contents of my `~/.emulationstation/resources`
[code]

[2018-10-03 01:10] dsx724 commented on #490
I don't know why I was missing a few files before but I have re-copied the directory and added the missing files. The permissions are all correct with readability for everyone and ownership by the user.

.   arrow.svg   busy_1.svg  busy_3.svg         button.png     checkbox_checked.svg    fav_add.svg     folder.svg  help           off.svg  opensans_hebrew_condensed_light.ttf    option_arrow.svg

[2018-10-03 02:11] dsx724 commented on #490
Everything exists. The issue is somewhere else.

[2018-10-03 03:52] cmitu commented on #490
Looks like it's indeed not related to the resources, but the problem seems to be somewhere in the GL library underneath - not in ES.

[2018-10-03 06:02] pjft commented on #490
Let me venture another guess (which, like all guess, has a lot of chances of being completely off).
What the are you using, and do you confirm that it has the right fonts available in the theme folders? It is, after all, failing in a font-related assertion.

@cmitu 's suggestion is likely more on point, but just making sure that we're not overlooking something simpler.

[2018-10-03 06:35] cmitu commented on #490
@pjft I think the log posted shows it checks for the theme's fonts and they're ok:

Checking Resource Exist: /etc/emulationstation/themes/carbon/art/Cabin-Bold.ttf
Resource Exist: /etc/emulationstation/themes/carbon/art/Cabin-Bold.ttf
Selected Resource: /usr/share/fonts/truetype/dejavu/DejaVuSans.ttf
Checking Resource Exist: /usr/share/fonts/truetype/dejavu/DejaVuSans.ttf
Resource Exist: /usr/shar

[2018-10-03 06:40] pjft commented on #490
@cmitu you're right as usual. Likely (for GL reasons or others) it's unable to load/create the font texture in memory.

[2018-10-03 09:59] dsx724 commented on #490
I made some modifications to the build for GLES using Mali/KMS that could be the issue:

sed -i 's/GLES\/gl.h/SDL_opengles.h/' RetroPie-Setup/tmp/build/emulationstation/es-core/src/platform.h
cmake . -DFREETYPE_INCLUDE_DIRS=/usr/include/freetype2/ -DGLES=ON -DOPENGLES_INCLUDE_DIR=/usr/include/mali/

The cmake completes fine. It may be that it is using some GL code instead of GLES code to render th

[2018-10-03 10:12] cmitu commented on #490
Could be, does ES work if you're starting from an X session ?

[2018-10-03 10:49] dsx724 commented on #490
There's no X on the system. I'm trying to use KMS/DRM directly.

[2018-10-03 11:16] dsx724 commented on #490
DEBUG: KMSDRM_VideoInit()
DEBUG: Opened DRM FD (4)
DEBUG: Found connector 29 with 27 modes.
DEBUG: Found encoder 28.
DEBUG: Saved crtc_id 31, fb_id 49, (0,0), 1920x1080
DEBUG: Failed loading udev_device_get_action: /usr/lib/aarch64-linux-gnu/libSDL2-2.0.so.0: undefined symbol: _udev_device_get_action
DEBUG: Could not find a cursor size supported by the kernel driver
DEBUG: Couldn't find cursor to

[2018-10-03 15:29] dsx724 commented on #490
libEGL.so call trace: https://pastebin.com/g0gLuCzv

[2018-10-03 16:15] cmitu commented on #490
I'm sorry, I'm not able to guide on errors related to GL and I'm not sure that ES is at fault here.

[2018-10-03 17:13] dsx724 commented on #490
Yeah it is difficult to tell. I am just posting information in case someone hits this problem as well or knows the solution.

The only time that function is called in emulationstation is in
./emulationstation/es-core/src/Renderer_draw_gl.cpp

When I do a grep for that function in SDL2 and emulationstation, the only thing I find is
 grep -r glLoadMatrixf .
./ppsspp/ppsspp/ext/glew/GL/glew.h:GLAPI v

[2018-10-04 11:15] evelikov commented on #490
Perhaps unrelated - the SDL messages look very suspicious.

Looking at the code in `Renderer_init_sdlgl.cpp` - building with GLES:
 - the version is requested (eek why are you guys using 1 ...)
 - yet the ES profile is not selected - do you end up with OpenGL?

See https://wiki.libsdl.org/SDL_GLprofile

Extra tidbits:
 - try GLES2 + updating the code
Some Linux distros are _not_ shipping libGLESv1

[2018-10-04 11:36] dsx724 commented on #490
@evelikov I think Emulation Station uses GLESv1. The library binary for GLESv1 and GLESv2 are the same since Mali ships with only one binary. SDL is using EGL since this is all using DRM and not X11/Wayland.

[2018-10-04 11:57] dsx724 commented on #490
@evelikov OpenGL is disabled in SDL. I will retry by adding context to see if it fixes it.

[2018-10-04 12:49] dsx724 commented on #490
@evelikov You were right, major code changes are needed because Emutation Station still requires GL.

https://pastebin.com/wqjjahNB

@cmitu Should I close this ticket and create a new ticket for GLES only support?

[2018-10-04 14:12] cmitu commented on #490
You can do as you please, but I don't see the point in asking for GLES2 if there's nothing that really requiring this. Note that I'm not an ES dev, I was just trying to help diagnose and fix the issue.

[2018-10-04 14:18] dsx724 commented on #490
The issue is a problem with my setup. libMali.so only allows one context to be created so having retroarch running within EmulationStation is the most likely cause. Probably need to re-think how to launch retroarch in situations with DRM/KMS. The GLESv2 is a side issue. I hijacked runcommand.sh and retroarch will segfault. Meanwhile without EmulationStation running, the same retroarch commands wil

[2018-10-04 17:58] dsx724 commented on #490
@sigmaris Did you ever encounter this problem?

[2018-10-05 09:19] sigmaris commented on #490
I've not encountered this problem, but I've not used EmulationStation with a Mali GPU; only with the VC4 GPU on Raspberry Pi. A wild guess is the problem might be related to EmulationStation not completely releasing the GPU when it launches an emulator. I found an issue (https://github.com/anholt/mesa/issues/33) in the vc4 driver where it kept an open file descriptor, and that prevented Retroarch

[2018-10-05 11:51] dsx724 commented on #490
Thanks for the tip. You are right:
emulation 23922                  libre    0u      CHR              136,0      0t0          3 /dev/pts/0
emulation 23922                  libre    1u      CHR              136,0      0t0          3 /dev/pts/0
emulation 23922                  libre    2u      CHR              136,0      0t0          3 /dev/pts/0
emulation 23929                  libre    0u      CHR

[2018-10-05 15:04] dsx724 commented on #490
This is a Mali issue. I am closing.

[2018-10-05 15:04] #490 closed

[2018-10-09 03:11] mrfixit2001 commented on #481
I have a patch for this fully programmed in a new build that I'm writing for the rock64 / rockbox. The code should work on any platform, as nothing in it is specific to that platform. It uses sdl2mixer.

The master branch has an error that kills ES anytime the user tries to exit the audio settings menu so I can't properly test the new music volume slider, so I've re-written my patch to apply to th

[2018-10-09 08:49] tomaz82 commented on #488
Do you have custom collections?

[2018-10-10 19:13] 5schatten commented on #488
Custom collection? Just the usual stuff ES scrapes or what do you mean? Anyway tried the latest version & still fails without reverting the patch.

[2018-10-11 00:36] mrfixit2001 commented on #481
@5schatten - thanks for that! I hope it helps the devs over here at emulationstation get to the bottom of what's happening. Hopefully one of them comments back on this thread that it's fixed so I can submit a proper pull request. For now, my build is happy with the stable branch + background music :) I also changed it so the system volume and music volume are saved to es_settings so the user doesn

[2018-10-14 09:32] 5schatten commented on #481
@mrfixit2001
Do you have a branch where we could have a look at your PR? Or can you rebase it for upstream code?

[2018-10-17 20:17] mrfixit2001 commented on #481
Absolutely, I will work thru a rebase on this particular patch against master branch and submit a pull request when I have some time. I've got other fixes and enhancements in my environment as well, such as making the menu loop (hitting up on the top menu option goes to the bottom and vice versa) so I don't want to accidentally end up with any of those other changes in the background music PR.

[2018-10-21 12:17] 5schatten commented on #481
Looping would be pretty neat too! It's annoying to scroll up & down every time :)

[2018-11-02 08:19] TacoDog311 opened #496 "Swapping ok/cancel changes Konami code"
Not sure if this is by design, or a bug, but making b ok and a cancel makes the buttons backwards in the Konami code when trying to get out of kiosk mode.

[2018-11-03 22:48] Cederick opened #497 "[Request] Option to reset Retropie to stock"
Hey I just wanted to quickly ask if there is any hope for an option to uninstall all additional packages I got without flashing the sd card and losing all my roms. Since I have so many experimental packages that I would like to get rid of and I don't remember what I did to my Retropie installation last year. Can weg get something like this in the future?

Sincerely
A really clumsy Retropi user

[2018-11-04 07:19] joolswills commented on #497
Please use the forum - https://retropie.org.uk/forum/ thanks.

[2018-11-04 07:19] #497 closed

[2018-11-09 08:43] clironpean commented on #288
Plus 1. It would be perfect !

[2018-11-15 12:46] 5schatten commented on #481
@mrfixit2001
Any progress about adding your features to upstream code? :-)

[2018-11-15 15:50] hex007 commented on #481
Please have it tested with PowerSaver modes. If you are using ES's mixer elements then PowerSaver modes will cause the music to halt. Set PS mode to disabled if music is enabled.

[2018-11-20 02:15] mrfixit2001 commented on #481
On the board I've written the patch for, it doesn't currently suspend/resume (yet), so I can't test that. I am using SDL2Mixer, which I've had to add to cmake, and I've updated the way SDL audio is initialized. I can at least confirm that when sitting idle, the default screensaver dims the display and the music continues. I have not yet had a chance to rebase against master. When will we be expect

[2018-11-22 20:34] cmitu opened #500 "Help is not fully themed when a dialog is opened"
Reported in https://retropie.org.uk/forum/topic/19733/emulation-station-quit-menu-helpsystem-font/2, a similar situation as the one reported in  #144 (fixed in #146, but not completely). I'm adding this just so it doesn't get lost, could be something simple to contribute / fix.

[2018-11-26 21:47] Enverex opened #501 "Platforms Show as Sub-Menus of themselves if System Path is Not Available"
This one is a little weird so bare with me as I try and explain this.

Setup: All assets and EmulationStation itself are on the system disk, all the actual games (and thus the system paths) are on a second disk which is mounted after boot (because it takes over 30 seconds to mount).

Issue: If the system paths are not yet available when EmulationStation is opened, ES seems to put the systems insid

[2018-11-27 17:46] cmitu commented on #501
What version of ES are you using/which OS ? Can you provide a log file after a start-up where this problem occurs ?

[2018-11-27 18:06] Enverex commented on #501
Version is GIT master, compiled from source on that machine running on Linux (Arch). Shows as:

    Version 2.8.0rp-dev, built Nov 27 2018 - 11:27:03

No errors are produced on the command line. Log file when it **doesn't** load properly shows:
[code]

The location of the unmounted disk is /mnt/store which doesn't seem to show up in the log here. But what does happen is it seems to list every plat

[2018-11-27 18:36] cmitu commented on #501
Does it happen if you remove the `--gamelist-only` argument ?

[2018-11-27 19:21] Enverex commented on #501
Well that obviously wouldn't work because it would then try and scan for content which A) doesn't exist because the paths for the systems point to a location that isn't mounted yet (which is the trigger for what happens in the first place) and B) would take forever on a library this size.

It looks like --gamelist-only still has a hangover from the old code somewhere and it's still checking the pa

[2018-11-27 20:00] pjft commented on #501
Well, I can suggest why it is having these results, but the rootcause would need a bit more investigation.

Ultimately, it is related to whatever is causing the platforms to be “unknown”. I suspect it might certainly be related to the fact that the paths aren’t mounted when es_systems.cfg is parsed - I don’t know that code by heart but it wouldn’t shock me if a missing folder would cause the platf

[2018-11-27 20:23] Enverex commented on #501
That's not really what I was aiming for here. When using "gamelist-only" mode it shouldn't be checking anything anywhere, the whole point of using an existing gamelist is that it trusts it to be correct, so the systems should show up in the frontend regardless. Obviously launching anything wouldn't work until the disk has finished mounting, but by the time someone has navigated to the system and g

[2018-11-27 20:29] pjft commented on #501
Thanks.

Maybe it wasn’t clear, but my feedback is that it isn’t related to it checking for paths when loading the content, but rather when initializing the Platforms - which is not related to gamelists. Hence the errors “Unknown Platform for system XXX” when it fails to load, during the es_systems.cfg parsing. Gamelist-only does not check for any paths for the games whatsoever in itself, that you

[2018-11-27 20:31] Enverex commented on #501
Already did, it's roughly in the middle of my last response (look for the blue link, it's not the most obvious though).

The "Unknown platform for system XXX" happens even when it does display correctly, so that may be a red herring.

[2018-11-27 20:37] pjft commented on #501
Thanks, didn’t see the link as you were embedding everything else!

The Unknown platform for XXX seems to happen for all your systems in the bad load, namely the ones for which you do have gamelists for. In the good load it only seems to happen for a few odd ones that you likely don’t have games for. Do you confirm my assessment?

[2018-11-27 20:43] Enverex commented on #501
Hah, sorry. The systems file was rather large so I attached it instead.

Originally I thought that was the case with the Unknowns, but I double checked the log for both the good and bad starts and it was identical (I did a diff to make sure I wasn't missing anything). AFAIK the "unknown platform" thing is harmless, it just means ES doesn't recognise the name of the platform for some of the feature

[2018-11-27 20:49] pjft commented on #501
Hah. Thanks for double checking then - I suppose I was reading it wrong.

I’m traveling for work this week so won’t be able to even look into this, but to be honest without being able to replicate it on my end I will probably struggle to determine what may be happening. That is, if nobody else has any ideas on why that may be happening, as I don’t know a lot about this code.

I’ll try to look thro

[2018-11-27 21:01] Enverex commented on #501
I think recreating the issue may actually be quite easy. Just create a platform/system that points to a non-existent location, make sure it has a gamelist with at least a few entries in it (which also point to somewhere in the non-existent location), and then start EmulationStation with the --gamelist-only option. Logically that seems like it should reproduce the problem.

Example gamelist.xml fil

[2018-11-27 21:18] cmitu commented on #500
@pjft Thanks for taking a look. Option a) was my first idea of a fix, but for obvious reasons it wasn't so simple as in #146.

[2018-11-27 21:21] pjft commented on #501
Got it, thanks.

The error will be here:

https://github.com/RetroPie/EmulationStation/blob/bf028191255c5f4948bd313d7facd09ba69bf5b6/es-app/src/Gamelist.cpp#L126

when we have gamelist-only set and the file can’t be found, which I suspect will end up here somehow:

https://github.com/RetroPie/EmulationStation/blob/bf028191255c5f4948bd313d7facd09ba69bf5b6/es-app/src/Gamelist.cpp#L71

so it may be e

[2018-11-27 21:22] pjft commented on #500
Well, it might be a simple fix with something obvious I overlooked (@jrassa was under the impression this should be fairly straightforward when I chatted with him, so it might be I’m missing something obvious). Let’s see what others suggest.

[2018-11-28 04:27] c0d3h4x0r opened #503 "Scraper fails to find any matches from thegamesdb.net for any TurboGrafx-16/PCEngine CD-ROM games"
This is a copy of [https://github.com/Aloshi/EmulationStation/issues/781](https://github.com/Aloshi/EmulationStation/issues/781) to ensure this issue gets traction/visibility on the RetroPie side.

Apparently the built-in scraper neglects to look in the correct "platform" section of thegamesdb.com for TurboGrafx-16 CD-ROM games (it's separate from the TurboGrafx-16 HuCard section), so it completel

[2018-11-28 06:44] c0d3h4x0r opened #504 "Update scraper to use new thegamesdb.net API"
EmulationStation v2.7.6rp (included in the latest available RetroPie release) uses the old API via http://legacy.thegamesdb.net, which is apparently backed by a completely different dB than https://thegamesdb.net, so the scraper can't find any of the new games I just added to https://thegamesdb.net.  Please update to use the new API instead so that RetroPie's scraper can actually find newly-added

[2018-11-28 06:46] c0d3h4x0r opened #505 "The DELETE button on the EDIT METADATA screen should only delete the metadata, not the game itself"
It is unexpected that the DELETE button on the EDIT METADATA dialog deletes more than just the metadata.  Either add a separate CLEAR button for clearing just the metadata, or change the behavior of the DELETE button to only delete the metadata.

[2018-11-28 06:48] c0d3h4x0r opened #506 "Using the DELETE button on a TG16 CD-ROM cue/bin pair only deletes the .cue file"
Leaving alone the issue of what the DELETE button should do from a usability perspective (I've already filed a separate issue on that), it currently fails to correctly delete TurboGrafx-16 CD-ROM games (which are cue/bin file pairs, or sometimes cue/cdt/bin file trios), because it only deletes the .cue file, leaving behind the much-larger .bin file.

[2018-11-28 06:55] c0d3h4x0r commented on #63
I've seen similar problems with game names that contain an ampersand (&).  I had to rename them to use the word "and" instead.

[2018-11-28 09:20] cmitu commented on #505
I guess you're just requesting a 'Clear metadata' option. The **delete** button does what it says - deletes the ROM.

[2018-11-28 09:34] c0d3h4x0r commented on #505
No, that's not all I'm looking for.  I'm on the "EDIT METADATA" dialog, so I would expect a DELETE button in that context to delete the metadata only, since the dialog is purely about the metadata.

[2018-11-28 10:36] HerbFargus commented on #504
This has already been done...

[2018-11-28 17:01] c0d3h4x0r commented on #504
How can I get my hands on it?  I already tried building emulationstation myself from the latest 'stable' branch, but it just crashes with an assertion failure on startup and doesn't appear to work.

[2018-11-28 17:03] pjft commented on #504
It's likely in the dev branch for the time being. You can (should) install it via RetroPie-Setup, as some dependencies might have changed and the install script will copy them to the right place.

[2018-11-28 17:06] c0d3h4x0r commented on #505
And to clarify -- the **DELETE** button currently does **more** than it says.  From all appearances, it says it will delete the metadata.  I experienced unexpected userdata loss when I clicked it and discovered it had actually deleted the underlying game ROM.

[2018-11-28 17:13] c0d3h4x0r commented on #504
I ran RetroPie-Setup and updated everything less than a week ago, yet my installed version of EmulationStation is still self-reported as 2.7.6rp.  Sounds like the RetroPie-Setup script is not fetching all of the latest stuff.

[2018-11-28 17:18] pjft commented on #505
Thanks for the report. We understand the frustration and the potential inconsistency in semantics, but there’s no need to add the bold format to the words. Truth be told, it’s been like that for the past handful of years, even from when Aloshi started the project. In all these years maybe a handful in total have experienced this issue.

To be fair, the delete button pops up a message saying “THIS

[2018-11-28 17:19] pjft commented on #504
It’s in the dev branch. You can get it in the experimental packages, as emulationstation-dev.

[2018-11-28 17:33] c0d3h4x0r commented on #505
At the very least, the message should be changed to clarify which file(s) will be deleted... even saying "THIS WILL DELETE THE ACTUAL GAME FILE(S)" would be much clearer.

[2018-11-28 17:34] c0d3h4x0r commented on #505
"This is the way it is intended to work" is never a good justification for poor UX design.

[2018-11-28 17:45] HerbFargus commented on #505
Just because you deem a feature a bug and call it bad UX design isn't going to fix it. Source code is open, nobody here is paid so feel free to submit a well written pull request with a solution

[2018-11-28 17:56] c0d3h4x0r commented on #505
Alright, I will.  Which branch should I prepare a pull request against -- master?  stable?  unstable?

[2018-11-28 17:57] c0d3h4x0r commented on #504
I see.  Thanks, I'll give that a shot!

[2018-11-28 17:59] c0d3h4x0r commented on #505
But I should also point out that expecting all users to also be developers is not a reasonable expectation.  In this case, I just happen to also be a developer... but if I weren't, it wouldn't mean my feedback about the UX would be invalid.

[2018-11-28 18:10] pjft commented on #505
To be clear, nobody is saying that “this is the way it is intended to work” is a justification for poor UX design by itself. As I stated in my first post, data does back this up - the project has been live since 2015 at least, and out of thousands (tens of thousands? Hundreds of thousands?) of users, this specific issue/report isn’t frequent enough to warrant changing the behavior for everyone els

[2018-11-28 18:12] pjft commented on #504
By all means. I imagine that the audio menu also changed a bit, so if you have issues with audio you’ll need to go to that menu and explicitly select an audio output device from what will show as an empty list. If you go to the audio menu and don’t select an entry from that list, it will likely crash (it is lacking a proper upgrade path).

If audio works well, stay away from the audio menu :)

[2018-11-28 18:18] c0d3h4x0r commented on #504
Yikes!  Thanks for the warning.  I never would have been able to figure that out on my own :)

[2018-11-28 18:20] c0d3h4x0r commented on #505
Thanks!  I'll prep a pull request to master.  Changing the message is an acceptable enough UX correction.

[2018-11-28 18:21] pjft commented on #504
Well, if you end up changing the audio settings and then revert back to the main ES build, you’ll need to do it again - that’s why I’m mentioning it, as I run into that every now and then when I’m testing the development builds. If you don’t touch it, it’ll be just fine!

[2018-11-28 18:22] pjft commented on #505
Perfect - thank you! GuiMetaDataEd.cpp is where you’ll want to change things, I believe.

[2018-11-28 18:34] c0d3h4x0r commented on #505
Looks like I don't have permission to create my own branch of RetroPie/EmulationStation.  Do I really have to make a fork in order to create a pull request?  If so, I'm going to need to figure out how to create a secondary fork within my GitHub account, because I already have an existing fork of Aloshi/EmulationStation, and hitting the "Fork" button on RetroPie/EmulationStation just takes me to th

[2018-11-28 18:49] c0d3h4x0r commented on #505
Looks like GitHub doesn't sensibly support multiple forks under a single user account, so I just deleted my fork of Aloshi/EmulationStation.  (I guess I'll have to recreate a relevant pull request I had already created off of it.)

[2018-11-28 18:57] c0d3h4x0r commented on #505
See pull request [https://github.com/RetroPie/EmulationStation/pull/507](https://github.com/RetroPie/EmulationStation/pull/507).

[2018-11-28 18:59] c0d3h4x0r commented on #503
I had to delete my fork of Aloshi/EmulationStation (which means the pull request I created from it will be gone as well).  I'll create a new pull request for this issue using my new fork of RetroPie/EmulationStation.

[2018-11-28 19:03] cmitu commented on #504
I don't think the new APi for TheGamesDB.net has been integrated, it's just using the same api, but - as @c0d3h4x0r said - with a different endoint (https://legacy.thegamesdb.net). The new API requires a  API Key and is JSON based, plus it limits the no of requests at 1000/month (per IP) AFAIK.

See for instance [this recent discussion](https://forums.thegamesdb.net/viewtopic.php?f=11&t=330) on th

[2018-11-28 19:16] c0d3h4x0r commented on #504
Indeed, that appears to be the case, at least in 'master' -- it's still using the old API via http://legacy.thegamesdb.net (note that there's no SSL/https set up/working for that URL).

[2018-11-28 19:23] cmitu commented on #504
@c0d3h4x0r He's referring to the `-dev` as in the `emulationstation-dev` package in the RetroPie-Script, which installs the `master` branch.

[2018-11-28 19:48] muldjord commented on #504
The new tgdb API is a bit more difficult to implement than the old one since they've started using ID's for developer and publisher instead of their actual names. So there needs to be made several queries for each. On top of that it is limited to 1000 requests per user per month per API key. It works pretty well when the work is done (as I've done in Skyscraper), but it is a bit of a step down fro

[2018-11-28 19:58] c0d3h4x0r commented on #504
@muldjord what is "the vastly superior screenscraper database"?

[2018-11-28 19:59] cmitu commented on #504
@muldjord I have a prototype working for SS..

[2018-11-28 20:03] muldjord commented on #504
@c0d3h4x0r It's a checksum based database. https://screenscraper.fr/

@cmitu I think that would be a great addition to ES.

[2018-11-28 20:08] cmitu commented on #504
@muldjord I just used [this doc](https://screenscraper.fr/webapi.php) for tests, I'm not sure which version of the API it is.

[2018-11-28 20:13] c0d3h4x0r commented on #504
That sounds awesome.

[2018-11-28 20:18] muldjord commented on #504
@cmitu That's v1. v2 is still unofficial but stable. Can be reached at https://www.screenscraper.fr/api2
The calls are the same, it's the returned xml that's changed a bit.

[2018-11-28 21:46] c0d3h4x0r commented on #504
Wow... https://screenscraper.fr/ is an unusable mess.  It doesn't work at all under Chrome (all the JavaScript-based buttons do nothing; I had to use Firefox to even just register an account there).  Its SSL certificate is invalid (according to Firefox), so I had to add a security exception for it to even get the page to load.  Clicking on the US flag for "preferred region" doesn't seem to do anyt

[2018-11-28 21:49] c0d3h4x0r commented on #504
It also looks like screenscraper.fr only stores/uses the hashes of the .cue files, which isn't even the important part (and which can change from person-to-person depending on the filename they choose to use for the .cue/.bin pair).  For CD images, the .bin file is what matters.

[2018-11-28 21:50] muldjord commented on #504
@c0d3h4x0r Don't be fooled. SS is the best retro database out there. Their website might be a mess, but the database is stellar. I have no idea why it wouldn't find your roms. It finds pretty much all of mine with all media.

[2018-11-28 22:46] c0d3h4x0r commented on #504
How about https://gamesdb.launchbox-app.com/?  That looks like a much better done web site, at least, and they seem to have entries for a bunch of my more obscure Japanese TG16 CD-ROM games.  Not sure if they are hash-based or not though.

[2018-11-28 23:10] muldjord commented on #504
I don't know it so I couldn't tell you. It might be better for your use case. I'll check out if they have a sensible API. It might make sense to implement it in Skyscraper if it's not too limited or closed.

[2018-11-30 06:49] c0d3h4x0r commented on #504
@muldjord Using hashes of .cue files is never going to reliably find matches because when people rip an original disc to a .cue/.bin pair, they can give the pair whatever name they want -- and the .cue file will always contain the .bin filename, because that's how .cue/.bin pairs work.  So the only thing that makes any sense to hash and scrape is the .bin file.

[2018-11-30 06:54] muldjord commented on #504
Depends what cue files you have, but for lesser known cue files (ones
you've created yourself) you are absolutely right.
On Fri, 30 Nov 2018, 07.49 Keith F. Kelly <notifications@github.com wrote:

[2018-11-30 07:02] c0d3h4x0r commented on #504
If a user wants to rename a .cue/.bin pair and manually modify the .cue file to reflect the new .bin filename, that will also render the .cue file unusable for hash-matching.  I know I've renamed plenty of .cue/.bin pairs over the years.

[2018-11-30 09:17] muldjord commented on #504
Yes, of course.

I think this has gone off-topic. I don't have further to add to the topic.

[2018-12-01 11:41] CookiePLMonster opened #508 "v2.7.6RP installs without CEC support"
As per this commit: https://github.com/RetroPie/EmulationStation/commit/074e22ee37bec76327b36cd84a4425953ec7f880

ES is supposed to support CEC, however as far as I can tell whatever "Update from binary" obtains doesn't ship with that.

What I had to do to get CEC support was:
1) Install `libcec4-dev` (is `libcec-dev` an equivalent meta-package like `libcec` is to `libcec4`?)
2) Install `libp8-pla

[2018-12-02 18:43] CookiePLMonster commented on #340
I can sadly confirm that it's either not working correctly or it's not documented well enough. It appears that .svg files from `%home%/.emulationstation/resources/ ` are not used.

I have not previewed the code, mind you, just based on the instructions given above.

[2018-12-03 03:03] supercolom642 opened #509 "Mayflash Dual N64 Adapter Continues to Give Problems"
For the last three days or so I have been tearing my hair out over trying to properly configure the embodiment of Satan for use with RetroPie, the Mayflash Dual N64 to USB adapter.

After looking at and attempting this https://retropie.org.uk/forum/topic/7959/mayflash-n64-controller-adapter-problems-all-buttons-configure-in-es-but-no-config-files-generated-or-saved/22
this https://www.reddit.com/r

[2018-12-03 07:43] pjft commented on #509
This is really something that should be posted in the forums, not here.

I imagine that you'd be able to address this with xboxdrv:

https://github.com/RetroPie/RetroPie-Setup/wiki/Universal-Controller-Calibration-&-Mapping-Using-xboxdrv

Or maybe xpad.

Best.

[2018-12-03 13:35] #509 closed

[2018-12-03 13:36] joolswills commented on #508
Currently it is. I wanted to do some testing before building with libCEC support.

[2018-12-03 13:36] #508 closed

[2018-12-10 14:50] terzag opened #510 "Compiling and using ES on Ubuntu (not Pi)"
Hello,
I'm looking at your fork of EmulationStation as it seems a bit more up to date compared to the original version. Though, I intend to use it on Ubuntu as a standalone app, not on a Pi with RetroPie.

I cloned the repo, compiled it, all went fine. When I run the bin from the compilation directory, it works well, but as soon as I move it elsewhere, I get the following error:

[code]
(/home/ter

[2018-12-11 01:48] 5schatten commented on #510
Do you mov/copy the `resources` folder  too?

[2018-12-11 09:50] terzag commented on #510
No. As the version from Aloshi doesn't seem to have them installed, I thought they were "embedded" in the binary. Where should I put them for the bin to find them (assuming it'll be in /usr/bin)?

[2018-12-11 18:12] #510 closed

[2018-12-11 21:12] terzag commented on #510
Thanks, it works. Has the suggestion to look for the resources in /usr/share (as in #427) been implemented or is planned?

[2018-12-11 21:16] joolswills commented on #510
No I don't think it has been implemented, but it could be if someone contributes the changes (I don't have time currently). Note that this fork of ES is developed for use with RetroPie, not as a standalone project etc.

[2018-12-14 02:44] moononournation opened #511 "Screen Saver Environmental Friendly Option"
There are no option to turn the screen off after idle a certain of time. It is very waste of power especially you choose black out the screen, you will not award the screen still turned on and waste tens or hundreds of Watts overnight. #377 is a good suggestion to add a custom script option to operate power saving stuff.

[2018-12-24 14:08] herebcs opened #513 "Scraping is broken on Windows (in some cases)"
ES on Windows sometimes detects totally independent files as equal because isEquivalent is not properly implemented. The stat64 based approache does not work for files with the same length and creation date, but this is a typical setup for certain emulators. In these cases you do not scrape the actual roms, but different files containing ids, descriptors, etc. Moreover these files are frequently g

[2018-12-30 12:53] alexandrevicenzi opened #514 "[Feature Request] Ability to start from main menu"
This is mainly to allow Kodi from the main menu, not the sublist. Kodi is a standalone app, thus it does not need to show a "game list".

It would be nice to just hit Kodi and start it from the main screen, currently, there's a need to hit the gamepad twice to start Kodi.

With a few changes in SystemView and SystemData this can be done. My suggestion is to add a new optional tag to the xml cfg fi

[2018-12-30 12:59] alexandrevicenzi opened #515 "[Feature Request] Ability to set custom description"
Right now ES can only show "X GAMES AVAILABLE" description. It would be nice to have a custom message as for example "X PORTS AVAILABLE", "X APPS AVAILABLE" or anything else.

With a few changes in SystemView and SystemData this can be done. My suggestion is to add a new optional tag to the xml cfg file, like:

[code]

I would be happy to send a PR for this change.

[2019-01-04 05:05] acrummyidea opened #516 "Scraper no longer working"
TheGamesDb offlined for good their legacy api endpoint so the default scraper no longer works. Possible solutions include supporting the new json api, or adapting one of the other available scrapers

[2019-01-05 22:09] acrummyidea commented on #516
I’m taking a stab at modifying the scraper to use the new api

[2019-01-06 11:53] 5schatten commented on #516
Just wondering if it would make sense & of course be possible to adopt the API to https://screenscraper.fr if you have to re-write it anyway...?

[2019-01-08 02:34] Tom-Neverwinter opened #517 "[feature request] document controllers."
I have a ton of controllers at my disposal, however documentation for adding them to the built in hard-coded list is abysmal. If I have a write-up I can add several controllers to the list

ps4 models not even recognized [yes! they are official controllers!]

[2019-01-08 02:38] acrummyidea commented on #516
I'll  take a look. I have a working version using thegamesdb. I should be able to send a PR it in a few days. The code supports multiple scrapers so it's possible to have both.

[2019-01-08 19:32] #503 closed

[2019-01-08 19:59] joolswills opened #518 "New ES stable release"
Hi all - @jrassa @psyke83 @@tomaz82  et al

Anyone know any major issues on the trunk version? - It's been a long time since a stable release with new features etc, and there are a bunch of bug fixes on master.

If people think the current dev version is stable, I would be happy to update the stable branch,

[2019-01-08 20:01] joolswills commented on #518
Apart from the broken scraper of course. I'm planning on disabling that (at least until we have a replacement using screenscraper or something).

[2019-01-08 20:07] pjft commented on #518
I am not aware of any meaningful issues on the dev branch. There's a small issue with the upgrade path for the new audio settings which I'm not fully comfortable with - it can lead to a crash when in the menu - but other than that all good.

I do wonder: is it still useful to have the two branches?

Happy New Year everyone.

[2019-01-08 20:10] joolswills commented on #518
Well, there was some major development before on master, which wasn't ready right away, so the stable branch is useful. I like having a stable branch so we don't have to worry too much if there is a bug with a new feature.

[2019-01-08 20:12] joolswills commented on #518
There is this also 9ab5223d352e330fb9e9362ad39e156e111d1cfb - which I did only on stable, but I think I may do that on master also, until there is a better solution as it's a big performance hit.

[2019-01-09 04:59] cmitu commented on #518
I am planning to submit a patch for the scraper, enabling scraping from ScreenScraper.fr (https://github.com/cmitu/EmulationStation/tree/screenscraper).
The new addition works only `master`, since it uses some functions added after the Boost elimination, but can probably added to the `stable` with a few additions.
If you plan to change the `stable` branch, it would be helpful to merge the changes

[2019-01-09 05:42] joolswills commented on #518
Thanks. Please submit PR for master. I'll merge and update stable for a new release (I might do a couple of minor things also).

[2019-01-09 06:09] cmitu commented on #518
@joolswills Done - https://github.com/RetroPie/EmulationStation/pull/519.

[2019-01-10 01:02] acrummyidea commented on #516
@5schatten the PR is in. Any additional testing is welcome and appreciated :)

[2019-01-10 01:05] acrummyidea commented on #518
@joolswills  Updated TheGamesDB scraper PR is in: #520

[2019-01-10 13:15] 5schatten commented on #518
@joolswills
I've tried https://github.com/RetroPie/EmulationStation/pull/520 and LGTM. Scraping worked fine for my tested games (Doom/Doom2/Quake).

[2019-01-14 01:30] acrummyidea commented on #518
@joolswills let me know if I can help in any way :)

[2019-01-18 17:23] css459 opened #521 "Linker Error for Freeimage: Undefined References"
When attempting to compile from source, I'm able to compile object files successfully, but fail when linking. Specifically, I get undefined references in freeimage:

[code]

The submodules have been pulled in, I'm using g++ 8, and I believe I have all the dependencies installed. Here is a list of packages and pkg_configs that I am using:

[code]

Here are my LDFLAGS:

[code]

I'm using Solus as my

[2019-01-18 17:51] css459 commented on #521
I also found this in the output for cmake, should I be concerned?

[code]

[2019-01-19 07:18] cmitu commented on #521
Are you sure it's not a x86 vs x86_64 problem - i.e. you have the x86 version of FreeImage installed ?

[2019-01-23 08:45] Nikorasu95 commented on #516
When will this be merged?

[2019-01-23 10:43] tomaz82 commented on #516
When it's done

[2019-01-23 13:36] Nikorasu95 commented on #516
Jeez, I was just asking, Mr. Smart-Aleck. In case you didn't know, there are a lot of people who scrap their games with the built-in scraper because of its ease of use versus using other scrapers. At least have it where you can change the built-in scraper to a different one just like in RecalBox instead of having to enter the Retropie Setup or command line to scrap individual games.

[2019-01-23 13:51] HerbFargus commented on #516
Nobody here works for you. Everything is open source so feel free to merge in the patches manually on your own build if you're too impatient for these blokes who do this in their free time. Their time is probably better spent coding than fielding requests on when they'll be done.

[2019-01-23 13:57] joolswills commented on #516
Congratulations @Nikorasu95. You have made it to the blocked users list..

[2019-01-23 14:07] joolswills commented on #516
He got blocked for making a personal attack. And use the forum not this ticket please. This is not the place for your thoughts and help on scraping.

[2019-01-23 14:10] Lumbeeslayer commented on #516
Or that people are just so rude on Github and rather block someone instead of communicating. This article explains it all! https://www.zdnet.com/article/github-open-source-is-dominated-by-men-who-just-cant-communicate/

[2019-01-23 14:10] dankcushions commented on #516
@Lumbeeslayer you're the same person as @Nikorasu95.

https://forums.dolphin-emu.org/Thread-unofficial-ishiiruka-dolphin-custom-version?page=562
https://github.com/RPCS3/rpcs3/issues/4341

i see you've made a bit of a habit out of creating extra accounts in order to pester those who do the work (for free) that you're not able to.

[2019-01-23 14:10] pjft commented on #516
@Lumbeeslayer this is getting a bit off track. @tomaz82 's and @HerbFargus 's answers might have been short or in a different direction, but they were far from attacks or being rude. They were just facts. And, in fact, @HerbFargus 's answer was actually productive in that it offered an alternative for anyone to start using the code in the meantime.

Anything and everything here is a benefit, not a

[2019-01-23 14:11] Lumbeeslayer commented on #516
https://www.zdnet.com/article/github-open-source-is-dominated-by-men-who-just-cant-communicate/
I don't know how you can come to an conclusion that person is also me. In case you didn't know there an estimate of more than 7.53 billion in the world. That can be anyone.

[2019-01-23 14:19] dankcushions commented on #516
@Lumbeeslayer because you two are all over net saying "I think lumbeeslayer/Nikoraus95 is right. here's another

https://forums.dolphin-emu.org/Thread-unofficial-ishiiruka-dolphin-custom-version?pid=424184#pid424184

have a real hard think about how you conduct yourself.

[2019-01-25 02:10] joolswills commented on #518
Testing es dev. Reproduced the crash in menu due to unset audio card. That definitely needs sorting. If unset we need to choose a default I guess. Not checked the code related to this.

[2019-01-25 04:42] cmitu commented on #518
I can take a look. I guess the problem is caused by the https://github.com/RetroPie/EmulationStation/pull/460 ?

[2019-01-25 08:12] pjft commented on #518
Yep. Happy to look into it either way, I suppose it's just a matter of, when losing the settings, if the value isn't recognized, selecting an appropriate new value for the pi (or the device).

[2019-01-25 12:07] pjft commented on #518
I'll look into it tonight, likely.

[2019-01-25 14:04] pjft commented on #518
#523 should actually do it.

[2019-01-30 11:47] Shawson opened #524 "XInput devices under windows all have the same deviceGUID"
All XInput devices under windows have a guid which is just a hex representation of the word "xinput"

I understand this is a default for xinput devices under SDL on Windows, however it means it's impossible to match the config to a specific controller if you want to remap the controls under retroarch (as you can't get the pid/vid combo)

Is it possible to maybe grab the vid and pid separately and

[2019-01-30 18:57] joolswills commented on #524
There is a ticket for this at RetroPie-Setup - I doubt this will be fixed any time soon.

[2019-02-03 15:19] Shawson commented on #524
well for windows at least I've written a quick c# command line app which accepts the es guid and device name and tries to match it against currently connected controllers to return the pid/ vid.  I'll put up a repo for it incase it's of any use to anyone else!

[2019-02-08 21:24] joolswills commented on #518
@tomaz82  I was thinking - rather than revert cd2f2ee4 would it be better to make it optional (but default to off). That way people can use it if they want. If so, what should the setting be called ? "Load matching art not in gamelist" ? hard to word this one.

[2019-02-08 21:39] joolswills commented on #518
eg -https://github.com/RetroPie/EmulationStation/pull/526 - anyone have anything against this ?

[2019-02-09 11:38] gilbertohasnofb commented on #516
I see that the PR with the fix for this has been merged but I am still having issues with the built-in scraper. I am on a Raspberry Pi 3 B+ and I updated my EmulationStation from source using RetroPie's setup script, launched as root. Am I trying to update it wrongly?

[2019-02-09 16:24] acrummyidea commented on #516
When you select the scraper do you see one or two scrapers available? If you see 2 you’re in fact using the latest version. For the gamesdb scraper the first time you run it you may have to wait up to a minute and a half to download 3 resource files. After that it will be quick.
Can you tell us more precisely what problem are you observing?

[2019-02-09 16:41] HerbFargus commented on #516
Ah that explains the initial delay. Works great for me as of compilation last night

[2019-02-09 17:17] joolswills commented on #516
They are not running the -dev version - I've not yet merged this to the stable branch. @gilbertohasnofb you need to install emulationstation-dev to test this currently. Please use the RetroPie forum for further support. Will close this ticket now.

It will be merged to the stable branch when I have finalised some other changes.

[2019-02-09 19:45] joolswills commented on #518
Stable branch is updated (to v2.8.0). Thanks all.

[2019-02-09 19:45] #518 closed

[2019-02-09 22:46] gilbertohasnofb commented on #516
That explains it. I will wait for this to be available on RetroPie and I am happy to report back here once it starts working again. Thanks a lot!

[2019-02-09 22:46] bastianbeischer commented on #427
I have been running into this after updating retropie-setup and then updating all packages, which pulled the new (binary!) version 2.8.0 of emulationstation. Is this a packaging error?

[2019-02-09 22:52] joolswills commented on #427
https://retropie.org.uk/forum/topic/21196/emulation-station-will-not-boot-after-update

Being worked on.

[2019-02-09 22:52] joolswills commented on #427
(Please use the forum for support).

[2019-02-09 23:32] 5schatten commented on #518
can you tag the release?

[2019-02-10 00:49] joolswills commented on #518
I will later. Just build from the stable branch for now.

[2019-02-10 09:10] retrorepair commented on #516
So some feedback on the new scraper code.

TheGamesDB was working great (aside from a few crashes) for a while but suddenly it stopped working (mid scrape) and won't work at all now. The log shows:

"lvl1: 	TheGamesDBJSONRequest - Response had no game data."

I tried removing the .json database files in /scrapers but that didn't help.

Screenscraper picks a random(?) game and applies it to every g

[2019-02-10 09:14] retrorepair commented on #516
Also, is there a way to scrape Neo Geo CD games? Seems there is zero support for this system in RetroPie/ES.

So glad you guys are working on the built in scraper though, I can't use the external ones as my roms directory is on another drive and honestly they are a bit difficult to use!

[2019-02-10 09:16] retrorepair commented on #516
Sorry, I can't edit my post for some reason, but when I delete the .json files in /scrapers ES doesn't create them again.

[2019-02-10 17:16] retrorepair commented on #516
Ok, so I updated seeing the screenscraper issue was fixed and that source is now working :)

Every 10 or so scrapes though it'll say "Error saving resized image. Out of memory? Disk full?" Neither of these is true.

From the log:

"lvl0: 	Error - File type unknown!
lvl0: 	Could not initialize texture from memory, invalid data!  (file path: , data ptr: 85132224, reported size: 37)
lvl0: 	Could not

[2019-02-10 17:37] retrorepair commented on #516
Also it skips about a hundred or so roms when it does that, sometimes it'll skip about a hundred roms on it's own.

[2019-02-10 17:43] retrorepair commented on #516
file:///home/ra/.emulationstation/es_log.txt
Thought it'd be easier to just post the log here

[2019-02-10 17:45] retrorepair commented on #516
Thought it'd be easier to just post the log here

[2019-02-10 19:08] acrummyidea commented on #516
@retrorepair, both the initial description and the fact that the resource files are not being downloaded suggest that you may have used up all the allowed monthly API calls. I don't recall the monthly allowance but it should be around 1500 if you have  scanned 1000+ games I'd say that's the issue. I should have checked for that and printed an explicit warning I guess

[2019-02-10 19:15] retrorepair commented on #516
@acrummyidea I didn't know that but to be fair, it will keep scraping after that so don't know that's the issue.

[2019-02-13 20:13] cmitu commented on #516
I guess this issue can be closed now.

[2019-02-13 20:15] cmitu commented on #504
Should be fixed now by #520

[2019-02-13 20:21] joolswills commented on #516
Yep. Thanks.

[2019-02-13 20:21] #516 closed

[2019-02-13 20:21] #504 closed

[2019-02-20 08:39] retrorepair opened #534 "Build fails on Ubuntu 16.04 relating to libcec"
I'm getting build errors with the latest setup script (as well as a straight git clone) on ubuntu 16.04.

It seems to relate to libcec which I assume is a new addition as it's not noted in the compile requirements in the readme?

I'm posting the log here as I can't attach on my current version of firefox (apparently the code tag isn't working for me either!):

Log started at: Wed 20 Feb 08:24:50 G

[2019-02-20 08:41] retrorepair commented on #534
I should note I've tried through the retropie setup script and a straight git clone, both results in the same error.  I've manually installed cec-utils, libcec-dev and libcec-platform-dev though I assume the script installs all that's needed anyway?

[2019-02-20 08:44] joolswills commented on #534
remove libcec-dev and compile without. 16.04 is too old for libcec support unless you install a newer lib from elsewhere. RetroPie doesn't really support or test on 16.04

[2019-02-20 08:44] joolswills commented on #534
Also, please use the RetroPie forum for support. Thanks.

[2019-02-20 08:44] #534 closed

[2019-02-20 09:22] retrorepair commented on #534
Fair enough. Yeah that worked.

FYI, the cmake config doesn't download the pugixml source when cloning the git, I had to do that manually.

[2019-02-20 09:35] joolswills commented on #534
Correct. the git checkout isn't done by cmake. It's done by retropie (or you can do it manually). this is by design.

[2019-02-25 19:46] ExpatUK commented on #340
I _can_ confirm that it is working correctly as intended.

Reference files/folder structure:
/opt/retropie/supplementary/emulationstation/resources/help

Overwriteable by user:
/opt/retropie/configs/all/emulationstation/resources/help

This is wonderful for easily swapping in my PS3 glyphs :)

[2019-02-25 19:47] #340 closed

[2019-02-25 19:47] joolswills commented on #340
thanks.

[2019-03-03 12:36] dudleydes opened #538 "Jagged Font in Gamelist Basic View"
This relates to the jagged font bug that has been in EmulationStation since ES 2.0 was released in July 2014. There remains an [open ticket](https://github.com/Aloshi/EmulationStation/issues/176) at Aloshi's Github page. The issue was discussed recently at the [forum](https://retropie.org.uk/forum/topic/21426/distorted-font-font-not-rendering-correctly-in-certain-es-theme).

The bug is straightfor

[2019-03-03 19:33] pjft commented on #538
Thanks. This had been a longstanding pet peeve for me, though to be honest I had never bothered to look into it.

Your tests and description pretty much spelled out that it would be a rounding error, which seems to be the case.

I submitted #539 which should fix it, but would certainly appreciate your confirmation.

[2019-03-04 04:39] wuelliott opened #540 "void libvlc_media_parse(libvlc_media_t*) is deprecated [-Wdeprecated-declarations]"
[ 41%] Building CXX object es-core/CMakeFiles/es-core.dir/src/components/VideoVlcComponent.cpp.o
/home/pi/es290/es-core/src/components/VideoVlcComponent.cpp: In member function ‘virtual void VideoVlcComponent::startVideo()’:
/home/pi/es290/es-core/src/components/VideoVlcComponent.cpp:302:5: warning: ‘void libvlc_media_parse(libvlc_media_t*)’ is deprecated [-Wdeprecated-declarations]
     libvlc_me

[2019-03-04 16:16] #538 closed

[2019-03-05 20:54] CamJRP opened #542 "Not able to build from source in Xubuntu 18.10"
I just followed these instructions to build from source in xUbuntu 18.10:
EmulationStation uses some C++11 code, which means you'll need to use at least g++-4.7 on Linux, or VS2010 on Windows, to compile.

EmulationStation has a few dependencies. For building, you'll need CMake, SDL2, FreeImage, FreeType, cURL and RapidJSON.  You also should probably install the `fonts-droid` package which contain

[2019-03-05 21:40] #542 closed

[2019-03-05 21:42] CamJRP opened #543 "Can't open or execute ES in Xubuntu 18.10"
After trying to execute the program from terminal i get this error message:
lvl0: 	Error - File type unknown!
lvl0: 	CECInput::mAdapter->DetectAdapters failed
emulationstation: /home/camilo/EmulationStation/es-core/src/resources/Font.cpp:17: Font::FontFace::FontFace(ResourceData&&, int): Assertion `!err' failed.
Aborted (core dumped)

After compiling the program i used "cmake install" in order to

[2019-03-06 01:29] joolswills commented on #543
You didn't copy/install the resources folder. Please use the retropie forum for support though.

https://github.com/RetroPie/EmulationStation/issues/510#issuecomment-446288480
[code]

[2019-03-06 01:29] #543 closed

[2019-03-08 12:41] jueank opened #544 "[Feature Request] Ability to suppress platform suffix in game names inside custom collections"
Currently, all game titles in detail list of ES show brackets with the platform name as a suffix when they are part of custom collections. E.g. Centipede [arcade] This is irritating, because game titles are less readable. Especially if this is shown in every line. Also for longer game titles, this takes lot of screen space horizontally in the list.
I have custom collections which are only subsets

[2019-03-08 15:23] pjft commented on #544
If you want to take a stab at it, I'll gladly point you in the right direction.

You're looking to change this function here:

https://github.com/RetroPie/EmulationStation/blob/master/es-app/src/FileData.cpp#L343

And add an option for it.

Otherwise, in general it's usually best to post and discuss feature requests in the forums.

[2019-03-10 21:12] johnmanko commented on #484
Why can't you use a symbolic link?

[2019-03-12 02:15] animeai opened #547 "Installation failed on ODroid UX4 Ubuntu 18.04"
- Odroid UX4
- Ubuntu 18.04 LTS minimal install from https://odroid.in/ubuntu_18.04lts/ubuntu-18.04.1-4.14-minimal-odroid-xu4-20181203.img.xz
- Installation via RetroPi install script

[code]

Fixed by installing via apt: "libglfw3 libglfw3-dev mesa-utils libgles2-mesa-dev libgles2-mesa" and running "cp /usr/share/mali/headers/KHR/khrplatform.h /usr/include/GLES/khrplatform.h"

Am unsure which ste

[2019-03-12 05:47] joolswills commented on #547
Looks like a missing header. Possibly dependencies changes on more recent odroid images. It's been a while since I tested. I will look into it. Thanks.

You might do better to try it on the armbian image. I'm looking at using that as a base image for some boards as it would simplify our support (in theory).

[2019-03-12 07:15] cmitu opened #548 "Crash when switching the unsupported gamelist view style."
This was reported some time ago after the 2.8.0 release in https://retropie.org.uk/forum/topic/21216/update-to-4-4-7-no-more-pictures-in-es/13.
Basically, when switching the `Gamelist view style` to _Grid_, ES will crash when the current used theme doesn't support this view style. Crash is avoided only if both theme and view style are changed at once (before exiting the menu).

I'm logging this so

[2019-03-24 15:49] oliver commented on #326
I encountered the same problem: in Favorites list I pressed Y (mostly because the key settings on my Xbox pad are weird) and found that this immediately removes the current game from the list. This was kinda annoying.

One way to improve this might be to make this action easier to undo. Maybe don't remove the game from the list immediately but only when leaving the Favorites list (and mark it as "

[2019-03-28 22:27] cmitu opened #552 "Crash while disconnecting a controller"
I'm experiencing a possibly related issue to the SDL update to 2.0.9, on a pretty much stock 4.4.11, Pi 3B.

If I unplug the 2nd controller while ES is running, it crashes and I get the dialog with 'ES Crashed...' https://github.com/RetroPie/RetroPie-Setup/blob/1446ce55fa269fc757a9deb649105405865513db/scriptmodules/supplementary/emulationstation.sh#L231).

I used 2 USB controllers - a regular SNES

[2019-03-30 11:50] cmitu commented on #552
So far it seems a `libsdl` issue, related to generating events after disconnecting the controller.
Using a SDL2 built with `SDL_DEBUG_EVENTS` and the SDL provided `testhotplug.c` program, this is the difference when plugging and un-plugging the gamepad:

== **Using 2.0.9**
[code]

== **Using 2.0.8**

[code]

It looks like some spurious `SDL_JOYAXISMOTION` events are generated on connect/disconnect

[2019-04-03 04:02] cmitu commented on #552
So it looks like something similar got reported in https://retropie.org.uk/forum/topic/21846/. I was afraid it was a local thing, particular to my system. I did some more testing after my last update and noticed the DS4 issue was not appearing 100%, but connecting and disconnecting it would eventually make the spurious events appear.

I tested also with the lastest SDL (from their Hg repo) and I d

[2019-04-09 06:14] apassiou opened #556 "Kid mode does not have "shut down" option"
When in Kid mode, Start button does not bring up the menu with option to shut down.

[2019-04-09 10:52] pjft commented on #556
Correct, that is by design. It's meant to be a mode where you can leave the kids to play without risking them being able to exit or break things.

If you're looking for a more locked down mode, Kiosk mode would be what you're looking for.

Still, for such feedback we recommend going to the forums at https://retropie.org.uk/forum/

Thanks.

[2019-04-09 10:52] #556 closed

[2019-04-09 21:58] apassiou commented on #556
But by this design it is precisely the problem that I cant leave the kids with the retropie to play their games. I have to ssh into it and shut it down via a command in order for them to move to a different TV or turn it off for any other reason. Alternative is to leave it on 24/7 and never move it. Which is just unrealistic.

I view kid mode allowing the kid to do no more and no less what a stand

[2019-04-10 06:57] pjft commented on #556
I'll say it again. Kiosk mode does what you're describing - it locks things similarly to what you want, and keeps the shutdown options and audio. That is an alternative which I'm not sure why you are not even considering or exploring it.

https://github.com/RetroPie/RetroPie-Setup/wiki/Child-friendly-EmulationStation

Because some "kids" will power it down by mistake and then won't know how to pow

[2019-04-10 20:40] apassiou commented on #556
I did attempt using Kiosk mode, but it does not obey "kid game" flag. So instead of labeling a dozen or so games from thousands and taking a minute, I would have to set (thousands-dozen == still thousands) games to hidden, which would take many hours, if not days. So unless I missed something kiosk mode is not usable for only whitelisting a few games (and then whitelisting more and more as the kid

[2019-04-10 23:00] pjft commented on #556
Ah, got it, you're right. The use case is the opposite in that you specifically the files to choose vs to hide.

I mean, if you want to develop that button as an option do submit the PR, I don't think anyone will fundamentally object to it. And it's probably better to keeping multiple outdated forks.

Alternatively you could just create a shell script that calls 'sudo shutdown now' and invoke it f

[2019-04-10 23:18] apassiou commented on #556
Sounds good. I ordered the hardware for the button, but at some point down the road I think I will still add the code and submit as well. Thanks.

[2019-04-11 06:10] pjft commented on #556
Sounds good. The button will only call "sudo shutdown now" as well so if it's for shutting down it's equivalent to the script I suggested.

Thank you and all the best with your setup!

[2019-05-02 09:43] cosmo0 commented on #345
Closing because the issue is too old and my setup has changed too much since then.

[2019-05-02 09:43] #345 closed

[2019-05-07 12:19] PRIHLOP commented on #542
I have the same issue.

[2019-05-13 19:32] Loquo opened #564 "[feature request] "Beaten" and "Not working" metadata options."
Good afternoon.

I really would like to mark in any way what games can't be played properly (for example, that ones that should be played with periphericals like lightguns, keyboards type controllers, trackballs, spinners, NES power pad, ect., or... bad emulation), and in the other hand what games I have beaten.

I would be neat that we could mark any game as "not-working" or "beaten", in the same

[2019-05-13 20:10] pjft commented on #564
Thanks for the suggestion.

There's no current plan to add such icons to differentiate games for the moment. There was, at one time, an icon for favorite and kidgame, but that no longer exists as the specs for the layout side of things weren't further developed.

I imagine starting with those two would probably be the first step to even consider adding further icons, if even agreed upon.

But for

[2019-05-13 20:10] #564 closed

[2019-05-14 17:35] Loquo commented on #564
Ok, thanks for the quick answer.

[2019-05-15 17:34] cmitu opened #565 "TGDB Scraper - search doesn't find some Genesis titles"
[Found from a report in https://retropie.org.uk/forum/topic/18435/emulationstation-scraper-not-working/99, logged so it doesn't get lost].

The TGDB scraper misses USA exclusive titles when searching, because TGDB separates the _Megadrive_ and _Genesis_ platforms. The scraper filters the search by the _Megadrive_ system, but the games are only found if the system filter is _Genesis_.

Examples:
-

[2019-05-17 07:48] 2play opened #566 "EmulationStation (Enhancements)"
(enhancement proposal-request)
-To go to the bottom of the menu in EmulationStation you have to go from top to bottom.
Can you please enable aslo to be able to go up at top so it can reach bottom option with one click
Its useful when you need to quit/reboot etc option

-Any Plans to add an onscreen Keyboard. I can point you to a fork with older code that had online KB and couple other enhancements

[2019-05-20 13:59] jlamoure commented on #311
Experiencing something similar to this.

I have ~/RetroPie symlinked to an external software raid. If it is not mounted and I don't realize it before starting ES, I get this error after a short splash screen and then my keyboard does not respond, forcing me to cut power or else do `$ emulationstation && sleep 10 && sudo reboot` in advance.

[code]

[2019-05-21 19:14] nadenislamarre commented on #552
issue created on sdl bug tracker : https://bugzilla.libsdl.org/show_bug.cgi?id=4640

[2019-05-22 12:53] cmitu commented on #552
@nadenislamarre Can you reproduce the problem using the SDL2 latest version (hg.libsdl.org) ? At the time I tested this, the problem seems to have been resolved sometime between the 2.0.9 release tag and current master.

[2019-05-22 15:10] shantigilbert commented on #552
@cmitu I still have the problem with the current master, specially with a DS4 gamepad, if you disconnect it or shake it a little bit ES will crash as well with other game pads, if you connect and disconnect them.

[2019-06-05 00:10] EricFromCanada commented on #427
If you're using RetroPie, one thing to check is the output of `which emulationstation`to verify you're running the one from `/usr/bin` placed there by its installer, rather than from `/usr/local/bin` as generated by this repository if you were to run `make install`.